<% content_for(:title, t('.title')) %>
<div class="max12800-container">
  <h1 class="midasi-title">
    <span class="f-text">F</span>low <span class="t-text">T</span>hing</span>
  </h1>

  <div class="item-list-container">
    
    <div class="item-list-card">
      <article class="item-card-container default-background">
        <details class="details-box">
          <summary class="item-summary-style">Flow Thingカードは</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプルの画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div>
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container yellow-background">
        <details class="details-box">
          <summary class="item-summary-style">Sub Thingと連携しており</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div>
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container yellowgreen-background">
        <details class="details-box">
          <summary class="item-summary-style">所属しているSub Thingの</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container t-red-background">
        <details class="details-box">
          <summary class="item-summary-style">状態でカード色が変わります</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container sakura-background">
        <details class="details-box">
          <summary class="item-summary-style">Sub Thingを放置すると</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container green-background blur-3-card">
        <details class="details-box">
          <summary class="item-summary-style">一緒にぼやけます</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container light-blue-background blur-5-card">
        <details class="details-box">
          <summary class="item-summary-style">こんなふうに</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container melon-background">
        <details class="details-box">
          <summary class="item-summary-style">カードの状態で</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container blue-background">
        <details class="details-box">
          <summary class="item-summary-style">なにかの目安に</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container purple-background">
        <details class="details-box">
          <summary class="item-summary-style">なるかもしれません</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container red-background">
        <details class="details-box">
          <summary class="item-summary-style">綺麗な色は11種類</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>

    <div class="item-list-card">
      <article class="item-card-container default-background">
        <details class="details-box">
          <summary class="item-summary-style">用意してます</summary>
          <span>日時</span>
        </details>
        <section class="item-objectbox">

          
          <div class="icon-object">
            <div class="icon-object">
              <div class="icon-object">
                <div class="myCanvas-icon"><%= image_tag('スクリーンショット 2024-01-29 11.01.31.png', alt: 'サンプル画像', class: "user-profileicon") %></div>
              </div>
            </div>
          </div>
          
          <div class="item-flex">
            <div class="icon-scale">
              <i class="bi bi-stars flying-star"></i>
              <div class="icon-scale">
                <div class="icon-object">
                  <%= image_tag('スクリーンショット 2024-01-29 11.05.51.png', alt: 'サンプルアイコン', class: "sample-image-icon") %>
                </div>
              </div>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#' do %>
                <i class="bi bi-pencil-fill pencil-fill-font"></i>
              <% end %>
            </div>

            <div class="pencil-fill-space">
              <%= link_to '#', class: "delete-memo-link" do %>
                <i class="bi bi-trash-fill trash-fill-font"></i>
              <% end %>
            </div> 
          </div> 
        </section>
      </article>
    </div>
  
  </div>
</div>




