<% content_for(:title, t('.title')) %>

<div class='p5canvas-container'>

  <% profile = current_user.profile if user_signed_in? %>
  <div class="sidebar" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">
    <div class="text-Rounded700"><h1 class="sidebar-title">アイデア</h1></div>
    <div class="menu-sidebar text-Rounded500">
      <ul>

          <%= link_to '空間を作ってみよう', idea_page_path + '#section1' %>
          
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">画像を加工しよう<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section1">
              <%= link_to 'ペイントを入れてみよう', idea_page_path + '#section2' %>
              <%= link_to '影をつけてみよう', idea_page_path + '#section3' %>
              <%= link_to '吊るしてみよう', idea_page_path + '#section4' %>
          </div>
        </li>

        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">ペイントで表現しよう<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <%= link_to '左右対称なペイント', idea_page_second_path + '#section1' %>
              <%= link_to 'レイヤーを活用しよう', idea_page_second_path + '#section2' %>
              <%= link_to 'ブレンドモードを活用しよう', idea_page_second_path + '#section3' %>
              <%= link_to '線画をレイヤー分けしないペイント', idea_page_second_path + '#section4' %>
              <%= link_to 'グラデーションを使ってみよう', idea_page_second_path + '#section5' %>
              <%= link_to '発光表現', idea_page_second_path + '#section6' %>
          </div>
        </li>

        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">アイテムを動かしてみよう<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section3">
              <a href="#section1">サンプルの詳細設定</a>
              <a href="#section2">アニメを組み合わてみよう</a>
              <a href="#section3">アニメを組み合わてみよう2</a>
          </div>
        </li>

<%# 
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">番外編<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <a href="#section1">キャラクターを作ってみよう</a>
              <a href="#section2">構想</a>
              <a href="#section3">ラフ(下書き)</a>
              <a href="#section2">カラーリング</a>
              <a href="#section2">線画</a>
              <a href="#section2">下塗り</a>
              <a href="#section2">塗り込む/完成</a>
          </div>
        </li>
          <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">番外編2<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <a href="#section1">ししゃもすくい</a>
          </div>
        </li> %>

      </ul>
    </div>

    <div class="sidebar-design">
      <%= image_tag('mirror.png', alt: 'アイデアページのサイドバーの画像', class: "sidebar-image3") %>
    </div>
  </div>



  <div class="sidebar-content">



    <div style="height: 7rem; width: 100px;"></div>
    
      <h2 class="explanation-section-title">
        <span class="text-line">アイテムを動かしてみよう</span>
      </h2>

      <div class="flux-screen-show-third-idea">
        <div class="flux-screen-show-frame-idea">
          <div id="react-idea-page"></div>
        </div>
      </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;  margin-top: 2rem;">
      <p>
        アニメーションを使用して作成したアイテムに動きをつけてみましょう。<br>
        ここでは上述の「サンプル」を例に「複数のアニメを組み合わせて作成できる動き」について紹介します。
      </p><br>
    </div>

    <section id="section1">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem; margin-top: 4rem;">
        <span class="sub-line">
          サンプルの詳細設定
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('idea_anime_fish.png', alt: 'グラデーションを使ってみようの説明', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        はじめに、このサンプルで取り上げるアニメーションの種類とアイテムの初期座標について図解を用いて説明します。<br>
        座標は範囲移動アニメーションを作成する上で重要な要素ですので、ぜひ参考にしてください。<br>
        この理解を深めることで、アニメーションの設定がより容易になります。<br>
        <span class="text-Rounded500" style="color: #EB625A; font-size: 0.85rem;">※図中のアイテムの位置とテキストで示された座標にズレがある部分がございますが、テキストに記載されている座標の値が正確です。</span>
      </p>
    </div>










    <div style="height: 10rem; width: 100px;"></div>


  </div>

</div>
