<% content_for(:title, t('.title')) %>

<div class='p5canvas-container'>

  <% profile = current_user.profile if user_signed_in? %>
  <div class="sidebar" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">
    <div class="text-Rounded700"><h1 class="sidebar-title">アイデア</h1></div>
    <div class="menu-sidebar text-Rounded500">
      <ul>
          <%= link_to '空間を作ってみよう', idea_page_path + '#section1' %>
          
          
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">画像を加工しよう<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section1">
            <%= link_to 'ペイントを入れてみよう', idea_page_path + '#section2' %>
            <%= link_to '影をつけてみよう', idea_page_path + '#section3' %>
            <%= link_to '吊るしてみよう', idea_page_path + '#section4' %>
          </div>
        </li>

        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">ペイントで表現しよう<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <a href="#section1">左右対称なペイント</a>
              <a href="#section2">レイヤーを活用しよう</a>
              <a href="#section3">ブレンドモードを活用しよう</a>
              <a href="#section4">線画をレイヤー分けしないペイント</a>
              <a href="#section5">グラデーションを使ってみよう</a>
              <a href="#section6">発光表現</a>
              <%#<a href="#section3">色味を調整しよう</a> %>
          </div>
        </li>

        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">アイテムを動かしてみよう<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section3">
            <%= link_to 'サンプルの詳細設定', idea_page_third_path + '#section1' %>
            <%= link_to 'アニメを組み合わせてみよう', idea_page_third_path + '#section2' %>
          </div>
        </li>
<%# 
        <li><a href="#section3">アイテムを配置しよう</a></li>


        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">番外編<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <a href="#section1">キャラクターを作ってみよう</a>
              <a href="#section2">構想</a>
              <a href="#section3">ラフ(下書き)</a>
              <a href="#section2">カラーリング</a>
              <a href="#section2">線画</a>
              <a href="#section2">下塗り</a>
              <a href="#section2">塗り込む/完成</a>
          </div>
        </li>
          <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">番外編2<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <a href="#section1">ししゃもすくい</a>
          </div>
        </li> %>

      </ul>
    </div>

    <div class="sidebar-design">
      <%= image_tag('mirror.png', alt: 'アイデアページのサイドバーの画像', class: "sidebar-image3") %>
    </div>
  </div>



  <div class="sidebar-content">
<div style="height: 7rem; width: 100px;"></div>
    <h2 class="explanation-section-title" style="margin-bottom: 0rem;">
      <span class="text-line">ペイントで表現しよう</span>
    </h2>


    <section id="section1">
      <div style="height: 7rem; width: 100px;"></div>
      <h2 class="explanation-section-title" style="margin-bottom: 3rem;">
        <span class="text-line">左右対称なペイント</span>
      </h2>
    </section>
    <div class="sidebar-design">
      <%= image_tag('idea_inversion.png', alt: '左右対称なペイントの画像', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>図形ツールを使用して左右対称な描画を作成してみましょう。</p>
      <p style="margin-bottom: -0.8rem;">
        半分だけ作成し、「<span style="color: #E19AB0;" class="text-Rounded500">レイヤー選択機能</span><%= image_tag('layer_selectbtn_active.png', alt: 'レイヤー選択機能をオンにするボタン', class: "toolbtn-image") %> ＞ <span style="color: #59afc7;" class="text-Rounded500">複製</span><%= image_tag('layer_paint_copy.png', alt: 'レイヤーのペイントを複製するボタン', class: "toolbtn-image") %>」で複製します。
      </p><br>
      <p>
        そして、そのレイヤーを反転<%= image_tag('flip_horizontal_btn.png', alt: '左右反転するボタン', class: "toolbtn-image-20") %>し、<span style="color: #7CBB72;" class="text-Rounded500">転写</span><%= image_tag('layer_move.png', alt: 'レイヤーのペイントを転写するボタン', class: "toolbtn-image") %>で描画を写し1枚のレイヤーに結合しましょう。<br>
        もし反転後位置を調整したい場合は選択ツール<%= image_tag('select_tool_btn.png', alt: '選択ツールのボタン', class: "toolbtn-image") %>を使用して調整しましょう。<br>
      </p>
    </div>
    <div class="sidebar-design" style="margin-top: -1rem;">
      <%= image_tag('idea_inversion_canvas.png', alt: '左右対称なペイントの作成イメージ', class: "toolpanel-image") %>
    </div>

    <section id="section2">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          レイヤーを活用しよう
        </span>
      </h3>
    </section>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        レイヤー機能を活用してペイントでアイテムを表現してみましょう。<br>
        レイヤーを分けて作業することで、デザインの修正や比較が容易になります。<br>
        この項目ではレイヤーを使用してアイテムを作成する基本的なテクニックをご紹介します。
      </p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
        レイヤーの基本構造
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('idea_paint_layer.png', alt: 'レイヤー構成の説明', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-top: 2rem;">
        基本的に扱いやすいとされるレイヤー構成は上記の図のようになっています...たぶん...。<br>
        「線画」は必ずしもレイヤーを分ける必要はなく、「下塗り」や「上塗り」レイヤーと同じレイヤー上に描画する方法もあります。<br>
        「線画」をレイヤー分けしない場合は後述の「<span class="sub-line">線画をレイヤー分けしないペイント</span>」をご確認下さい。
        なので、下記の図はあくまで一つの参考例としてご覧ください。
      </p><br>    
      
      <p style="margin-bottom: -0.2rem;"><span style="color: #E19AB0;" class="text-Rounded500">発光ハイライト</span>：一番明るくしたい場所やキラキラした装飾で使用するレイヤーです。下のレイヤーに色がないと効果が発揮されないレイヤーです。</p><br>

      <p style="margin-bottom: -0.2rem;"><span style="color: #59afc7;" class="text-Rounded500">ハイライト</span>：上述の「発光」モードのレイヤーとは違い、「通常」モードでハイライトとなり得そうな色合いでペイントするレイヤーです。装飾などもここでペイントできます。</p><br>
      
      <p style="margin-bottom: -0.2rem;"><span style="color: #E19AB0;" class="text-Rounded500">線画</span>：イラストの線画(輪郭)などを描くレイヤーです。上の方にいますが、作成順序では「下書き」の次のステップにあたります。</p><br>

      <p style="margin-bottom: -0.2rem;"><span style="color: #59afc7;" class="text-Rounded500">細部線画</span>：線の色が違ったり細かいパーツなど、他の線画とは区別したいものをここに描画します。</p><br>
              
      <p style="margin-bottom: -0.2rem;"><span style="color: #7CBB72;" class="text-Rounded500">上乗せ</span>：塗り込み用のレイヤーです。塗りの修正をしやすくするために「上塗り」レイヤーの上にこのレイヤーを設けここで色塗り作業をし、キリの良いところで下の「上塗り」レイヤーに転写します。<br>
      これはあくまで修正を容易にするためであり、ペイントの手法によっては不要になるものです。そのため後述の「上塗り」レイヤーに直接塗りこんでも問題ありません。最終的には全て「上塗り」レイヤーに転写するためここにペイントはありません。</p><br>

      <p style="margin-bottom: -0.2rem;"><span style="color: #E19AB0;" class="text-Rounded500">上塗り</span>：単色で構成された下塗りレイヤーをベースとして、より詳細な塗り込みのペイントを配置するレイヤーです。</p><br>

      <p style="margin-bottom: -0.2rem;"><span style="color: #59afc7;" class="text-Rounded500">下塗り</span>：このレイヤーには主要となる色を単色で置いていきます。これにより、全体のイメージが明確になり、さらなる調整が容易に行えるようになります。</p><br>

      <p style="margin-bottom: -0.2rem;"><span style="color: #E19AB0;" class="text-Rounded500">影</span>：主要部分とは分けて描画したい影などの背景パーツをここに配置します。</p><br>

      <p style="margin-bottom: -0.2rem;"><span style="color: #59afc7;" class="text-Rounded500">下地</span>：線画作業が完了した後、全体をグレーなどの中間色で均一に塗りつぶす下地を作成します。これによって塗り残しの防止や全体のシルエットの確認になります。</p><br>


      <p style="margin-bottom: -0.2rem;"><span style="color: #E19AB0;" class="text-Rounded500">下書き</span>：全体の構成や形・動きなど、はじめに決めておくべき内容をここに描きます。最終的な作品には表示されないため、修正や変更を気軽に加えることができます。</p><br>

      <p style="margin-bottom: 2rem;"><span style="color: #7CBB72;" class="text-Rounded500">確認用下塗り</span>：このレイヤーは、塗り残しを防ぐために全面を一色で塗りつぶすために使用します。作業中のイラストの色と対照的な色を選ぶことで、未塗りの部分が一目でわかりやすくなり便利です。</p>

      <p>
        レイヤーに余裕がある場合は隣り合う部品はレイヤーを分けることもおすすめです。<br>
        例えば、「掛け布団レイヤー」を上にし、その下に「敷き布団レイヤー」を配置します。これにより、敷き布団のペイントが布団に干渉しないようにすることができます。<br>
        本ペイントツールはレイヤー上限が決まっているため適度にレイヤーの転写(統合)や不要なレイヤーは削除する必要がある場合がございます。<br>
        削除に抵抗がある場合は<span class="sakura-line"><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-download"></i></span>ボタンより対象のレイヤーのみを<span style="color: #7CBB72;" class="text-Rounded500">png保存</span>しいつでも復元</span>できるようにしましょう。<br>
        <span class="sakura-line">こちらのやり方については「<%= link_to 'ちょっとした小技', tool_explanation_path + '#section40', class: "embedded-item text-Rounded500" %>」をご確認下さい。</span>
      </p>
    </div>


    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
        レイヤーの作成順序
      </span>
    </h4>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>レイヤーの作成順序と作業工程の順序は概ね以下の通りです。<br>
      <span style="color: #59afc7;" class="text-Rounded500">6</span>、<span style="color: #E19AB0;" class="text-Rounded500">7</span>、<span style="color: #59afc7;" class="text-Rounded500">8</span>のステップは全体のバランスを見ながら調整を行うため、必ずしもこの順序で進めるわけではありません。
      </p><br>
      <div class="steps-waza-layer" style="margin-top: -2.5rem;">
        <p>下書き</p>
        <p>線画/細部線画</p>
        <p>確認用下塗り</p>
        <p>下地</p>
        <p>下塗り</p>
        <p>上塗り/上乗せ/影</p>
        <p>ハイライト</p>
        <p>発光ハイライト</p>
      </div>
    </div>

    <section id="section3">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem; margin-top: 4rem;">
        <span class="sub-line">
          ブレンドモードを活用しよう
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('idea_paint_canvas.png', alt: '線画をレイヤー分けしない場合', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
      キャンバスのイラストを作成しているときについ「スタンドの色」を濃く塗りすぎてしまい、暗い印象になってしまいました。<br>
      こんな時は<span style="color: #E19AB0;" class="text-Rounded500">ブレンドモード</span><%= image_tag('blendmode_select.png', alt: 'ブレンドモードのドロップダウンの画像', class: "explanation-image", style: "width: 100px;") %>を活用しましょう。<br>
      「ブレンドモード」についての詳細は<%= link_to 'こちら', tool_explanation_path + '#section7', class: "embedded-item text-Rounded500" %>をご確認下さい。<br>
      今回の場合は色調を調整したい対象のレイヤーより上のレイヤーを選択して描画レイヤーにし、そのレイヤーのブレンドモードを<span style="color: #E19AB0;" class="text-Rounded500">「比較(明)」</span>に設定します。<br>
      そして、調整したい色よりも明るい色を選んで塗ります。この方法で、暗くなりすぎた部分も自然に明るく補正することが可能です。<br>
      もし、暗い部分をさらに暗く強調したい場合は<span style="color: #59afc7;" class="text-Rounded500">「比較(暗)」</span>を使用してください。
      </p><br>
      <p>
        ブレンドモードを使用する際は、レイヤーの透明度を100%に設定すると効果が強く出過ぎることがあります。<br>
        そのため、透明度を調整して適切な強度に設定しましょう。<br>
        <span style="color: #E19AB0;" class="text-Rounded500">透明度スライダー</span><%= image_tag('select_fill_slider.png', alt: '透明度スライダー', class: "explanation-image", style: "width: 120px;") %>を使って、色の重なり具合が自然になるように調節するのがおすすめです。
      </p>
    </div>



    <section id="section4">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem; margin-top: 4rem;">
        <span class="sub-line">
          線画をレイヤー分けしないペイント
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('idea_paint_bed.png', alt: '線画をレイヤー分けしない場合', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        「線画」と「塗り」でレイヤーを分けずに同じレイヤー上で描画する方法を紹介します。<br>
        この方法のメリットは、レイヤー枚数を節約できることと、一つのレイヤーで作業することによる修正のしやすさです。<br>
        線画と塗りが一体化するため、少しリアルなタッチでアイテムを表現するのに適しており、線画が際立つスタイルとは異なる効果を生み出します。<br>
        線画のレイヤーを節約できるため、その分のレイヤーを色調調整に回します。
      </p><br>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 3rem;">
      <span class="point-line">
        下書きを作成
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('idea_paint_bed2.png', alt: '線画をレイヤー分けしない場合の下書き', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        下書きと線画を作成します。<br>
        線画は塗りと統合するので部品(敷き布団・掛け布団)でレイヤー分けをして作成します。<br>
        今回はイメージを固めやすくするために下書きに色を足しています。<br>
        線画を塗りレイヤーと一緒にする場合、塗りをしながら柔軟に線画の編集が可能なのでキッチリ明確に線を引く必要がありません。<br>
        そのため、下書き/線画のステップはだいたいの状況の情報が入った段階で作業を切り上げて問題ありません。<br>
        下書きレイヤーは「簡単な上塗り」が終わったあたりで削除します。
      </p>
    </div>


    <h4 class="explanation-section-pointtitle" style="margin-bottom: 3rem;">
      <span class="point-line">
        着色と色調調整
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('idea_paint_bed3.png', alt: '着色とブレンドモードによる色調調整', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        下塗りと簡単な上塗りが完了し、カラーリングの大まかなイメージが形成された段階で、<span class="sakura-line text-Rounded500">線画レイヤーから上塗りレイヤーに<span style="color: #7CBB72;" class="text-Rounded500">転写</span><%= image_tag('layer_move.png', alt: 'レイヤーのペイントを転写するボタン', class: "toolbtn-image") %></span>して一枚のレイヤーに統合します。<br>
        これで線画の編集と上塗りレイヤーの編集が1枚のレイヤーで行えるようになりました。<br>
        個別編集できないことが不安な場合は、線画レイヤーのみの複製をとっておきましょう。<br>
        その後は上塗り/上乗せレイヤーに必要な情報をどんどん追加していきます。
      </p><br>
      <p>
        上塗りレイヤーに必要な情報を描き切れたらレイヤーの「透明度」と「ブレンドモード」を駆使して、アイテムに繊細な強弱を加えます。<br>
        暗いエリアをさらに深く暗くし、明るいエリアをより鮮明に明るくします。
      </p><br>

      <p>
        ブレンドモードを使用して得られる色は、特別な効果によるものではなく、通常のレイヤーで再現可能な単なる色です。
        そのため、ブレンドモードで得た色をスポイト<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-eyedropper"></i></span>で取得し、通常レイヤーにベタ塗りペン<%= image_tag('pen_beta_btn.png', alt: 'ベタ塗りペンボタン', class: "toolbtn-image") %>で同じ色を塗る方法も効果的です。<br>
        ベタ塗りペンをおすすめする理由は、他の筆圧がかかるペンだと筆圧によって色味が変わる可能性があるからです。<br>
        筆圧機能をオフにすれば他のペンでも問題ありませんが、ベタ塗りペンであれば確実にスポイトでとった色で着色することが可能です。
      </p>
    </div>

    <section id="section5">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem; margin-top: 4rem;">
        <span class="sub-line">
          グラデーションを使ってみよう
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('idea_paint_soul.png', alt: 'グラデーションを使ってみようの説明', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        グラデーション機能を使用したペイントを作成してみましょう。<br>
        このペイントでは「線画」と「塗り」でレイヤーを分けます。<br>
        「線画」レイヤーの下にグラデーションを使用する「塗り」レイヤーを配置します。<br>
        「線画」全体を覆う範囲を選択ツール<%= image_tag('select_tool_btn.png', alt: '選択ツールのボタン', class: "toolbtn-image") %>で囲み、<span style="color: #59afc7;" class="text-Rounded500">塗りつぶし</span><%= image_tag('select_fill_btn.png', alt: '塗りつぶしモードのボタン', class: "toolbtn-image") %>で塗りつぶします。<br>
        そして、不要な部分は消しゴム<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-eraser-fill"></i></span>を使用して削除します。<br>
        こうすると一部分にのみグラデーションがかかったペイントが作成できます。
      </p>
    </div>


    
    <section id="section6">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem; margin-top: 4rem;">
        <span class="sub-line">
          発光表現
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('idea_paint_soul2.png', alt: '発光表現の説明', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        こちらは「<%= link_to '影をつけてみよう', idea_page_path + '#section4', class: "embedded-item text-Rounded500" %>」の項目で取り上げたレイヤー複製機能とぼかし機能を組み合わせた手法と類似したものになります。<br>
        今回はこの手法で光を表現してみましょう。<br>
      </p>
    </div>

    <div class="sidebar-design">
      <%= image_tag('idea_paint_soul3.png', alt: '発光表現の説明', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        まず塗りレイヤーを複製し、上のレイヤーを全選択<%= image_tag('select_all_btn.png', alt: '全選択ボタン', class: "explanation-image", style: "width: 30px;") %>しぼかします。<br>
        ぼかしレイヤーを単独で使用すると、表面上は機能しているように見えるかもしれませんが、ぼかし効果による透明度の増加は、意図しない透明感や画像の過度なぼやけを引き起こすリスクがあります。<br>
        そのため、原本の塗りレイヤーを保持してはっきりとした輪郭を維持しながら、ぼかしの効果を加えるために複製の手法を使用します。
      </p>
    </div>

    <div class="sidebar-design">
      <%= image_tag('idea_paint_soul4.png', alt: '発光表現の説明', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        他の部分も同様の方法で作成し、最後にブレンドモードの「オーバーレイ」と「発光」で光を強調します。<br>
        オーバーレイは画像のコントラストを高めるブレンドモードです。<br>
        このモードは、中間色（グレー）を透明にし、暗い色はさらに暗くし、明るい色はさらに明るく表現するモードです。<br>
        この機能を使用して全体の色調とさらに強調したい一部の色調を調整します。<br>
        最後に「発光」で一番強調したい場所(光っている箇所)に色を置きます。
      </p>
    </div>


    <div style="height: 7rem; width: 100px;"></div>

    <div style="margin-bottom: 2rem;"><%= link_to '画像編集', idea_page_path, class: "embedded-item text-Rounded500" %>のページへ</div>

    <div><%= link_to 'アニメーション', idea_page_third_path, class: "embedded-item text-Rounded500" %>のページへ</div>

    <div style="height: 10rem; width: 100px;"></div>


  </div>

</div>
