<% content_for(:title, t('.title')) %>

<div class='p5canvas-container'>

  <% profile = current_user.profile if user_signed_in? %>
  <div class="sidebar" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">
    <div class="text-Rounded700"><h1 class="sidebar-title">アイデア</h1></div>
    <div class="menu-sidebar text-Rounded500">
      <ul>

          <li><a href="#section1">空間を作ってみよう</a></li>
          <li><a href="#section2">左右対称なペイント</a></li>
          
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">画像を加工しよう<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section1">
              <a href="#section3">ペイントを入れてみよう</a>
              <a href="#section4">影をつけてみよう</a>
              <a href="#section5">吊るしてみよう</a>
          </div>
        </li>

        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">ペイントで作成しよう<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <%= link_to 'レイヤーを活用しよう', idea_page_second_path + '#section1' %>
              <a href="#section2">色塗りとレイヤー</a>
              <a href="#section3">グラデーションを使ってみよう</a>
              <a href="#section3">少し光っている表現</a>
              <a href="#section3">色味を調整しよう</a>
          </div>
        </li>

        <li><a href="#section3">アイテムを配置しよう</a></li>


        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">番外編<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <a href="#section1">キャラクターを作ってみよう</a>
              <a href="#section2">構想</a>
              <a href="#section3">ラフ(下書き)</a>
              <a href="#section2">カラーリング</a>
              <a href="#section2">線画</a>
              <a href="#section2">下塗り</a>
              <a href="#section2">塗り込む/完成</a>
          </div>
        </li>
          <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">番外編2<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <a href="#section1">ししゃもすくい</a>
          </div>
        </li>

      </ul>
    </div>

    <div class="sidebar-design">
      <%= image_tag('mirror.png', alt: 'アイデアページのサイドバーの画像', class: "sidebar-image3") %>
    </div>
  </div>



  <div class="sidebar-content">



    <section id="section1">
      <div style="height: 7rem; width: 100px;"></div>
      <h2 class="explanation-section-title">
        <span class="text-line">空間を作ってみよう</span>
      </h2>
      <p class="explanation-section-text text-Rounded">
        ここでは、実際にツールを使用してどのようなことができるかを、サンプルルームを例にして一緒に紹介します。<br>
        <span class="red-text text-Rounded700">この通りに作成する必要は全くございません!!</span>
      </p>
    </section>

    <div class="sidebar-design">
      <%= image_tag('sampleroom_rahu.png', alt: 'サンプルページのラフの画像', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;  margin-top: 2rem;">
      <p>
        まず<span style="color: #59afc7;" class="text-Rounded500">「Flow Thing」</span>か<span style="color: #59afc7;" class="text-Rounded500">「Screen」</span>のレイヤー保存できるペイントツールを活用して構想(ラフ)を作成しましょう。<br>
        配置したいアイテムを簡単に描いてみましょう。<br>
        例に挙げているサンプルルームは、動かすことを考慮して遠近感をあえて単純化し、それに基づいて作成しました。2DのRPGなどで使用されている仕法です。<br>
        本当は天井から見下ろしている空間ですが、パースを取り除きあえて全てのアイテムを均一に表現します。
      </p><br>

      <p>
        例えば筒状のポテトチップスなら詳細なパースを取り、単純な筒で表現します。<br>
        <%= image_tag('potato_chip.png', alt: 'ポテトチップスの画像', class: "explanation-image", style: "width: 150px; transform: rotate(-1.2deg);") %><br>
      </p><br>
      <p>
        <span class="text-Rounded500 red-text" style="font-size: 1.3rem;">構想が決まったら各アイテムごとに<span style="color: #59afc7;" class="text-Rounded500">「Flow Thing」</span>と<span style="color: #59afc7;" class="text-Rounded500">「Screen」</span>を作成し、アイテムの写真やペイントを作成しましょう。</span><br>
      </p>
    </div>


    <section id="section2">
      <div style="height: 7rem; width: 100px;"></div>
      <h2 class="explanation-section-title" style="margin-bottom: 3rem;">
        <span class="text-line">左右対称なペイント</span>
      </h2>
    </section>
    <div class="sidebar-design">
      <%= image_tag('idea_inversion.png', alt: '左右対称なペイントの画像', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>図形ツールを使用して左右対称な描画を作成してみましょう。</p>
      <p style="margin-bottom: -0.8rem;">
        半分だけ作成し、「<span style="color: #E19AB0;" class="text-Rounded500">レイヤー選択機能</span><%= image_tag('layer_selectbtn_active.png', alt: 'レイヤー選択機能をオンにするボタン', class: "toolbtn-image") %> ＞ <span style="color: #59afc7;" class="text-Rounded500">複製</span><%= image_tag('layer_paint_copy.png', alt: 'レイヤーのペイントを複製するボタン', class: "toolbtn-image") %>」で複製します。
      </p><br>
      <p>
        そして、そのレイヤーを反転<%= image_tag('flip_horizontal_btn.png', alt: '左右反転するボタン', class: "toolbtn-image-20") %>し、<span style="color: #7CBB72;" class="text-Rounded500">転写</span><%= image_tag('layer_move.png', alt: 'レイヤーのペイントを転写するボタン', class: "toolbtn-image") %>で描画を写し1枚のレイヤーに結合しましょう。<br>
        もし反転後位置を調整したい場合は選択ツール<%= image_tag('select_tool_btn.png', alt: '選択ツールのボタン', class: "toolbtn-image") %>を使用して調整しましょう。<br>
      </p>
    </div>
    <div class="sidebar-design" style="margin-top: -1rem;">
      <%= image_tag('idea_inversion_canvas.png', alt: '左右対称なペイントの作成イメージ', class: "toolpanel-image") %>
    </div>


    <div style="height: 7rem; width: 100px;"></div>
    <h2 class="explanation-section-title" style="margin-bottom: 0rem;">
      <span class="text-line">画像を加工しよう</span>
    </h2>

    <section id="section3">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          ペイントを入れてみよう
        </span>
      </h3>
    </section>
    
    <div class="sidebar-design">
      <%= image_tag('canvas_step1.png', alt: '完成イメージ', class: "explanation-image", style: "width: 235px;") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        挿入した画像に簡単にペイントを加えてみましょう。<br>
        挿入する画像は「キャンバス描かれたイラスト」というシナリオで加工してみます。<br>
      </p><br>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
      切り取り
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('canvas_step2.png', alt: '挿入した画像を切り取り', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        まず、画像ツール<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-image"></i></span>で画像を挿入しましょう。<br>
        そしてキャンバスに合わせて必要なとこのみ「<span style="color: #E19AB0;" class="text-Rounded500">選択</span> ＞ <span style="color: #59afc7;" class="text-Rounded500">範囲外を削除</span><%= image_tag('select_delete_outside_whitebtn.png', alt: '選択範囲外を削除するボタン', class: "toolbtn-image") %>」、もしくは消しゴム<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-eraser-fill"></i></span>で削除します。
      </p><br>
    </div>


    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
        簡単なペイント
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('canvas_step3.png', alt: 'ペイントを入れてみようのイメージ', class: "explanation-image", style: "width: 360px;") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        挿入する画像は「キャンバス描かれたイラストというシナリオ」なので画像をキャンバスに馴染ませるために簡単に画像の端を加工してみましょう。<br>

        消しゴム<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-eraser-fill"></i></span>と<span style="color: #E19AB0;" class="text-Rounded500">色混ぜ</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-droplet-half"></i></span>を使用します。<br>
        切り取った画像の外枠を消しゴムで不規則に消し、色混ぜで画像の色を拾いながら適当に伸ばしてみましょう。<br>

        <span class="text-Rounded500" style="color: #EB625A; font-size: 0.85rem;">※色混ぜは画像のない部分をタッチして画像のある方向に引っ張ると消しゴムと同じように消すことができます。</span>
      </p><br>
    </div>


    <section id="section4">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          影をつけてみよう
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('canvas_friend_image.png', alt: '影を入れてみようのイメージ', class: "toolpanel-image-600", style: "background-color: #acd3dd; border-radius: 0.8rem;") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        挿入した画像に影をつけてみましょう。<br>
        <span class="text-Rounded500" style="color: #EB625A; font-size: 0.85rem;">※今回使用する画像はあらかじめ切り取り加工をしております。</span>
      </p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
        ざっくり塗る
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('canvas_friend_base.png', alt: 'ざっくり影を塗る', class: "explanation-image", style: "width: 388px;") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        挿入した画像より下のレイヤーを選択し描画レイヤーにし、ベタ塗りペン<%= image_tag('pen_beta_btn.png', alt: 'ベタ塗りペンボタン', class: "toolbtn-image") %>で簡単にざっくり影を塗ります。<br>
        このレイヤーを「影レイヤー」と命名します。<br>
        この影に少しリアリティを持たせるためにぼかし効果を付与していきます。
      </p><br>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
        影レイヤーを複製してぼかす
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('canvas_friend_layer.png', alt: 'レイヤーの構成の画像', class: "explanation-image", style: "width: 470px;") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        影レイヤーを複製<span style="color: #59afc7;" class="text-Rounded500">複製</span><%= image_tag('layer_paint_copy.png', alt: 'レイヤーのペイントを複製するボタン', class: "toolbtn-image") %>します。<br>
        レイヤーの並び順は「下塗り」 ＞ 「複製した影レイヤー」 ＞ 「影レイヤー」 ＞ 「挿入した画像」となります。 
      </p><br>
      <p>
        下のレイヤーを全選択<%= image_tag('select_all_btn.png', alt: '全選択ボタン', class: "explanation-image", style: "width: 30px;") %>しぼかします。<br>
        <span class="text-Rounded500" style="color: #EB625A; font-size: 0.85rem;">※必要なとこのみ選択してぼかす方法もありますが、本ペイントツールの仕様で選択ツールの枠線部分に隙間が発生するため全選択のぼかしを使用しております。</span>
      </p><br>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
        上の影レイヤーの外枠(フチ)を消す
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('canvas_friend_last.png', alt: '上の影レイヤーの外枠(フチ)を消す', class: "explanation-image", style: "width: 450px;") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        このペイントツールでは、特定のポイントのみを繊細にぼかす機能は搭載されておらず、選択した部分は自動的に均等にぼかされてしまいます。<br>
        その為、手動で微調整する必要があります。
      </p><br>
      <p>
        上のぼかし効果をかけていない影レイヤーの描画の外枠(フチ)に消しゴムをかけます。<br>
        そうすることで下のぼかし効果がついたの影レイヤー(ぼかし)の描画が前面に表示されます。<br>
        この方法で、ぼかしを必要とする部分のみを精密に調整し、程よいぼかし具合を実現できます。
      </p><br>
      <p>これまでのステップを繰り返して、挿入した画像に影を付けてみましょう。</p>
    </div>

    <section id="section5">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          吊るしてみよう
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('idea_fish_canvas.png', alt: '吊るしてみようの説明', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        それでは、ししゃもを吊るしてみましょう。<br>
        まずは、ししゃもオーディションから始めます。<br>
        各ししゃもはA面とB面で、それぞれチャンスが2回あります。<br>
        しかし、ししゃもAは少し緊張しすぎて、B面のオーディションをパス...A面だけでその魅力を発揮しました。<br>
        オーディションで優勝したししゃもは、このアプリのサンプルページに吊るされマスコットとして採用されます。<br>
        その他のししゃもたちはアプリのフッターなどで、盛り上げ隊として活躍の場を得ます。
      </p>
    </div>


    <div style="height: 7rem; width: 100px;"></div>

    <div><%= link_to 'ペイントで作成しよう', idea_page_second_path, class: "embedded-item text-Rounded500" %>に続きます。</div>

    <div style="height: 10rem; width: 100px;"></div>


  </div>

</div>
