<% content_for(:title, t('.title')) %>
<div class='p5canvas-container'>

  <% profile = current_user.profile if user_signed_in? %>
  <div class="sidebar" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

    <div class="text-Rounded700"><h1 class="sidebar-title">ツール(アニメ)</h1></div>
    <div class="menu-sidebar text-Rounded500">
      <ul>
          <li><a href="#section1">基本操作</a></li>
          <li><a href="#section2">リストパネル</a></li>
          <li><a href="#section3">カスタムパネル</a></li>
          <li><a href="#section4">詳細表示パネル</a></li>
          <li><a href="#section5">ガイドパネル</a></li>

      </ul>
    </div>

    <div class="sidebar-design">
      <%= image_tag('tongari.png', alt: 'ツールページの画像', class: "sidebar-image2") %>
    </div>
  </div>

  <div class="sidebar-content">


    <section id="section1">
      <div style="height: 7rem; width: 100px;"></div>
      <h2 class="explanation-section-title">
        <span class="text-line">基本操作</span>
      </h2>
      <div class="sidebar-design">
        <%= image_tag('anime_panel.png', alt: 'アニメツールの説明画像', class: "painttool-image") %>
      </div>
      <p class="explanation-section-text text-Rounded">
        以下は大まかな基本操作です。さらなる詳細については、該当ツールを含むコントロールパネルの項目でご確認頂けます。
      </p>
    </section>


    <h3 class="explanation-section-subtitle">
      <span class="sub-line">
      コントロールパネル
      </span>
    </h3>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        本アニメーションツールは以下の4つのコントロールパネルで構成されています。
      </p>

      <p>
        <span style="color: #59afc7;" class="text-Rounded500">リストパネル</span>：使用できるFlow ThingとScreenが表示されるパネルです。ここからステージ上にアイテムを挿入できます。<br>
        <span style="color: #856eaa;" class="text-Rounded500">カスタムパネル</span>：ステージ上のFlow ThingとScreenに詳細な情報を設定できるパネルです。<br>
        <span style="color: #7CBB72;" class="text-Rounded500">詳細表示パネル</span>：選択されているFlow Thingのスタイルとアニメーションの設定値が表示されるパネルです。<br>
        <span style="color: #E19AB0;" class="text-Rounded500">ガイドパネル</span>：アニメーションツールの全体ガイドを確認できるパネルです。
      </p>

      <div style="margin-top: 2.5rem;">
        <span class="red-text text-Rounded500">
        パネルの表示/非表示
        </span>
      
        <div class="sidebar-design">
          <%= image_tag('close_btn_anime.png', alt: '閉じるボタン', class: "explanation-image", style: "width: 350px;") %>
        </div>
        <p style="margin-top: 1rem;">
          リストパネル以外のパネルは右上の「<i class="bi bi-x-lg" style="color: #F8A3B1;"></i>」より閉じる(非表示にする)ことが可能です。
        </p>
      </div>
    </div>


    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      Flow Thing
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      <span style="color: #E19AB0;" class="text-Rounded500">「Flow Thing」</span>の項目で作成したアイテムをScreenの上に配置できます。<br>各Flow Thingにはスケール調整などの詳細設定を付与でき、それぞれに独自の特性を付与することが可能です。
    </p>


    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      Screen
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      <span style="color: #E19AB0;" class="text-Rounded500">「Screen」</span>の項目で作成したアイテムを背景として挿入できます。<br>単一の静的背景に留まらず、複数のScreenを用いたスライドアニメーションの作成も可能です。
    </p>


    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      ステージ
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      中央のグレーの四角形がステージです。<br>ここにFlow ThingとScreenを配置しアニメーションを作成できます。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      挿入順序
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      ステージに配置されるFlow Thingは挿入された順序に従って層を形成します。<br>
      <span class="sakura-line">先に挿入されたものは下層に、後に挿入されたものは上層に配置されます。<br>
        Screenは常に最下層に位置します。</span>
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      選択状態
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      <%= image_tag('anime_select.png', alt: '閉じるボタン', class: "explanation-image", style: "width: 140px;") %><br>
      ステージ上のFlow Thingをクリックすると赤い枠線が表示されます。<br>
      これが現在選択されているFlow Thingになります。<br>
      選択を解除するにはステージ上で他にFlow Thingが配置されていない場所をクリックして下さい。<br>
      <span class="text-Rounded500" style="font-size: 0.85rem; color: #EB625A;">※選択の枠線はリアルタイム更新ではないためアニメの動きなどには追従しません。</span>
    </p>


    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      スタイル設定
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      配置するFlow Thingには<span style="color: #7CBB72;" class="text-Rounded500">「スケール」「透明度」「角度」</span>の3つのスタイルを調整することが可能です。<br>
      初期状態ではペイントツールで作成したcanvasサイズのまま挿入されますが、ここでサイズ調整を行うことができます。<br>
      <span class="text-Rounded500" style="font-size: 0.85rem; color: #EB625A;">※Screenにはこの機能はありません。</span>
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      アニメーションの種類
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      現在利用可能なアニメーションには、基本的な<span style="color: #E19AB0;" class="text-Rounded500">「上下アニメ」「左右アニメ」「回転/振り子アニメ」「縮尺アニメ」</span>と、
      特殊な<span style="color: #59afc7;" class="text-Rounded500">「ランダムアニメ」「追従アニメ」「移動範囲アニメ（四角形/円形）」</span>があります。<br>
      これらを組み合わせることで、様々な動きを作成できます。<br>
      <span class="text-Rounded500" style="font-size: 0.85rem; color: #EB625A;">※一部使用できない組み合わせもございます。</span>
    </p><br>
      
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: -4rem;">
      アニメーションの種類は今後さらに増やしていく予定です。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 2rem;">
      <span class="sub-line">
      ステージのサイズと座標
      </span>
    </h3>
    <div class="sidebar-design">
      <%= image_tag('anime_coordinate.png', alt: '座標説明の図解', class: "toolpanel-image") %>
    </div>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      現在、このアニメツールのステージのサイズは<span style="color: #EB625A;" class="text-Rounded500">横幅「800px」</span><span style="color: #3A559D;" class="text-Rounded500">縦幅「450px」</span>で設定されています。<br>
      ステージの左上の点が座標 <span style="color: #59afc7;" class="text-Rounded500">(X: 0, Y: 0) </span>になります。<br>
      Flow Thingは <span style="color: #f49e25;" class="text-Rounded500">中心点</span>を基準にステージ上の位置を記録しております。
    </p><br>






<div style="height: 7rem; width: 100px;"></div>

    <section id="section2">
      <h2 class="explanation-section-title">
        <span class="text-line">リストパネル</span>
      </h2>
      <p class="explanation-section-text text-Rounded" style="margin-top: -2rem;">
        リストパネルは2つのタブに分かれており、<span style="color: #E19AB0;" class="text-Rounded500">「Flow Thingタブ」</span>と<span style="color: #59afc7;" class="text-Rounded500">「Screenタブ」</span>があります。
      </p>
    </section>


    <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
      <span class="sub-line">
        Flow Thingタブ
      </span>
    </h3>
    <div class="sidebar-design">
      <%= image_tag('list_flow.png', alt: 'リストパネルのFlow Thingタブの図解', class: "toolpanel-image") %>
    </div>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">

      <p style="margin-bottom: -0.8rem;"><span style="color: #f49e25;" class="text-Rounded700">カスタムパネル表示ボタン</span><%= image_tag('anime_custom_btn.png', alt: 'カスタムパネル表示ボタン', class: "toolbtn-image") %>：
        このボタンを押すとカスタムパネルが表示されます。<span style="color: #E19AB0;" class="text-Rounded500">「Flow Thingタブ」</span>を開いている間はFlow Thingに関する内容が表示されます。
      </p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #f49e25;" class="text-Rounded700">詳細表示パネル表示ボタン</span><%= image_tag('anime_detail_btn.png', alt: '詳細表示パネル表示ボタン', class: "toolbtn-image") %>：
        このボタンを押すと詳細表示パネルが表示されます。
      </p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #f49e25;" class="text-Rounded700">ガイドパネル表示ボタン</span><%= image_tag('anime_guide_btn.png', alt: 'ガイドパネル表示ボタン', class: "toolbtn-image") %>：
        このボタンを押すとガイドパネルが表示されます。
      </p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #59afc7;" class="text-Rounded700">削除ボタン</span><%= image_tag('anime_delete_btn.png', alt: '削除ボタン', class: "toolbtn-image") %>：
        選択されているFlow Thingを削除するボタンです。
      </p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded700">Flow Thingボタン</span><%= image_tag('anime_flow_btn.png', alt: 'ステージ上にFlow Thingを挿入するボタン', class: "explanation-image", style: "width: 70px;") %>：
        ステージ上にFlow Thingを挿入するボタンです。
      </p>
    </div>


    <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
      <span class="sub-line">
        Screenタブ
      </span>
    </h3>
    <div class="sidebar-design">
      <%= image_tag('list_screen.png', alt: 'リストパネルのScreenタブの図解', class: "toolpanel-image") %>
    </div>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">

      <p style="margin-bottom: -0.8rem;"><span style="color: #f49e25;" class="text-Rounded700">カスタムパネル表示ボタン</span><%= image_tag('anime_custom_btn.png', alt: 'カスタムパネル表示ボタン', class: "toolbtn-image") %>：
        このボタンを押すとカスタムパネルが表示されます。<span style="color: #59afc7;" class="text-Rounded500">「Screenタブ」</span>を開いている間はScreenに関する内容が表示されます。
      </p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded700">Screenボタン</span><%= image_tag('anime_screen_btn.png', alt: 'ステージ上にscreenを配置するボタン', class: "explanation-image", style: "width: 70px;") %>：
        ステージ上にScreenを配置するボタンです。単一選択モードの場合、このボタンを押すたびに配置されるScreenが上書き更新されます。
      </p><br>

      <p><span style="color: #59afc7;" class="text-Rounded700">現在のメインScreen</span><%= image_tag('anime_screen_preview.png', alt: 'screenのプレビュー', class: "explanation-image", style: "width: 100px;") %>：
        現在のメインScreenを確認できるプレビューです。メインScreenは、複数のScreenの中で基本となる画面です。
      </p>
      <p style="margin-top: 3rem;"><span class="sakura-line">「単一選択モード」や「メインScreen」などScreenの機能の詳細は後述の「<%= link_to 'カスタムパネルのScreen編',  '#section30', class: "embedded-item text-Rounded500" %>」で紹介します。</span></p>
    </div>

    <div style="height: 7rem; width: 100px;"></div>

    <section id="section3">
      <h2 class="explanation-section-title">
        <span class="text-line">カスタムパネル</span>
      </h2>
      <p class="explanation-section-text text-Rounded" style="margin-top: -2rem;">
        カスタムパネルはリストパネルで表示されているタブに合わせて内容が変わります。<br>
        リストパネルで<span style="color: #E19AB0;" class="text-Rounded500">「Flow Thingタブ」</span>を表示している場合は、Flow Thingに関する「スタイル」と「アニメーション」の内容が表示されます。<br>
        リストパネルで<span style="color: #59afc7;" class="text-Rounded500">「Screenタブ」</span>を表示している場合は、Screenに関する「アニメーション」の内容が表示されます。
      </p>
    </section>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
        Flow Thing編
      </span>
    </h3>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">

      <p>カスタムパネルのFlow Thingの項目では<span style="color: #E19AB0;" class="text-Rounded500">「スタイル」「シンプル」「トクベツ」</span>の3つのタブに分かれております。</p>
      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded500">スタイル</span>：Flow Thingの<span style="color: #7CBB72;" class="text-Rounded500">「スケール」「透明度」「角度」</span>の3つのスタイルを調整できる項目です。</p><br>
      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded500">シンプル</span>：選択したステージ上のFlow Thingに基本的なアニメーションである<span style="color: #E19AB0;" class="text-Rounded500">「上下アニメ」「左右アニメ」「回転/振り子アニメ」「縮尺アニメ」</span>を設定できます。</p><br>
      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded500">トクベツ</span>：選択したステージ上のFlow Thingに特殊なアニメーションである<span style="color: #59afc7;" class="text-Rounded500">「ランダムアニメ」「追従アニメ」「移動範囲アニメ（四角形/円形）」</span>を設定できます。</p>
    </div>


    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
      「スタイル」タブ
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('anime_custom_style.png', alt: 'カスタムパネルのスタイルタブの図解', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        Flow Thingには、挿入前でも後でもスタイルを適用することが可能です。<br>
        挿入時にはカスタムパネルのスタイルタブで指定されたスタイルが適用されます。<br>
        挿入後にスタイルを変更したい場合は、対象のFlow Thingをクリックして選択し、新しいスタイルを設定して<span class="sakura-line"><span style="color: #59afc7;" class="text-Rounded500">「変更」</span></span>ボタンを押してください。<br>
        <span class="text-Rounded500" style="font-size: 0.85rem; color: #EB625A;">※アニメーションは挿入後でないと付与できません。</span><br>
      </p>

      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded500">スケール</span>：<span style="color: #59afc7;" class="text-Rounded500">0.01〜20</span>の範囲でFlow Thingのスケールを設定できます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded500">透明度</span>：<span style="color: #59afc7;" class="text-Rounded500">0.1〜1</span>の範囲でFlow Thingの透明度を設定できます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded500">角度</span>：<span style="color: #59afc7;" class="text-Rounded500">0.1〜360</span>の範囲でFlow Thingの角度を設定できます。</p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
      「シンプル」タブ
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('anime_simple_style.png', alt: 'カスタムパネルのシンプルタブの図解', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        Flow Thingに基本的なシンプルなアニメーションを付与できるパネルです。<br>
        パネルの左端の<span style="color: #59afc7;" class="text-Rounded500">メニューバー</span>より各項目の場所にジャンプできます。<br>
        対象のFlow Thingをクリックして選択し、<span style="color: #E19AB0;" class="text-Rounded500">「実行/停止」</span>ボタンを使用してアニメーションを開始または停止できます。<br>
        アニメーションが既に付与されている場合は、このボタンで停止し、停止している場合は動作を開始します。<br>
        アニメーションが付与されているFlow Thingの動作を変更するには、まず既存のアニメーションを停止し、その後新しい設定で再度実行してください。
      </p>
    </div>

    <h5 class="explanation-section-pointtitle" style="margin-bottom: 2rem; font-size: 1rem;">
      <span class="sakura-line">
      上下アニメ/左右アニメ
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('anime_simple_top_left.png', alt: '上下アニメの解説', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        対象のFlow Thingに上下/左右にスライドするアニメーションを設定できます。<br>スライドで移動する「距離」と「速さ」を設定できます。<br>
        <span class="text-Rounded500" style="font-size: 0.85rem; color: #EB625A;">※「上下アニメ/左右アニメ」は「トクベツ」タブのアニメと同時実行できません。</span>
      </p><br>
      <p style="margin-bottom: -0.8rem;">
      </p>
    </div>


    <h5 class="explanation-section-pointtitle" style="margin-bottom: 2rem; font-size: 1rem;">
      <span class="sakura-line">
      回転アニメ/振り子アニメ
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('anime_simple_rotate.png', alt: '回転アニメの解説', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        対象のFlow Thingに360度の回転アニメと、左右に振り子のように揺れる振り子アニメを設定できます。<br>
        回転アニメでは「回転の速さ」と「回転方向（時計回り・反時計回り）」を、振り子アニメでは「振り子の速さ」「回転方向（時計回り・反時計回り）」「最大回転角度（回転範囲）」を調整することが可能です。
      </p><br>

      <p><span style="color: #f49e25;" class="text-Rounded500">回転方向切り替え</span><%= image_tag('anime_direction_btn.png', alt: '回転/振り子アニメの回転方向を切り替えるボタン', class: "explanation-image", style: "width: 40px;") %><br>
        <span><%= image_tag('anime_clockwise_btn.png', alt: '時計回りに回転するボタン', class: "toolbtn-image-20") %>：回転方向を<span style="color: #E19AB0;" class="text-Rounded500">時計回り</span>に設定するボタンです。</span><br>
        <span><%= image_tag('anime_counterclockwise_btn.png', alt: '反時計回りに回転するボタン', class: "toolbtn-image-20") %>：回転方向を<span style="color: #E19AB0;" class="text-Rounded500">反時計回り</span>に設定するボタンです。</span>
      </p>

      <p style="margin-bottom: -0.8rem; margin-top: 1rem;"><span style="color: #bfad28;" class="text-Rounded500">振り子アニメに切り替えるボタン</span><%= image_tag('anime_rotate_btn.png', alt: '振り子アニメ切り替えボタン', class: "toolbtn-image-20") %>：このボタンを押すと項目が振り子アニメに切り替わります。</p><br>
      <p><span style="color: #3A559D;" class="text-Rounded500">回転アニメに切り替えるボタン</span><%= image_tag('anime_pendulum_btn.png', alt: '回転アニメ切り替えボタン', class: "toolbtn-image-20") %>：このボタンを押すと項目が回転アニメに切り替わります。</p>
    </div>


    <h5 class="explanation-section-pointtitle" style="margin-bottom: 2rem; font-size: 1rem;">
      <span class="sakura-line">
      縮尺アニメ
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('anime_simple_scale.png', alt: '縮尺アニメの解説', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        対象のFlow Thingに、スケールが変化するアニメーションを設定できます。<br>
        「最大スケール」「最小スケール」「スケールが変化する速さ」を設定できます。
      </p>
    </div>


    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
      「トクベツ」タブ
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('anime_special_panel.png', alt: 'カスタムパネルのトクベツタブの図解', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        Flow Thingに特殊なアニメーションを付与できるパネルです。<br>
        パネルの左端の<span style="color: #59afc7;" class="text-Rounded500">メニューバー</span>より各項目の場所にジャンプできます。<br>
        対象のFlow Thingをクリックして選択し、<span style="color: #E19AB0;" class="text-Rounded500">「実行/停止」</span>ボタンを使用してアニメーションを開始または停止できます。<br>
        アニメーションが既に付与されている場合は、このボタンで停止し、停止している場合は動作を開始します。<br>
        アニメーションが付与されているFlow Thingの動作を変更するには、まず既存のアニメーションを停止し、その後新しい設定で再度実行してください。
      </p>
    </div>


    <h5 class="explanation-section-pointtitle" style="margin-bottom: 2rem; font-size: 1rem;">
      <span class="sakura-line">
      ランダムアニメ
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('anime_special_random.png', alt: 'ランダムアニメの解説', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        対象のFlow Thingに、ランダムに移動するアニメーションを設定できます。<br>
        ランダムに移動先の目的地が決まり、そこに向かって対象のFlow Thingが移動します。<br>
        目的地に到達すると新たな目的地がランダムで設定され再びそこに向かって移動します。<br>
        「距離」の設定値は目的地にどれくらい近づいたら次の目的地への移動を開始するかを定義します。
      </p><br>
      <p>
        「距離」の値が大きいほど、目的地到達の判定範囲が広がり、次の動作に切り替わるタイミングが早くなるため、全体の動きが速くなります。<br>
        また、通常の「移動速度」も個別に設定することが可能です。
      </p><br>
    </div>

    <h5 class="explanation-section-pointtitle" style="margin-bottom: 2rem; font-size: 1rem;">
      <span class="sakura-line">
      追従アニメ
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('anime_special_follow.png', alt: '追従アニメの解説', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        対象のFlow Thingに、ステージ上のクリックをトリガーにマウス(カーソル)に追従するアニメーションを設定できます。<br>
        ステージ上でクリックが発生すると対象のFlow Thingはマウス(カーソル)に向かってクリックが発生すると、Flow Thingはマウスに向かって移動し、マウスに到達するとアニメーションが停止します。<br>
        次にステージ上でクリックされるまで、Flow Thingはその位置に停止します。<br>
        <span class="text-Rounded500" style="font-size: 0.85rem; color: #EB625A;">※アニメの起動の判定はステージ上のみであり、他のFlow Thing上をクリックした場合アニメーションは発動しません。</span>
      </p><br>

      <p>各Flow Thingの移動速度は個別に調整可能です。<br>
        このアニメーションは<span style="color: #7CBB72;" class="text-Rounded500">「登録」</span>ボタンによって実行され、選択中のFlow Thingに追従アニメを付与します。<br>
        <span style="color: #f49e25;" class="text-Rounded500">「削除」</span>ボタンを押すと、選択中のFlow Thingからアニメーションが削除されます。<br>
        <span style="color: #7CBB72;" class="text-Rounded500">「全削除」</span>ボタンを押すと、選択状態に関係なく全てのFlow Thingから追従アニメを削除できます。
      </p>
    </div>

    <h5 class="explanation-section-pointtitle" style="margin-bottom: 2rem; font-size: 1rem;">
      <span class="sakura-line">
      移動範囲アニメ[四角形/円形]
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('anime_moving_range.png', alt: '移動範囲アニメの解説', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        対象のFlow Thingに、指定範囲内で繰り返し移動するアニメーションを設定できます。<br>
          アニメの開始位置は<span style="color: #E19AB0;" class="text-Rounded500">「X座標」「Y座標」</span>で指定します。<br>
          <span style="color: #E19AB0;" class="text-Rounded500">「移動範囲アニメ[四角形]」</span>では、これらの座標が<span style="color: #E19AB0;" class="text-Rounded500">「左上の角」</span>として機能し、<span style="color: #59afc7;" class="text-Rounded500">「移動範囲アニメ[円形]」</span>では<span style="color: #59afc7;" class="text-Rounded500">「円の中心点」</span>として機能します。
      </p><br>
      <p>
        移動範囲は<span style="color: #E19AB0;" class="text-Rounded500">「移動範囲アニメ[四角形]」</span>の場合<span style="color: #E19AB0;" class="text-Rounded500">「幅」「高さ」</span>で、<span style="color: #59afc7;" class="text-Rounded500">「移動範囲アニメ[円形]」</span>の場合は<span style="color: #59afc7;" class="text-Rounded500">「半径」</span>で設定します。<br>
        また、<span style="color: #7CBB72;" class="text-Rounded500">「速さ」</span>の項目で移動速度も調整可能です。
      </p>
    </div>


    <section id="section30">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
        <span class="sub-line">
          Screen編
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('anime_custom_screen.png', alt: 'カスタムパネルのScreenタブの図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>カスタムパネルのScreenの項目では、Screenに関するアニメーションの設定を行えます。</p><br>
      <p style="margin-bottom: -0.8rem;"><span style="color: #3A559D;" class="text-Rounded500">アニメの種類の選択</span><%= image_tag('anime_screenanime_list.png', alt: 'アニメの種類を選択できる選択ボタン', class: "explanation-image", style: "width: 150px;") %><br>
        <span>
          ここでScreenに付与するアニメーションの種類を設定できます。<br>
          <span style="color: #7CBB72;" class="text-Rounded500">「速さ」</span>の項目からスライドアニメーションの速さを 「<span style="color: #7CBB72;" class="text-Rounded500">1〜100</span>」の範囲で設定できます。<br>
          この数値を上げることで動きが速くなり、この数値を小さくすると動きは遅くなります。
        </span>
      </p><br>
      <p style="margin-bottom: -0.8rem;">
        <span><%= image_tag('anime_screenanime_top.png', alt: '「上」から「下」にスクロールするアニメのボタン', class: "toolbtn-image-20") %>：選択したScreenに「上」から「下」にスクロールするアニメーションを設定するボタンです。</span><br>
        <span><%= image_tag('anime_screenanime_bottom.png', alt: '「下」から「上」にスクロールするアニメのボタン', class: "toolbtn-image-20") %>：選択したScreenに「下」から「上」にスクロールするアニメーションを設定するボタンです。</span><br>
        <span><%= image_tag('anime_screenanime_left.png', alt: '「左」から「右」にスクロールするアニメのボタン', class: "toolbtn-image-20") %>：選択したScreenに「左」から「右」にスクロールするアニメーションを設定するボタンです。</span><br>
        <span><%= image_tag('anime_screenanime_right.png', alt: '「右」から「左」にスクロールするアニメのボタン', class: "toolbtn-image-20") %>：選択したScreenに「右」から「左」にスクロールするアニメーションを設定するボタンです。</span></p><br>

      <p>
        <span><%= image_tag('anime_screenanime_change.png', alt: '切り替えアニメのボタン', class: "toolbtn-image-20") %>切り替えアニメ<br>
        選択したScreenに切り替えアニメーションを設定するボタンです。<br>
        このアニメーションでは、選択されたScreenを指定された順序で表示します。<br>
        カスタムパネル上には「速さ」の項目の代わりに「時間」を設定するフォームが表示されます。<br>
        時間はミリ秒単位で指定可能です。（<span style="color: #7CBB72;" class="text-Rounded500">1秒は1000ミリ秒に相当</span>）<br>
        設定可能な範囲は「<span style="color: #7CBB72;" class="text-Rounded500">1〜600,000ミリ秒（10分）</span>」です。
        </span>
      </p>
      <p>その他の項目については後述の「<span class="point-line">Screenのアニメーションの設定方法</span>」にて記載します。</p>
    </div>


    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
      Screenのアニメーションの設定方法
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('anime_custom_screen_select.png', alt: 'Screenのアニメーションの設定方法の図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        はじめに<span style="color: #E19AB0;" class="text-Rounded500">複数選択ボタン</span>をオン<%= image_tag('anime_select_screen.png', alt: '複数選択ボタン', class: "explanation-image", style: "width: 80px;") %>にして下さい。<br>
        これにより、リストパネルに表示されているScreenを<span class="sakura-line"><span style="color: #59afc7;" class="text-Rounded500">最大20枚</span></span>まで選択することが可能になります。
      </p><br>

      <p style="margin-bottom: -0.8rem;">
        複数選択ボタンがオン<%= image_tag('anime_select_screen.png', alt: '複数選択ボタン', class: "explanation-image", style: "width: 80px;") %>の状態で<span style="color: #E19AB0;" class="text-Rounded500">Screenボタン</span><%= image_tag('anime_screen_btn.png', alt: 'ステージ上にscreenを配置するボタン', class: "explanation-image", style: "width: 70px;") %>をクリックすると、カスタムパネルの<span style="color: #59afc7;" class="text-Rounded500">「選択中のScreen」</span>に選択したScreenの名前が表示されます。<br>
        それぞれの名前はクリック可能なタグボタン<%= image_tag('anime_select_tag.png', alt: '選択されているScreenのタグボタン', class: "explanation-image", style: "width: 60px;") %>になっており、クリックすることでそのScreenを項目から削除できます。<br>
        <span class="sakura-line">アニメーションで使用するScreenは同じものを何度でも選択可能です。</span>
      </p><br>

      <p>
        選択したScreenでアニメーションを設定するには、<span style="color: #E19AB0;" class="text-Rounded500">更新ボタン</span><%= image_tag('anime_select_update.png', alt: 'Screenのアニメ更新ボタン', class: "explanation-image", style: "width: 50px;") %>を押します。<br>
        これにより、<span style="color: #59afc7;" class="text-Rounded500">「アニメの種類選択」</span>で設定したアニメーションが適用され、再生が開始されます。
      </p>



      <p style="margin-top: 3rem;">
        アニメーションの編集が必要な場合は、「選択中のScreen」のScreenを追加または削除し、再び更新ボタンを押してください。<br>
        アニメーションを停止したい場合は、<span style="color: #E19AB0;" class="text-Rounded500">単一選択ボタン</span>をオン<%= image_tag('anime_single_active_btn.png', alt: '単一選択ボタン', class: "explanation-image", style: "width: 80px;") %>にします。<br>
        これにより、リストパネルの現在の<span style="color: #59afc7;" class="text-Rounded500">メインScreen</span><%= image_tag('anime_screen_preview.png', alt: 'screenのプレビュー', class: "explanation-image", style: "width: 80px;") %>に表示されているScreenのみが静的に表示され、<span class="sakura-line">アニメーションが停止</span>します。
      </p>

      <p>
        アニメーションが動作中で単一選択ボタンがオン<%= image_tag('anime_single_active_btn.png', alt: '単一選択ボタン', class: "explanation-image", style: "width: 80px;") %>の場合、Screenボタンを押すとアニメーションが停止し、選択されたScreenのみが静的に表示されます。<br>
      「選択中のScreen」に既に項目がある場合、複数選択ボタンがオフでも更新ボタンを押すだけでアニメーションが更新/再生されます。
      </p>

    </div>



<div style="height: 7rem; width: 100px;"></div>

    <section id="section4">
      <h2 class="explanation-section-title">
        <span class="text-line">詳細表示パネル</span>
      </h2>
    </section>
    <div class="sidebar-design">
      <%= image_tag('detail_panel.png', alt: '詳細表示パネルの図解', class: "toolpanel-image") %>
    </div>


<div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
  <p>
    選択されているFlow Thingの現在の状況を表示するパネルです。<br>
    <span style="color: #59afc7;" class="text-Rounded500">ステージ内の位置(中心基準)</span>の項目はステージ上の左上を<span style="color: #59afc7;" class="text-Rounded500">(X: 0, Y: 0) </span>とした時に対象のFlow Thingの中心点がどの位置にあるかを示しています。<br>
    対象のFlow Thingに付与されているアニメーションの項目には<span style="color: #E19AB0;" class="text-Rounded500">実行中</span>と表示されます。
  </p>
  </div>



<div style="height: 7rem; width: 100px;"></div>

    <section id="section4">
      <h2 class="explanation-section-title">
        <span class="text-line">ガイドパネル</span>
      </h2>
    </section>
    <div class="sidebar-design">
      <%= image_tag('guide_panel.png', alt: 'ガイドパネルの図解', class: "toolpanel-image") %>
    </div>


<div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
  <p>
    このパネルでは、アニメーションツール内で作業中に各ツールの詳細説明を確認することができるパネルです。<br>
    パネルの右端の<span style="color: #59afc7;" class="text-Rounded500">メニューバー</span>より各項目の場所にジャンプできます。
  </p>
  </div>





<div style="height: 10rem; width: 100px;"></div>

  </div>

</div>
