<% content_for(:title, t('.title')) %>
<div class='p5canvas-container'>

  <% profile = current_user.profile if user_signed_in? %>
  <div class="sidebar" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

    <div class="text-Rounded700"><h1 class="sidebar-title">ツール</h1></div>
    <div class="menu-sidebar text-Rounded500">
      <ul>
          <li><%= link_to '基本操作', tool_explanation_path + '#section1' %></li>
          
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">ツールパネル<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section1">
              <%= link_to 'ツールパネル図解', tool_explanation_path + '#section2' %>
              <%= link_to 'コンパクトパネル', tool_explanation_path + '#section3' %>
          </div>
        </li>
        <li><%= link_to 'カラーパレットパネル', tool_explanation_path + '#section4' %></li>
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">レイヤーパネル<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <%= link_to 'レイヤーとは？', tool_explanation_path + '#section5' %>
              <%= link_to 'レイヤーパネル図解', tool_explanation_path + '#section6' %>
              <%= link_to 'ブレンドモード早見表', tool_explanation_path + '#section7' %>
          </div>
        </li>
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">詳細設定パネル<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section3">
              <a href="#section1">詳細設定パネルの基本構造</a>
              <a href="#section2">ペン</a>
              <a href="#section3">筆圧設定</a>
              <a href="#section4">選択/画像</a>
              <a href="#section5">図形/テキスト</a>
          </div>
        </li>
        <li><a href="#section6">サイズパネル</a></li>
        <li><a href="#section7">スケールパネル</a></li>
      </ul>
    </div>

    <div class="sidebar-design">
      <%= image_tag('tongari.png', alt: 'ツールページの画像', class: "sidebar-image2") %>
    </div>
  </div>

  <div class="sidebar-content">

    <div style="height: 7rem; width: 100px;"></div>
    <h2 class="explanation-section-title">
      <span class="text-line">詳細設定パネル</span>
    </h2>

    
    <section id="section1">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          詳細設定パネルの基本構造
        </span>
      </h3>
    </section>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;  margin-top: -2rem;">
    <p>「詳細設定パネル」は<span style="color: #F8A3B1;" class="text-Rounded500">「ペン」「選択」「図形」「画像」</span>機能のいずれかを選択した際に表示されるパネルです。<br>
    自動表示モードをオフ<%= image_tag('auto_panel_none_btn.png', alt: '自動表示モードがオフの時のUI', class: "auto_btn-image") %>にしている場合は
    <span style="color: #59afc7;" class="text-Rounded500"><i class="bi bi-gear-fill"></i></span>アイコンをクリックすると表示されます。<br>
    パネル内の内容は選択されているツールに合わせて変化します。
    </p>
    </div>


    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      各種紹介
      </span>
    </h4>
      <div class="sidebar-design">
        <%= image_tag('detail_panel_list.png', alt: '詳細設定パネルの種類', class: "detail_panel-list_image") %>
      </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -1rem;">「詳細設定パネル」は大きく分けて4種類あります。</p><br>
      <p><span style="color: #E19AB0;" class="text-Rounded500">ペン</span>：ペン機能についての詳細設定を調整するためのパネルです。<br></p>
      <p><span style="color: #59afc7;" class="text-Rounded500">筆圧設定</span>：筆圧機能についての詳細設定を調整するためのパネルです。ペン機能を選択している時にのみパネル上部の<span style="color: #e19ab0;" class="text-Rounded500">「切り替えタブ」</span>から表示できます。<br></p>
      <p><span style="color: #7CBB72;" class="text-Rounded500">選択/画像</span>：選択機能もしくは画像機能を選択している時に表示されるパネルです。<br></p>
      <p><span style="color: #f49e25;" class="text-Rounded500">図形/テキスト</span>：図形機能もしくはテキスト機能を選択している時に表示されるパネルです。</p>
    </div>



    <section id="section2">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          ペン
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('pen_normal_panel.png', alt: 'ペンの詳細設定パネルの図解', class: "toolpanel-image") %>
    </div>


      <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
        <span class="point-line">
        基本機能の紹介
        </span>
      </h4>

      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;"><span style="color: #3a559d;" class="text-Rounded700">ペンの種類の切り替えボタン</span><%= image_tag('pen_btn_list.png', alt: 'ペンの種類の切り替えボタン', class: "explanation-image", style: "width: 200px;") %><br>
      ペンの種類を切り替えられるボタンです。ペンの種類は<span style="color: #F8A3B1;" class="text-Rounded500">7種類</span>あります。各ペンの特色は後述します。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #c9da39;" class="text-Rounded700">ペンのプレビュー</span><%= image_tag('pen_preview.png', alt: 'ペンのプレビュー', class: "explanation-image", style: "width: 50px;") %>：
      ペンの断面図を確認できるプレビューです。プレビューは「ブラシサイズ」「カラー」「ぼかし」によって変動します。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #5ab8d2;" class="text-Rounded700">概要欄</span>：
      選択中のペンの説明が表示されます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #da96ab;" class="text-Rounded700">お気に入りペンの設定</span><%= image_tag('favorite_pen.png', alt: 'お気に入りペンを設定できるチェックボックス', class: "explanation-image", style: "width: 38px;") %>：
      各ペンの詳細設定パネルに用意されているこのチェックボックスにチェックをつけるとそのペンをお気に入りとして<span style="color: #F8A3B1;" class="text-Rounded500">ツールパネル</span>に設定できます。<br>
      <%= image_tag('favorite_pen_image.png', alt: 'お気に入りペンの設定の図解', class: "explanation-image", style: "width: 250px;") %><br>
      設定できるペンは2つまでで、同じペンと<span style="color: #F8A3B1;" class="text-Rounded500">色混ぜ</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-droplet-half"></i></span>を設定することはできません。<br>
      <span style="color: #F8A3B1;" class="text-Rounded500">１つ目のお気に入りペン</span>：<%= image_tag('favorite_first.png', alt: '１つ目のお気に入りペンを決めるチェックボックス', class: "explanation-image", style: "width: 18px;") %><br>
      <span style="color: #59afc7;" class="text-Rounded500">2つ目のお気に入りペン</span>：<%= image_tag('second_favorite.png', alt: '2つ目のお気に入りペンを決めるチェックボックス', class: "explanation-image", style: "width: 18px;") %></p><br>
      </p><br>
      </div>

    
      <h4 class="explanation-section-pointtitle" style="margin-top: -0.5rem;">
        <span class="point-line">
        ペンの種類早見表
        </span>
      </h4>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
        <table class="pen-type-table">
          <thead>
            <tr>
              <th>ペンの種類</th>
              <th>ペンの特徴</th>
              <th>筆圧感知機能</th>
              <th>ぼかし機能</th>
              <th>試し書き</th>
              <th>試し書き(ぼかし差分)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ベタ塗りペン<%= image_tag('pen_beta_btn.png', alt: 'ベタ塗りペンボタン', class: "toolbtn-image") %></td>
              <td class="pen-type-table-text">一番シンプルなペン。<br>一定の太さで描画できる。</td>
              <td>×</td>
              <td>×</td>
              <td><%= image_tag('beta_image.png', alt: 'ベタ塗りペン試し書き', class: "brush-sample-image") %></td>
              <td>−</td>
            </tr>
            <tr>
              <td>ミリペン<%= image_tag('pen_miri_btn.png', alt: 'ミリペンボタン', class: "toolbtn-image") %></td>
              <td class="pen-type-table-text">ベタ塗りペンにぼかし機能がついたペン。<br>一定の太さで描画できる。</td>
              <td>×</td>
              <td>◯</td>
              <td><%= image_tag('miri_image.png', alt: 'ミリペン試し書き', class: "brush-sample-image") %></td>
              <td><%= image_tag('miri_blur.png', alt: 'ぼかし機能付きミリペン試し書き', class: "brush-sample-image") %></td>
            </tr>
            <tr>
              <td>インクペン<%= image_tag('pen_ink_btn.png', alt: 'インクペンボタン', class: "toolbtn-image") %></td>
              <td class="pen-type-table-text">筆圧を感知するペン。<br>手の加減で多彩なペイントが可能。</td>
              <td>◯</td>
              <td>×</td>
              <td><%= image_tag('ink_image.png', alt: 'インクペン試し書き', class: "brush-sample-image") %></td>
              <td>−</td>
            </tr>
            <tr>
              <td>水彩ペン<%= image_tag('pen_water_btn.png', alt: '水彩ペンボタン', class: "toolbtn-image") %></td>
              <td class="pen-type-table-text">インクペンにぼかし機能がついたペン。<br>手の加減で多彩なペイントが可能。</td>
              <td>◯</td>
              <td>◯</td>
              <td><%= image_tag('water_image.png', alt: '水彩ペン試し書き', class: "brush-sample-image") %></td>
              <td><%= image_tag('water_blur.png', alt: 'ぼかし機能付き水彩ペン試し書き', class: "brush-sample-image") %></td>
            </tr>
            <tr>
              <td>エアブラシ<%= image_tag('pen_pencil_btn.png', alt: 'エアブラシペンボタン', class: "toolbtn-image") %></td>
              <td class="pen-type-table-text">ドットの集合体で構成されているペン。<br>鉛筆のようなペイントが可能。</td>
              <td>◯</td>
              <td>◯</td>
              <td><%= image_tag('pencil_image.png', alt: 'エアブラシペン試し書き', class: "brush-sample-image") %></td>
              <td><%= image_tag('pencil_blur.png', alt: 'ぼかし機能付きエアブラシペン試し書き', class: "brush-sample-image") %></td>
            </tr>
            <tr>
              <td>厚塗りペン<%= image_tag('pen_oil_btn.png', alt: '厚塗りペンボタン', class: "toolbtn-image") %></td>
              <td class="pen-type-table-text">ドットの集合体で構成されているペン。<br>ベタっとしたペイントが可能。</td>
              <td>◯</td>
              <td>◯</td>
              <td><%= image_tag('oil_image.png', alt: '厚塗りペン試し書き', class: "brush-sample-image") %></td>
              <td><%= image_tag('oil_blur.png', alt: 'ぼかし機能付き厚塗りペン試し書き', class: "brush-sample-image") %></td>
            </tr>
            <tr>
              <td>色混ぜ<%= image_tag('pen_mix_btn.png', alt: '色混ぜペンボタン', class: "toolbtn-image") %></td>
              <td class="pen-type-table-text">canvas内の色を取得し、その色でペイントするペン。<br>手の加減次第で周辺と色が混ざる。</td>
              <td>◯</td>
              <td>◯</td>
              <td><%= image_tag('mix_image.png', alt: '色混ぜペン試し書き', class: "brush-sample-image") %></td>
              <td><%= image_tag('mix_blur.png', alt: 'ぼかし機能付き色混ぜペン試し書き', class: "brush-sample-image") %></td>
            </tr>
          </tbody>
        </table>
      </div>


    
      <h4 class="explanation-section-pointtitle" style="margin-top: 5rem;">
        <span class="point-line">
        ペンの紹介
        </span>
      </h4>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>本ペイントツールのペンのブラシサイズは<span style="color: #F8A3B1;" class="text-Rounded500">「0.3〜100」</span>までの間で選択可能です。<br>
      「ぼかし機能」は対象のペンの詳細パネルでチェックボックスにチェックを入れることで使用できます。ぼかし具合は「色混ぜ」以外は固定値で構成しております。<br>
      「ぼかし機能」を使用すると指定したペンサイズよりペンが少し大きくなることがございます。</p>
        
        <p>「筆圧感知機能」については、一部の対象のペンでその機能をご使用頂けます。<br>
          この機能により手の力加減で<span style="color: #F8A3B1;" class="text-Rounded500">「ブラシサイズ」「色の彩度」「色の明度」</span>を調整することが可能です。<br>
          さらに「筆圧感知機能」は細かく設定することができ、力加減で出せるブラシサイズと色調をカスタマイズできます。
        </p>

        <p>
          <span class="red-text text-Rounded500">※注意点</span><br>
          「お使いのデバイスの状況」「ブラシサイズの大きさ」「ぼかし機能」によってペイント速度に遅延が発生する可能性があります。<br>
          また「お使いのブラウザの設定」で「筆圧感知機能」が使用できないことがございます。
        </p>
      </div>
    
      


      <h5 class="explanation-section-pointtitle" style="margin-bottom: 3rem; font-size: 1rem;">
        <span class="sakura-line">
        「<span style="color: #59afc7;" class="text-Rounded500">ペンの密度</span>」という項目について
        </span>
      </h5>
      <div class="sidebar-design">
        <%= image_tag('dpen_ensity.png', alt: 'ペンの密度のサンプル', class: "explanation-image", style: "width: 450px; margin-left: -4rem;") %>
      </div>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
        <p>
          本ペイントツールでは、静的な点を動的に連結して線を形成しています。<br>
          このため、ペイントの速度によっては、一部のペンで線が途切れることがあります。<br>
          この現象は「<span style="color: #59afc7;" class="text-Rounded500">ペンの密度</span>」という設定を調整することで、影響の程度を変更することが可能です。<br>
          調整次第ではペンの速さに応じて途切れるペンを使用することができます。<br>
          各ペンタイプには個別の調整項目があり、使用者はそれぞれのペンに合わせて密度を調整できます。<br>
          滑らかになる調整値(上限付近まで)に設定した場合ペイント速度に遅延が発生する可能性があります。<br>
        </p>
      </div>



      <h5 class="explanation-section-pointtitle" style="margin-bottom: 3rem; font-size: 1rem;">
        <span class="orange-line">
        ベタ塗りペン<%= image_tag('pen_beta_btn.png', alt: 'ベタ塗りペンボタン', class: "toolbtn-image", style: "margin-bottom: 1.2rem;") %>
        </span>
      </h5>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9; margin-top: -4rem;">
        <p>
          一番シンプルなペンです。一定の太さで描画できます<br>
          このペンには「ぼかし」「筆圧」機能はついていません。<br>
          ペンの中で一番動作の遅延が発生しにくいため扱いやすいです。
        </p>
      </div>


      <h5 class="explanation-section-pointtitle" font-size: 1rem;">
        <span class="orange-line">
        ミリペン<%= image_tag('pen_miri_btn.png', alt: 'ミリペンボタン', class: "toolbtn-image", style: "margin-bottom: 1.2rem;") %>
        </span>
      </h5>
      <div class="sidebar-design">
        <%= image_tag('pen_miri_panel.png', alt: 'ミリペンの詳細設定パネルの図解', class: "toolpanel-image") %>
      </div>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
        <p>
          「ぼかし」機能がついたペンです。<br>
          このペンには「筆圧」機能はついていません。<br>
          ベタ塗りペンと同様に一定の太さで描画できます。<br>
          「<span style="color: #59afc7;" class="text-Rounded500">ペンの密度</span>」は0.01〜100の間で調整でき、値を大きくすると滑らかに、小さくすると途切れた線になります。<br>
        </p>
      </div>


      <h5 class="explanation-section-pointtitle" style="font-size: 1rem;">
        <span class="orange-line">
        インクペン<%= image_tag('pen_ink_btn.png', alt: 'インクペンボタン', class: "toolbtn-image", style: "margin-bottom: 1.2rem;") %>
        </span>
      </h5>
      <div class="sidebar-design">
        <%= image_tag('pen_ink_panel.png', alt: 'インクペンの詳細設定パネルの図解', class: "toolpanel-image") %>
      </div>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
        <p>
          筆圧を感知し、それに応じて多彩な表現ができるペンです<br>
          このペンには「ぼかし」機能はついていません。<br>
          筆圧を感知するペンの中では動作の遅延が発生しにくいため扱いやすいです。<br>
          <span style="color: #59afc7;" class="text-Rounded500">ペンの密度</span>」は0.005〜9999の間で調整でき、値を<span style="color: #F8A3B1;">小さく</span>すると滑らかに、<span style="color: #F8A3B1;">大きく</span>すると途切れた線になります。<br>
        </p>
      </div>


      <h5 class="explanation-section-pointtitle" style="font-size: 1rem;">
        <span class="orange-line">
        水彩ペン<%= image_tag('pen_water_btn.png', alt: '水彩ペンボタン', class: "toolbtn-image", style: "margin-bottom: 1.2rem;") %>
        </span>
      </h5>
      <div class="sidebar-design">
        <%= image_tag('pen_water_panel.png', alt: '水彩ペンの詳細設定パネルの図解', class: "toolpanel-image") %>
      </div>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
        <p>
          筆圧を感知し、それに応じて多彩な表現ができるペンです<br>
          このペンには「筆圧」と「ぼかし」機能が両方ついています。<br>
          「<span style="color: #59afc7;" class="text-Rounded500">ペンの密度</span>」は0.01〜100の間で調整でき、値を大きくすると滑らかに、小さくすると途切れた線になります。<br>
          <span class="red-text text-Rounded500" style="font-size: 0.85rem;  margin-top: 0rem;">※状況次第ではペイント速度に遅延が発生する可能性があります。</span>
        </p>
      </div>


      <h5 class="explanation-section-pointtitle" style="font-size: 1rem;">
        <span class="orange-line">
        エアブラシ<%= image_tag('pen_pencil_btn.png', alt: 'エアブラシペンボタン', class: "toolbtn-image", style: "margin-bottom: 1.2rem;") %>/厚塗りペン<%= image_tag('pen_oil_btn.png', alt: '厚塗りペンボタン', class: "toolbtn-image", style: "margin-bottom: 1.2rem;") %>
        </span>
      </h5>

      <div class="sidebar-design">
        <%= image_tag('pen_pencil_panel.png', alt: 'エアブラシペンと厚塗りペンの詳細設定パネルの図解', class: "dotpen_panel-image") %>
      </div>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
        <p>
          エアブラシと厚塗りペンは<span style="color: #F8A3B1;" class="text-Rounded500">円形の点(ドット)</span>が集まって構成されるペンです。<br>
          ドットの形状は変更することが可能であり、アーティステックなペイントが可能です。<br>
          また、この2つのペンも「筆圧」と「ぼかし」機能が両方ついています。<br>
          <span class="red-text text-Rounded500" style="font-size: 0.85rem;  margin-top: 0rem;">※「ドット形状」「ブラシサイズ」「ペンの密度」の状況次第ではペイント速度に遅延が発生する可能性があります。</span>
        </p>
      </div>

      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
    
        <p style="margin-bottom: -0.8rem;"><span style="color: #bfad28;" class="text-Rounded700">ドットの形状</span></p><br>
        <div>
          <table class="dot-sample-table">
            <thead>
              <tr>
                <th>ドットの横幅を加算</th>
                <th>ドットの縦幅を加算</th>
                <th>縦横を同じだけ加算</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= image_tag('dot_width.png', alt: 'ドットの横幅を加算サンプル', class: "dot-pen-table-image") %></td>
                <td><%= image_tag('dot_height.png', alt: 'ドットの縦幅を加算したサンプル', class: "dot-pen-table-image") %></td>
                <td><%= image_tag('dot_big.png', alt: '縦横を同じだけ加算サンプル', class: "dot-pen-table-image") %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="red-text text-Rounded500" style="font-size: 0.85rem;  margin-top: 0rem;">※例としてエアブラシを使用しています。</span><br>
        <p style="margin-bottom: 3rem;">詳細設定パネルのフォームより<span style="color: #F8A3B1;" class="text-Rounded500">「横幅」</span>と<span style="color: #F8A3B1;" class="text-Rounded500">「縦幅」</span>を設定してドットの形状を変えることができます。<br>
        設定できるサイズは<span style="color: #59afc7;" class="text-Rounded500">「0.5〜現在選択しているブラシサイズの半分の値まで」</span>になります。<br>
        </p>

    
        <p style="margin-bottom: -0.8rem;"><span style="color: #bfad28;" class="text-Rounded700">ドットの数</span></p><br>
        <div>
          <table class="dot-sample-table">
            <thead>
              <tr>
                <th>ドット数1個</th>
                <th>ドット数999個</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= image_tag('dot_1.png', alt: 'ドット数1個のサンプル', class: "dot-pen-table-image") %></td>
                <td><%= image_tag('dot_999.png', alt: 'ドット数999個のサンプル', class: "dot-pen-table-image") %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="red-text text-Rounded500" style="font-size: 0.85rem;  margin-top: 0rem;">※例としてエアブラシを使用しています。</span><br>
        <p style="margin-bottom: 3rem;">詳細設定パネルのフォームより1回あたりのクリック(フレーム)で描画されるドットの数を調整できます。<br>
          調整可能範囲は<span style="color: #59afc7;" class="text-Rounded500">「1〜999」</span>までとなります。
        </p>

          
        <p style="margin-bottom: -0.8rem;"><span style="color: #bfad28;" class="text-Rounded700">透明度の調整</span></p><br>
        <span>このブラシは実は四角い形状をしており、外枠のピクセルに透明度をつけることでペンの形状を円形にしております。<br>
        そのためその透明度の調整次第でペンの形状を変えることが可能となっています。</span><br>
        <div>
          <table class="dot-sample-table">
            <thead>
              <tr>
                <th>透明度0</th>
                <th>透明度100</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= image_tag('dot_alpha0.png', alt: '透明度0のサンプル', class: "dot-pen-table-image") %></td>
                <td><%= image_tag('dot_rect.png', alt: '透明度100のサンプル', class: "dot-pen-table-image") %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <span class="red-text text-Rounded500" style="font-size: 0.85rem;  margin-top: 0rem;">※例としてエアブラシを使用しています。</span><br>
        <p style="margin-bottom: 3rem;">
          調整可能範囲は<span style="color: #59afc7;" class="text-Rounded500">「0〜100」</span>までとなり、「0で完全な円形」「100で完全な四角形」になります。
        </p>

        <p style="margin-bottom: -0.8rem;"><span style="color: #bfad28;" class="text-Rounded700">エアブラシと厚塗りペンの違い</span></p><br>
        <div>
          <table class="dot-sample-table">
            <thead>
              <tr>
                <th>エアブラシ</th>
                <th>厚塗りペン</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= image_tag('pencil_paint.png', alt: 'エアブラシのサンプル', class: "dot-pen-paint-image") %></td>
                <td><%= image_tag('oil_paint.png', alt: '厚塗りペンのサンプル', class: "dot-pen-paint-image") %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p style="margin-bottom: 3rem;">
        主に、ペンを走らせたときに描画されたドットが次のドットと連携するかどうかで書き味を変化させています。<br>
        <span class="sakura-line">次のドットと連携せずドットの形状が目立つものが「エアブラシ」</span>、<br><span class="sub-line">次のドットと連携しドットの形状がわかりにくいものが「厚塗りペン」</span>となります。<br>
        この違いからエアブラシは調整具合次第では掠れたペイントになり、厚塗りペンはベタついた絵の具のようなアナログチックなペイントになります。<br>
        </p>

        <p style="margin-bottom: -0.8rem;"><span style="color: #bfad28;" class="text-Rounded700">補間調整値</span></p><br>
        <p style="margin-bottom: 3rem;">
        線を引く際の点の配置感覚を調整する項目です。
        調整可能範囲は<span style="color: #59afc7;" class="text-Rounded500">「0〜100」</span>までとなり、<br>
        値を小さくするとより多くの点が補完され線が滑らかに、値を大きくすると点の感覚が広がり線に切れが生じやすくなります。<br>
        「<span style="color: #59afc7;" class="text-Rounded500">ペンの密度</span>」と似たような項目でペンの速さに依存するため効果を実感しにくい場合がございます。
        </p>


        <p style="margin-bottom: -0.8rem;"><span style="color: #5AC2DE;" class="text-Rounded700">ペンの密度</span></p><br>
        <p style="margin-bottom: 3rem;">
        今回「<span style="color: #59afc7;" class="text-Rounded500">ペンの密度</span>」は<span style="color: #F8A3B1;" class="text-Rounded500">厚塗りペン</span>にのみ設けております。
        調整可能範囲は0.01〜100の間で、値を大きくすると滑らかに、小さくすると途切れた線になります。
        </p>
      </div>


      <h5 class="explanation-section-pointtitle" style="font-size: 1rem;">
        <span class="orange-line">
        色混ぜ<%= image_tag('pen_mix_btn.png', alt: '色混ぜペンボタン', class: "toolbtn-image", style: "margin-bottom: 1.2rem;") %>
        </span>
      </h5>
      <div class="sidebar-design">
        <%= image_tag('pen_mix_panel.png', alt: '色混ぜペンの詳細設定パネルの図解', class: "toolpanel-image") %>
      </div>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
        <p>
          canvas上で触った部分のピクセルに塗られている色を取得し、その色でペイントできるペンです。<br>
          このペンは色を持たず、クリックしてリリースするまでの間、取得した色で描画が可能です。
        </p><br>

        <p>
          色の取得は現在の描画レイヤーに限られ、他のレイヤーからは色を取得できません。<br>
          描画レイヤーにペイントがない部分をクリックし、ペイントのある部分へドラッグすると、消しゴムのように色情報を消去することができます。<br>
          このペンも「ぼかし」と「筆圧」機能が両方ついています。
          「<span style="color: #59afc7;" class="text-Rounded500">ペンの密度</span>」は0.01〜100の間で調整でき、値を大きくすると滑らかに、小さくすると途切れた線になります。<br>
          <span class="red-text text-Rounded500" style="font-size: 0.85rem;  margin-top: 0rem;">※状況次第ではペイント速度に遅延が発生する可能性があります。</span>
        </p><br>

        <p style="margin-bottom: -0.8rem; margin-top: 1.5rem;"><span style="color: #7CBB72;" class="text-Rounded700">ペンにぼかしをつける</span>：
        「ぼかし」は<span style="color: #59afc7;" class="text-Rounded500">「0〜5」</span>の範囲で程度を選択でき、数値が大きいほどぼかし度合いが大きくなります。<br>
        <span class="red-text text-Rounded500" style="font-size: 0.85rem;  margin-top: 0rem;">※しかし、あまり性能は良くなく、さらにペイント速度に遅延が発生する可能性があります。</span>
        </p><br>

        <p style="margin-bottom: -0.8rem;"><span style="color: #EA9637;" class="text-Rounded700">透明度に筆圧をつける</span>：
          このペンはサイズと色の他に透明度にも筆圧をかけることができます。<br>
          そのため、取得色と全く同じ色ではなく<span style="color: #59afc7;" class="text-Rounded500">彩度・明度・透明度</span>が操作された色でペイントできます。<br>
          透明度の最大値は<span style="color: #59afc7;" class="text-Rounded500">「0〜100」</span>の範囲で選択でき、その最大値を超えない範囲で筆圧によって色を調整できます。<br>
          これらにより取得した色とは異なる色調で描画することができます。
        </p><br>

      </div>





    <section id="section3">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          筆圧設定
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('pen_pressure_panel.png', alt: '筆圧の詳細設定パネルの図解', class: "toolpanel-image") %>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      設定項目の紹介
      </span>
    </h4>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -1rem;">本ペイントツールでは、<span style="color: #e19ab0;" class="text-Rounded500">「サイズ」「彩度（S値）」「明度（V値）」</span>の3つの要素に対して、それぞれ筆圧による補正を加えることができます。<br>
      筆圧設定パネルの左端の<span style="color: #59afc7;" class="text-Rounded500">メニューバー</span>より各項目の場所にジャンプできます。
      </p><br>
      <p><span style="color: #E19AB0;" class="text-Rounded500">筆圧の補間率調整</span>：実際の筆圧に対して、強弱の補助値を加えることができます。これにより、使用者の手の力加減に応じて、より自由な強さでペイントが可能になります。<br></p>
      <p><span style="color: #59afc7;" class="text-Rounded500">サイズに筆圧をつける</span>：筆圧に応じてペンのサイズを動的に変更することができます。これにより、細かい線から太い線まで、筆圧を変えるだけで自在に描画できます。<br></p>
      <p><span style="color: #7CBB72;" class="text-Rounded500">S値に筆圧をつける</span>：彩度に筆圧を加えることで、手の力加減だけで色の濃淡を調整できます。薄い色から濃い色まで、自然な変化を表現することができます。<br></p>
      <p><span style="color: #f49e25;" class="text-Rounded500">V値に筆圧をつける</span>：明度に筆圧を加えることで、明るい色から暗い色まで、手の力加減で自由に変更できます。</p>
    </div>
    
    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
      筆圧の補間率調整
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('pen_pressure_base.png', alt: '筆圧の補間率調整の項目の説明', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -1rem;"><span style="color: #E19AB0;" class="text-Rounded500">「筆圧の補間率調整」</span>の項目では基準となる筆圧調整の設定ができます。
      </p><br>
      <p><span style="color: #59afc7;" class="text-Rounded500">最小補間率</span>：描画中に筆圧が<span style="color: #59afc7;" class="text-Rounded500">ゆっくり変化</span>する時の反応具合を調整する項目です。設定値が小さいほど緩やかに変化し、大きいほど瞬時に変化します。<br></p>
      <p><span style="color: #E19AB0;" class="text-Rounded500">最大補間率</span>：描画中に筆圧が<span style="color: #e19ab0;" class="text-Rounded500">急激に変化</span>する時の反応具合を調整する項目です。設定値が小さいほど緩やかに変化し、大きいほど瞬時に変化します。<br></p>
      <p><span style="color: #7CBB72;" class="text-Rounded500">筆圧調整値</span>：通常の筆圧に対して強弱の補助値を加えることができる設定できる項目です。これにより弱い筆圧で筆圧が強い時の線が、また強い筆圧で弱い筆圧の時の線が引けるようになります。<br></p>
    </div>


    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
      サイズに筆圧をつける
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('pen_pressure_size.png', alt: 'サイズに筆圧をつけるの項目の説明', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -1rem;">この項目ではサイズに筆圧をつけるか選択でき、さらにそれに関する詳細を設定することができます。
      </p><br>
      <p><span style="color: #59afc7;" class="text-Rounded500">サイズに筆圧をつける</span>：筆圧に応じてサイズを変更するかどうかを選択できます。チェックボックスにチェックを入れると<span style="color: #e19ab0;" class="text-Rounded500">オン</span>になり、選択しているツールサイズを最大値にそれを超えない範囲で筆圧によってペンのサイズが変わります。<br>チェックを外すと<span style="color: #59afc7;" class="text-Rounded500">オフ</span>になり均一な線になります。<br></p>
      <p><span style="color: #bfad28;" class="text-Rounded500">サイズの変動具合を調整する</span>：<span style="color: #59afc7;" class="text-Rounded500">「サイズに筆圧をつける」</span>の項目にチェックが入っている場合のみさらに詳細な設定を加えるか選択できる項目です。<span style="color: #e19ab0;" class="text-Rounded500">オン</span>にするとサイズの変動具合や最小値を設定できます。<br></p>
      <p><span style="color: #E19AB0;" class="text-Rounded500">サイズの補間率</span>：サイズの変動具合を調整できます。0から1の範囲でサイズがどれくらいの速度で変動するかを細かく設定可能です。<br></p>
      <p><span style="color: #f49e25;" class="text-Rounded500">最小ペンサイズ</span>：筆圧によって変動するペンの最小サイズを設定できます。筆圧のかかるペンは<span style="color: #e19ab0;" class="text-Rounded500">選択中のツールサイズを最大値</span>に、<span style="color: #59afc7;" class="text-Rounded500">最小ペンサイズを最小値</span>にした範囲で変動します。サイズ変更時に新しく選択したものが最小サイズより小さかった場合はこの値は選択したツールサイズの半分の値に自動で更新されます。<br></p>
    </div>


    <h4 class="explanation-section-pointtitle">
      <span class="point-line">
      彩度と明度について
      </span>
    </h4>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -1rem;"><span style="color: #7CBB72;" class="text-Rounded500">「S値に筆圧をつける」</span>と<span style="color: #f49e25;" class="text-Rounded500">「V値に筆圧をつける」</span>の項目の解説の前に彩度と明度についての補足をします。<br>
      まず、このペイントツールの筆圧機能は<span style="color: #59afc7;" class="text-Rounded500">「HSV形式」</span>でカラーを取得して操作しております。<br>
      「HSV形式」とは色を表現する方法の一つで、<span style="color: #59afc7;" class="text-Rounded500">色相(Hue)</span>、<span style="color: #7CBB72;" class="text-Rounded500">彩度(Saturation)</span>、<span style="color: #f49e25;" class="text-Rounded500">明度(Value)</span>の三つの要素で色を定義します。<br>
      この形式では、<span style="color: #59afc7;" class="text-Rounded500">色相(Hue)</span>は色の種類を示し、0度から360度の範囲で表されます。</p><br>
      <p><span style="color: #7CBB72;" class="text-Rounded500">彩度(Saturation)</span>は色の鮮やかさを表し、0%(無彩色)から100%(純色)までの範囲で設定されます。<br>
      <span style="color: #f49e25;" class="text-Rounded500">明度(Value)</span>は色の明るさを示し、0%(完全な黒)から100%(完全な白)まで調整が可能です。</p><br>

      <p><span style="color: #7CBB72;" class="text-Rounded500">彩度(Saturation)</span>が0の場合は<span style="color: #59afc7;" class="text-Rounded500">色相(Hue)</span>でどのような色を選んでも影響がなく、白・グレー・黒のみを含む<span class="sakura-line">モノクロの範囲で変化</span>します。<br>
      また、<span style="color: #f49e25;" class="text-Rounded500">明度(Value)</span>が0の場合は<span class="sakura-line">他の値がどんな数値であろうと黒</span>になります。<br>
      このツールのカラーピッカーを例に取ると、円形のカラーピッカーは色相(H値)に特化しており、四角形のカラーピッカーは彩度(S値)と明度(V値)の調整を得意としています。
      </p><br>
      <div class="sidebar-design" style="margin-top: -1.5rem;">
        <%= image_tag('hsv_graph.png', alt: 'hsv値の説明', class: "toolpanel-image") %>
      </div>
      <p style="margin-top: 3rem;">
        この「HSV形式」のカラーコード使用して、値を筆圧で調整できるようにしたものが本ペイントツールの筆圧機能です。
      </p><br>
    </div>



    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
      S値に筆圧をつける
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('pen_pressure_svalue.png', alt: 'S値に筆圧をつけるの項目の説明', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -1rem;">筆圧を利用して彩度（S値）を調整する場合、<span class="sakura-line">筆圧が弱いほど彩度の数値が小さく</span>なり、色は白に近い薄い色調になります。<br>
      逆に、<span class="sakura-line">強く押すほど彩度の数値が大きく</span>なり、より鮮やかで色彩豊かな色になります。<br>
      これにより、筆圧の強さに応じて色の鮮やかさを自然にコントロールすることができます。
      </p><br>
      <p><span style="color: #59afc7;" class="text-Rounded500">S値に筆圧をつける</span>：筆圧に応じてS値を変更するかどうかを選択できます。チェックボックスにチェックを入れると<span style="color: #e19ab0;" class="text-Rounded500">オン</span>になり、選択している色相で筆圧に応じて彩度が変動します。<br>チェックを外すと<span style="color: #59afc7;" class="text-Rounded500">オフ</span>になり選択しているカラーで統一されたペイントになります。<br></p>
      <p><span style="color: #bfad28;" class="text-Rounded500">S値の変動具合を調整する</span>：<span style="color: #59afc7;" class="text-Rounded500">「S値に筆圧をつける」</span>の項目にチェックが入っている場合のみさらに詳細な設定を加えるか選択できる項目です。<span style="color: #e19ab0;" class="text-Rounded500">オン</span>にするとS値の変動具合や最小値を設定できます。<br></p>
      <p><span style="color: #E19AB0;" class="text-Rounded500">S値の補間率</span>：S値の変動具合を調整できます。0から1の範囲でS値がどれくらいの速度で変動するかを細かく設定可能です。<br></p>
      <p><span style="color: #f49e25;" class="text-Rounded500">最小彩度設定</span>：筆圧によって変動するS値の最小値を設定できます。0〜現在選択しているカラーの範囲で設定できます。<br>この値を小さくするほど筆圧が軽い時に白に近い色になり、大きくするほどあまり変動範囲が小さくなり均一なペイントに近づきます。<br>
      <span class="red-text text-Rounded500">※</span>現在選択しているカラーが完全な白・グレー・黒の場合、S値は0であるためこの値を操作することはできません。<br></p>
      <p><span style="color: #f49e25;" class="text-Rounded500">S値の最大変化量</span>：1度の描画アクション中に許可されるS値の変動幅を設定できます。0〜現在選択しているカラーの範囲で設定できます。<br>この値が大きいほど1度の描画でより広範囲の彩度変化を行うことができます。<br></p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 2rem;">
      <span class="point-line">
      V値に筆圧をつける
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('pen_pressure_vvalue.png', alt: 'V値に筆圧をつけるの項目の説明', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -1rem;">筆圧を利用して明度（V値）を調整する場合、<span class="sakura-line" style="color: #59afc7;">筆圧が弱いほど明度の数値が大きく</span>なり、色は明るく選択しているカラーに近い色調になります。<br>
      逆に<span class="sakura-line" style="color: #59afc7;">強く押すほど明度の数値が小さく</span>なり、色はより暗くなります。<br>
      これにより、筆圧の強さに応じて色の明るさを自然にコントロールすることができます。<br>
      <span class="red-text text-Rounded500">※</span>V値では、筆圧が弱いときに数値が上がり、強いときに数値が下がるため、彩度(S値)とは異なる挙動に注意してください。
      </p><br>

      <p><span style="color: #59afc7;" class="text-Rounded500">V値に筆圧をつける</span>：筆圧に応じてV値を変更するかどうかを選択できます。チェックボックスにチェックを入れると<span style="color: #e19ab0;" class="text-Rounded500">オン</span>になり、選択している色相で筆圧に応じて彩度が変動します。<br>チェックを外すと<span style="color: #59afc7;" class="text-Rounded500">オフ</span>になり選択しているカラーで統一されたペイントになります。<br></p>
      <p><span style="color: #bfad28;" class="text-Rounded500">V値の変動具合を調整する</span>：<span style="color: #59afc7;" class="text-Rounded500">「V値に筆圧をつける」</span>の項目にチェックが入っている場合のみさらに詳細な設定を加えるか選択できる項目です。<span style="color: #e19ab0;" class="text-Rounded500">オン</span>にするとV値の変動具合や最大値を設定できます。<br></p>
      <p><span style="color: #E19AB0;" class="text-Rounded500">V値の補間率</span>V値の変動具合を調整できます。0から1の範囲でV値がどれくらいの速度で変動するかを細かく設定可能です。<br></p>
      <p><span style="color: #f49e25;" class="text-Rounded500">最大明度設定</span>：現在選択しているカラー〜0の範囲で筆圧が最も強い時に適応させる明度の値を設定できます。<br>
      この値を小さくするほどカラーは暗い色調の範囲で変動し、大きくするほど筆圧が弱い時に明るい色が現れます。<br>
      <span class="red-text text-Rounded500">※</span>現在選択しているカラーのV値が100である場合、現在選択できる最小値も100になるためこの値を操作することはできません。</p><br>
      <p><span style="color: #f49e25;" class="text-Rounded500">V値の最大変化量</span>：1度の描画アクション中に許可されるV値の変動幅を設定できます。現在選択しているカラー〜0の範囲で設定できます。<br>この値が大きいほど1度の描画でより広範囲の明度変化を行うことができます。<br></p>
    </div>



    <section id="section4">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          選択/画像
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('pen_pressure_panel.png', alt: '選択/画像の詳細設定パネルの図解', class: "toolpanel-image") %>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      選択/画像の詳細設定パネルの共通基本動作
      </span>
    </h4>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -1rem;">本ペイントツールでは、<span style="color: #e19ab0;" class="text-Rounded500">「サイズ」「彩度（S値）」「明度（V値）」</span>の3つの要素に対して、それぞれ筆圧による補正を加えることができます。<br>
      筆圧設定パネルの左端の<span style="color: #59afc7;" class="text-Rounded500">メニューバー</span>より各項目の場所にジャンプできます。
      </p><br>
      <p><span style="color: #E19AB0;" class="text-Rounded500">筆圧の補間率調整</span>：実際の筆圧に対して、強弱の補助値を加えることができます。これにより、使用者の手の力加減に応じて、より自由な強さでペイントが可能になります。<br></p>
      <p><span style="color: #59afc7;" class="text-Rounded500">サイズに筆圧をつける</span>：筆圧に応じてペンのサイズを動的に変更することができます。これにより、細かい線から太い線まで、筆圧を変えるだけで自在に描画できます。<br></p>
      <p><span style="color: #7CBB72;" class="text-Rounded500">S値に筆圧をつける</span>：彩度に筆圧を加えることで、手の力加減だけで色の濃淡を調整できます。薄い色から濃い色まで、自然な変化を表現することができます。<br></p>
      <p><span style="color: #f49e25;" class="text-Rounded500">V値に筆圧をつける</span>：明度に筆圧を加えることで、明るい色から暗い色まで、手の力加減で自由に変更できます。</p>
    </div>

  </div>

</div>
