<% content_for(:title, t('.title')) %>
<div class='p5canvas-container'>

  <% profile = current_user.profile if user_signed_in? %>
  <div class="sidebar" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

    <div class="text-Rounded700"><h1 class="sidebar-title">ツール(ペイント)</h1></div>
    <div class="menu-sidebar text-Rounded500">
      <ul>
          <li><%= link_to '基本操作', tool_explanation_path + '#section1' %></li>
          
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">ツールパネル<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section1">
              <%= link_to 'ツールパネル図解', tool_explanation_path + '#section2' %>
              <%= link_to 'コンパクトパネル', tool_explanation_path + '#section3' %>
          </div>
        </li>
        <li><%= link_to 'カラーパレットパネル', tool_explanation_path + '#section4' %></li>
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">レイヤーパネル<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <%= link_to 'レイヤーとは？', tool_explanation_path + '#section5' %>
              <%= link_to 'レイヤーパネル図解', tool_explanation_path + '#section6' %>
              <%= link_to 'ブレンドモード早見表', tool_explanation_path + '#section7' %>
          </div>
        </li>
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">詳細設定パネル1<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section3">
              <%= link_to '詳細設定パネルの基本構造', tool_explanation_second_path + '#section1' %>
              <%= link_to 'ペン', tool_explanation_second_path + '#section2' %>
              <%= link_to 'ペンの早見表', tool_explanation_second_path + '#section3' %>
              <%= link_to '筆圧設定', tool_explanation_second_path + '#section4' %>
          </div>
        </li>

        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">詳細設定パネル2<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section4">
              <a href="#section1">選択/画像</a>
              <a href="#section2">図形/テキスト</a>
              <a href="#section3">フォントの早見表</a>
          </div>
        </li>
        <li><a href="#section4">サイズパネル</a></li>
        <li><a href="#section5">スケールパネル</a></li>
      </ul>
    </div>
    <div class="sidebar-design">
      <%= image_tag('tongari.png', alt: 'ツールページの画像', class: "sidebar-image2") %>
    </div>
  </div>

  <div class="sidebar-content">

    <div style="height: 7rem; width: 100px;"></div>
    <h2 class="explanation-section-title">
      <span class="text-line">詳細設定パネル2(選択/図形)</span>
    </h2>

    <section id="section1">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          選択/画像
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('select_panel.png', alt: '選択/画像の詳細設定パネルの図解', class: "toolpanel-image") %>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      選択/画像の詳細設定パネルの共通項目
      </span>
    </h4>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;"><span style="color: #e4816c;" class="text-Rounded700">選択ツールのモードを切り替えるボタン</span><%= image_tag('select_mode_btnlist.png', alt: '選択ツールのモード切り替えのボタン', class: "explanation-image", style: "width: 150px;") %><br>
      選択ツールのモードを切り替えられるボタンです。選択ツールには<span style="color: #F8A3B1;" class="text-Rounded500">「選択範囲を削除」「移動」「コピー」「選択範囲をぼかす」「選択範囲を塗りつぶす」</span>の5つのモードがあります。各モードの詳細は後述します。</p><br>
      <p style="margin-bottom: -0.8rem;"><span style="color: #B9A82C;" class="text-Rounded500">画像挿入ツールに切り替え</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-image"></i></span>：画像挿入ツールに切り替わります。</p><br>
      <p style="margin-bottom: -0.8rem;"><span style="color: #3A559D;" class="text-Rounded500">プレビュー</span><%= image_tag('select_preview.png', alt: '選択ツールのプレビュー', class: "explanation-image", style: "width: 50px;") %>：編集対象の描画を確認できます。</p><br>
      <p style="margin-bottom: -0.8rem;"><span style="color: #59BC9D;" class="text-Rounded500">実行/キャンセル</span><%= image_tag('select_decision_btn.png', alt: '選択ツールの決定ボタン', class: "explanation-image", style: "width: 70px;") %><%= image_tag('select_cancel_btn.png', alt: '選択ツールのキャンセルボタン', class: "explanation-image", style: "width: 70px;") %>：選択範囲/画像の挿入に対して操作できるボタンです。</p><br>
      <p style="margin-bottom: -0.8rem;"><span style="color: #59afc7;" class="text-Rounded500">オプション</span>：詳細な設定が必要なモードは、この部分に追加項目が表示されます。</p><br>
      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded500">回転/反転</span><%= image_tag('transform_btn.png', alt: '回転と反転のボタン', class: "explanation-image", style: "width: 100px;") %><br>
      <span>
        このボタンは、canvas内のペイントを回転または反転させます。<br>
        選択範囲が指定されていない場合はcanvas全体が対象となりますが、選択範囲がある場合は、その範囲内のみ回転/反転が適用されます。<br>
        操作は描画レイヤーのペイントにのみ影響します。</span></p><br>
      <p>
        <span><%= image_tag('counterclockwise_btn.png', alt: '反時計回りに回転するボタン', class: "toolbtn-image-20") %>：対象のペイントを<span style="color: #B9A82C;" class="text-Rounded500">反時計回り</span>に90度回転させるボタンです。</span><br>
        <span><%= image_tag('clockwise_btn.png', alt: '時計回りに回転するボタン', class: "toolbtn-image-20") %>：対象のペイントを<span style="color: #3A559D;" class="text-Rounded500">時計回り</span>に90度回転させるボタンです。</span><br>
        <span><%= image_tag('flip_horizontal_btn.png', alt: '左右反転するボタン', class: "toolbtn-image-20") %>：対象のペイントを<span style="color: #59afc7;" class="text-Rounded500">左右</span>に反転させるボタンです。</span><br>
        <span><%= image_tag('flip_upside_down_btn.png', alt: '上下反転するボタン', class: "toolbtn-image-20") %>：対象のペイントを<span style="color: #E19AB0;" class="text-Rounded500">上下</span>に反転させるボタンです。</span>
      </p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem; margin-top: 4rem;">
      <span class="point-line">
      選択/画像ツールの「基本操作」の説明
      </span>
    </h4>

    <h5 class="explanation-section-pointtitle" style="margin-bottom: 2rem; font-size: 1rem;">
      <span class="sakura-line">
      編集したい範囲を選択する
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('select_image1.png', alt: '選択ツールを使用している画像', class: "explanation-image", style: "width: 400px;") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">まず選択ツール<%= image_tag('select_tool_btn.png', alt: '選択ツールのボタン', class: "toolbtn-image") %>を選択して編集したい範囲をクリック&ドラッグで出現する四角で囲みます。<br>
        <span class="text-Rounded500" style="color: #EB625A; font-size: 0.85rem;">※画像ツールの場合はこの操作は不要です。</span>
      </p><br>
    </div>

    <h5 class="explanation-section-pointtitle" style="margin-bottom: -0.5rem; font-size: 1rem;">
      <span class="sakura-line">
      決定ボタン/挿入ボタンを押す
      </span>
    </h5>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        編集したい範囲を選択すると<%= image_tag('select_decision_btn.png', alt: '選択ツールの決定ボタン', class: "explanation-image", style: "width: 70px;") %>がアクティブになるのでそれを押します。<br>
        <%= image_tag('select_cancel_btn.png', alt: '選択ツールのキャンセルボタン', class: "explanation-image", style: "width: 70px;") %>を押すと選択した範囲がリセットされます。<br>
        画像ツールの場合は選択範囲を指定する操作は不要なので<%= image_tag('image_btn.png', alt: '画像挿入ボタン', class: "explanation-image", style: "width: 70px;") %>を押し、開いたファイル選択画面から挿入したいファイルを選択して下さい。<br>
        本ペイントツールで挿入できる画像ファイルの形式は<span class="red-text text-Rounded500">「jpeg」</span>と<span class="red-text text-Rounded500">「png」</span>になります。<br>
      </p><br>
      <p>
        <span class="text-Rounded500" style="color: #EB625A; font-size: 0.85rem;">※選択できる範囲に関する注意点</span><br>
        canvas上で選択できる最小サイズは縦横<span class="red-text text-Rounded500">「5px以上」</span>です。<br>
        そのため、選択範囲が5px以下の場合、決定ボタンはアクティブになりません。
      </p>
    </div>

    <h5 class="explanation-section-pointtitle" style="margin-bottom: 2rem; font-size: 1rem;">
      <span class="sakura-line">
      選択範囲/挿入画像を編集する
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('transform_image.png', alt: '変形ツールの説明', class: "explanation-image", style: "width: 500px;") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        <%= image_tag('image_btn.png', alt: '画像挿入ボタン', class: "explanation-image", style: "width: 70px;") %>を押すと
        選択範囲/挿入画像の周りに<span style="color: #F8A3B1;" class="text-Rounded500">「変形ツール」</span>が表示されます。<br>
        このツールは対象のオブジェクト(選択範囲/挿入画像)を<span style="color: #59afc7;" class="text-Rounded500">拡大・縮小/回転/伸縮</span>によって変形できる機能です。
      </p><br>
      <p>
        この変形ツールでは、表示される四角形や円形のハンドルをクリック&ドラッグすることで操作できます。<br>
        また、点線の枠内をクリック&ドラッグすることで、選択範囲/挿入画像を移動できます。<br>
        さらに、拡大縮小（上下左右の角のハンドル）や回転（上部の円形のハンドル）を行う前に<span class="sakura-line"><span style="color: #59afc7;" class="text-Rounded500">「Shift」キー</span></span>を押してからハンドルを掴むことで、<span class="sakura-line">均一な拡大縮小や90度ごとの回転</span>が可能になります。
      </p>
      <p>
        <span class="text-Rounded500" style="color: #EB625A; font-size: 0.85rem;">※「変形ツール」と「取り消し」「やり直し」に関する注意点</span><br>
        本ペイントツールでは「変形ツール」の操作は「取り消し」「やり直し」の対象外になっております。<br>
        そのため操作を取り消したい場合は一度<%= image_tag('select_cancel_btn.png', alt: '選択ツールのキャンセルボタン', class: "explanation-image", style: "width: 70px;") %>を押して最初から操作をやり直して下さい。
      </p>
    </div>

    <h5 class="explanation-section-pointtitle" style="margin-bottom: 4rem; font-size: 1rem;">
      <span class="sakura-line">
      レイヤー選択/操作完了
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('select_confirm_before.png', alt: 'レイヤー選択と操作完了の解説', class: "toolpanel-image-600") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        「選択ツール」では変形ツールの起動段階に入ると自動でレイヤー選択機能がオン<%= image_tag('layer_selectbtn_active.png', alt: 'レイヤー選択機能をオンにするボタン', class: "toolbtn-image") %>になります。</p><br>
      <p style="margin-bottom: -0.8rem;">
      一方、「画像ツール」では、画像を挿入後に変形ツールを起動してもレイヤー選択機能はオンになりませんが、操作が確定するまで描画先レイヤーは自動的に追従します。<br>
      また、挿入操作中の画像の透明度は、描画先レイヤーの透明度設定に従い調整が可能です。
      </p><br>
      <p>
      これらの仕様により選択範囲/挿入画像の描画先レイヤーを自由に選択することが可能です。<br>
      レイヤーを移動する必要がない場合は他のレイヤーを選択せずに描画レイヤーにて操作を行なって下さい。<br>
      <span class="red-text text-Rounded500" style="font-size: 0.85rem; color: #EB625A;">※「選択ツール」「画像ツール」の操作中は、レイヤー選択機能をオンにしても挿入操作が完了するまでレイヤーの入れ替えなどの通常機能は利用できません。</span>
      </p><br>

      <p>変形作業が完了しましたら、確定ボタン<%= image_tag('select_confirm_btn.png', alt: '選択ツールの確定ボタン', class: "explanation-image", style: "width: 70px;") %><%= image_tag('image_confirm_btn.png', alt: '画像ツールの確定ボタン', class: "explanation-image", style: "width: 70px;") %>を押して操作を終了できます。
        挿入された画像は挿入後は他のペイントと同じcanvasに張り付いたものとなりますので、再び編集したい場合は選択ツールにて範囲選択して下さい。
      </p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      選択ツールのモード紹介
      </span>
    </h4>

    <h5 class="explanation-section-pointtitle" style="margin-bottom: 3rem; font-size: 1rem;">
      <span class="orange-line">
      選択範囲を削除<%= image_tag('select_delete_btn.png', alt: '選択範囲を削除モードのボタン', class: "explanation-image", style: "width: 60px; margin-bottom: 1.4rem;") %>
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('select_delete_panel.png', alt: '選択ツールの選択範囲を削除のモードのパネルの図解', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        選択範囲のみを削除するモードです。<br>
        このモードには決定/確定ボタンはなく、範囲選択後<%= image_tag('select_delete_btn_confirm.png', alt: '選択範囲削除ボタン', class: "explanation-image", style: "width: 70px;") %>ボタンを押すと選択された範囲のみが削除されます。<br>
        また、<%= image_tag('select_delete_outside_btn.png', alt: '選択範囲外を削除するボタン', class: "toolbtn-image", style: "margin-top: -0.5rem;") %><span class="sakura-line">をアクティブにすると<span style="color: #59afc7;" class="text-Rounded500">選択範囲外</span>が削除</span>され選択範囲の中の描画だけが残ります。
      </p><br>
      <p>
        <span><%= image_tag('select_delete_whitebtn.png', alt: '選択範囲を削除するボタン', class: "toolbtn-image") %>：選択範囲の中を削除するモード。</span><br>
        <span><%= image_tag('select_delete_outside_whitebtn.png', alt: '選択範囲外を削除するボタン', class: "toolbtn-image") %>：選択範囲の外を削除するモード。</span><br>
        <span><%= image_tag('select_delete_allbtn.png', alt: 'canvas内全てを削除するボタン', class: "toolbtn-image") %>：描画レイヤーのペイントを全て削除するボタン。</span>
      </p>
    </div>

    <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
      <span class="orange-line">
      移動<%= image_tag('select_move_btn.png', alt: '移動モードのボタン', class: "toolbtn-image", style: "margin-bottom: 1.6rem;") %>
      </span>
    </h5>
      <div class="sidebar-design">
      <%= image_tag('select_move_panel.png', alt: '選択ツールの移動モードのパネルの図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        選択範囲を切り取って移動するモードです。<br>
        描画レイヤー内のみではなくレイヤーを跨いで移動できるため、ピンポイントで転写する機能としても活用できます。<br>
        <span><%= image_tag('background_active.png', alt: '選択範囲の表示切り替えボタン', class: "explanation-image", style: "width: 18px;") %>を押すと選択範囲の表示を切り替えられ、非表示にすると選択範囲のみ表示が消えます。これは削除された訳ではなくレイヤーの表示/非表示機能と同じで一時的に消えているだけのため再度<%= image_tag('background_active.png', alt: '選択範囲の表示切り替えボタン', class: "explanation-image", style: "width: 18px;") %>にチェックを入れると表示されます。<br>
        <%= image_tag('select_all_btn.png', alt: '全選択ボタン', class: "explanation-image", style: "width: 30px;") %>は描画レイヤーのペイントを<span style="color: #E19AB0;" class="text-Rounded500">全て(canvas全体)選択</span>するボタンです。このボタンを使用すると、canvas上の描画全体を簡単に移動や変形ができます。
        
      </p>
      <p>
        <span>下記2つの機能は<span style="color: #F8A3B1;" class="text-Rounded500">「移動」「コピー」「ぼかし」「塗りつぶし」</span>の操作で使用可能です。</span><br>
        <span><%= image_tag('background_active.png', alt: '選択範囲の表示切り替えボタン', class: "explanation-image", style: "width: 18px;") %>：選択範囲の表示切り替え。</span><br>
        <span><%= image_tag('select_all_btn.png', alt: '全選択ボタン', class: "explanation-image", style: "width: 30px;") %>：全選択ボタン。</span>
      </p>
    </div>

    <section id="section20">
      <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
        <span class="orange-line">
        コピー<%= image_tag('select_copy_btn.png', alt: 'コピーモードのボタン', class: "toolbtn-image", style: "margin-bottom: 1.6rem;") %>
        </span>
      </h5>
    </section>
      <div class="sidebar-design">
      <%= image_tag('select_copy_panel.png', alt: '選択ツールのコピーモードのパネルの図解', class: "toolpanel-image-600") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        選択範囲をコピーするモードです。<br>
        コピーされた内容は内部にあるコピーレイヤーに保存され、ペーストボタン<%= image_tag('copy_btn.png', alt: 'ペーストボタン', class: "toolbtn-image") %>を使用することで何度でも複製が可能です。<br>
        現在コピーされている内容は、オプション内にある<span style="color: #59afc7;" class="text-Rounded500">「現在コピー中の描画」</span>の項目から確認できます。<br>
        コピーを作成するとコンパクトパネルにペーストボタン<%= image_tag('copy_btn.png', alt: 'ペーストボタン', class: "toolbtn-image") %>が追加で表示されます。<br>
      </p>
      <p>
        <span class="sakura-line">同時に保管できるコピーは一つのみで、新たにコピーを作成すると以前のものは自動的に削除されます。</span><br>
        コピー作成時に適用された変形は記録されず、<span style="color: #E19AB0;" class="text-Rounded500">元の状態の描画がコピーレイヤーに保存</span>されます。<br>
      </p>
      <p>
        ペーストされる位置はコピー時の位置と同じです。位置を変更したい場合は、移動ツールを使用してください。<br>
        コピーレイヤーに保存されている内容は、コピー削除ボタン<%= image_tag('select_copy_delete_btn.png', alt: 'コピーの削除ボタン', class: "toolbtn-image") %>で削除できますが、削除した内容は復元できないのでご注意ください。
      </p>
      <p>
        <span><%= image_tag('select_copy_delete_btn.png', alt: 'コピーの削除ボタン', class: "toolbtn-image") %>：保持しているコピーデータを削除するボタン。</span><br>
        <span><%= image_tag('copy_btn.png', alt: 'ペーストボタン', class: "toolbtn-image") %>：ペーストボタン。押す度にコピーしたペイントを何度でもペーストできます。</span>
      </p>
    </div>
  
    <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
      <span class="orange-line">
      ぼかし<%= image_tag('select_blur_btn.png', alt: 'ぼかしモードのボタン', class: "toolbtn-image", style: "margin-bottom: 1.6rem;") %>
      </span>
    </h5>

      <div class="sidebar-design">
      <%= image_tag('select_blur_panel.png', alt: '選択ツールのぼかしモードのパネルの図解', class: "toolpanel-image-600") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        選択範囲のペイントにぼかし加工を付与するモードです。<br>
        ぼかしの度合いは<span style="color: #59afc7;" class="text-Rounded500">0〜30</span>の範囲で調整可能で、オプション内の「実行ボタン」を押すたびに効果を重ねがけすることができます。<br>
        ぼかしの効果は<span style="color: #E19AB0;" class="text-Rounded500">「サンプル」</span>で確認することができます。
      </p><br>
      <p>
        コピーという項目にチェックを入れると原本を直接編集するのではなく、原本を複製した後にぼかし処理を行います。<br>
        この場合、ぼかした描画の転移先は描画レイヤー以外を選択することをお勧めします。<br>
        <span class="text-Rounded500" style="font-size: 0.85rem; color: #EB625A;">※転移先を原本と同じ描画レイヤーにすると原本が直接上書きされてしまうためコピー機能の効果はありません。</span>
      </p>
      <p>
        原本をコピーしてから操作を行いたい場合、コピーの項目にチェックをいれるタイミングは決定ボタン<%= image_tag('select_decision_btn.png', alt: '選択ツールの決定ボタン', class: "explanation-image", style: "width: 70px;") %>を押す前に行なって下さい。<br>
        また、範囲選択後に確定ボタン<%= image_tag('select_confirm_btn.png', alt: '選択ツールの確定ボタン', class: "explanation-image", style: "width: 70px;") %>を押してしまうと、ぼかし加工は適用されないので注意してください。
      </p>
    </div>
  
    <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
      <span class="orange-line">
      塗りつぶし/グラデーション<%= image_tag('select_fill_btn.png', alt: '塗りつぶしモードのボタン', class: "toolbtn-image", style: "margin-bottom: 1.6rem;") %>
      </span>
    </h5>

      <div class="sidebar-design">
      <%= image_tag('select_fill_panel.png', alt: '選択ツールの塗りつぶしモードのパネルの図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        選択範囲を塗りつぶすモードです。<br>
        塗りつぶしは<span style="color: #E19AB0;" class="text-Rounded500">単色</span>または<span style="color: #E19AB0;" class="text-Rounded500">2色のグラデーション</span>で行うことが可能です。<br>
        さらに、塗りつぶしの際には透明度を含むカラーの選択も可能です。
      </p><br>
      <p style="margin-bottom: 3rem;">
        単色塗りつぶしを行う場合、設定されたカラーの中から<span style="color: #3A559D;" class="text-Rounded500">青い枠</span><%= image_tag('fill_select_btn.png', alt: '塗りつぶしツールの選択カラー', class: "explanation-image", style: "width: 20px;") %>で囲まれたカラーで塗りつぶされます。<br>
        グラデーションを適用する場合は、オプション内の<span style="color: #7f69a2;" class="text-Rounded500">塗りつぶしメニュー</span>から<%= image_tag('select_fill_picker.png', alt: 'グラデーションの選択カラー', class: "explanation-image", style: "width: 80px;") %>でカラーを選択し、方向ボタン<%= image_tag('fill_vertical_btn.png', alt: '塗りつぶしツールの垂直ボタン', class: "explanation-image", style: "width: 55px;") %><%= image_tag('fill_horizontal_btn.png', alt: '塗りつぶしツールの水平ボタン', class: "explanation-image", style: "width: 55px;") %>で方向を決めます。<br>
        <%= image_tag('select_fill_picker.png', alt: 'グラデーションの選択カラー', class: "explanation-image", style: "width: 80px;") %>の中央にある「<span style="color: #E19AB0;" class="text-Rounded500"><i class="bi bi-arrow-left-right"></i></span>」で塗りつぶしカラーにセットされているカラーの入れ変えを行えます。<br>
        このモードは確定ボタン<%= image_tag('select_confirm_btn.png', alt: '選択ツールの確定ボタン', class: "explanation-image", style: "width: 70px;") %>を押すまで何度でも操作の調整を行えます。
      </p>

      <p>
        <span><%= image_tag('select_fill_slider.png', alt: '透明度スライダー', class: "explanation-image", style: "width: 170px;") %>：選択しているカラーの透明度を調整できます。</span><br>
      </p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 3rem; margin-top: 4rem;">
      <span class="point-line">
      画像ツール
      </span>
    </h4>

    <div class="sidebar-design">
      <%= image_tag('select_image_panel.png', alt: '画像ツールのパネルの図解', class: "toolpanel-image-600") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        <span class="red-text text-Rounded500">「jpeg」</span><span class="red-text text-Rounded500">「png」</span>のファイル形式の画像をcanvas上に挿入できるツールです。<br>
        挿入ボタンを押す前に、オプションで<span class="sakura-line"><span style="color: #59afc7;" class="text-Rounded500">「画像を実際のサイズで挿入する」</span></span>を選択することが可能です。
      </p><br>
      <p style="margin-bottom: -0.8rem;">
        本ペイントツールでは初期設定で挿入画像がcanvasよりも大きい場合に<span style="color: #E19AB0;" class="text-Rounded500">自動でcanvasにフィットするサイズに縮小</span>する仕様になっています。<br>
        そのため挿入画像がcanvasよりも大きい場合でも実際のサイズで挿入したい場合は事前にオプション項目の<span style="color: #59afc7;" class="text-Rounded500">「画像を実際のサイズで挿入する」</span>にチェックを入れてから挿入ボタン<%= image_tag('image_btn.png', alt: '画像挿入ボタン', class: "explanation-image", style: "width: 70px;") %>を押して下さい。<br>
        挿入後、画像は「変形ツール」を使用して手動でサイズ調整と変形が行えます。
      </p><br>
      <p>
        尚、挿入画像がcanvasの<span class="red-text text-Rounded500">2倍以上</span>のサイズである場合、<span style="color: #59afc7;" class="text-Rounded500">「画像を実際のサイズで挿入する」</span>オプションにチェックが入っていても、画像は自動的に縮小され、canvasにフィットするように挿入されます。
      </p>
    </div>
    <section id="section2">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          図形/テキスト
        </span>
      </h3>
    </section>
    <div class="sidebar-design">
      <%= image_tag('shapes_panel.png', alt: '図形/テキストの詳細設定パネルの図解', class: "toolpanel-image") %>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      図形/テキストの詳細設定パネルの共通項目
      </span>
    </h4>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;"><span style="color: #f49e25;" class="text-Rounded700">図形/テキストツールの切り替え</span><%= image_tag('sharp_btn_list.png', alt: '図形/テキストツールを切り替えるボタン', class: "explanation-image", style: "width: 150px;") %><br>
        図形/テキストツールを切り替えられるボタンです。<span style="color: #F8A3B1;" class="text-Rounded500">「四角形」「円形」「三角形」「直線」「テキスト」</span>の5つのツールの切り替えが行えます。各ツールの詳細は後述します。
      </p><br>
      
      <p style="margin-bottom: -0.8rem;"><span style="color: #3A559D;" class="text-Rounded500">プレビュー</span><%= image_tag('sharp_preview.png', alt: '図形/テキストツールのプレビュー', class: "explanation-image", style: "width: 50px;") %>：挿入する図形/テキストのスタイルを確認できます。</p><br>

      <p><span style="color: #bfad28;" class="text-Rounded500">図形の挿入方法を選択</span><%= image_tag('sharptool_mode_btn.png', alt: '図形の挿入方法を選択するボタン', class: "explanation-image", style: "width: 50px;") %><br>
        この図形ツールには<span style="color: #59BC9D;" class="text-Rounded500">「描画モード<%= image_tag('sharp_drawing_btn.png', alt: '描画モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>」</span>と<span style="color: #f49e25;" class="text-Rounded500">「配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>」</span>二つのモードがあります。<br>
        <span style="color: #59BC9D;" class="text-Rounded500">「描画モード<%= image_tag('sharp_drawing_btn.png', alt: '描画モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>」</span>では、クリックしてドラッグすることで<span class="sakura-line">直感的に図形を描く</span>ことができます。</p><br>
        <p>一方、<span style="color: #f49e25;" class="text-Rounded500">「配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>」</span>では、あらかじめ数値を入力して<span class="sakura-line">決められたサイズ</span>の図形を挿入します。<br>
          詳細設定パネルの入力フォームより設定値を入力し、canvasをクリック＆ドラッグすると設定した図形/テキストが挿入配置されます。<br>
          尚、<span class="sakura-line">テキストを挿入する場合は、自動的に<span style="color: #f49e25;" class="text-Rounded500">「配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>」</span></span>が選択されます。
        </p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #7CBB72;" class="text-Rounded500">図形/テキストのサイズ選択</span>：挿入したい図形/テキストのサイズを数値で入力し設定できます。「配置モード」でのみこの数値が適応されます。</p><br>
      <p><span style="color: #E19AB0;" class="text-Rounded500">回転/反転</span><%= image_tag('transform_btn.png', alt: '回転と反転のボタン', class: "explanation-image", style: "width: 100px;") %><br>
      <span>
        このボタンは、canvas内のペイントを回転または反転させます。<br>
        選択範囲が指定されていない場合はcanvas全体が対象となりますが、選択範囲がある場合は、その範囲内のみ回転/反転が適用されます。<br>
        操作は描画レイヤーのペイントにのみ影響します。</span></p><br>
      <p>
        <span><%= image_tag('counterclockwise_btn.png', alt: '反時計回りに回転するボタン', class: "toolbtn-image-20") %>：対象のペイントを<span style="color: #B9A82C;" class="text-Rounded500">反時計回り</span>に90度回転させるボタンです。</span><br>
        <span><%= image_tag('clockwise_btn.png', alt: '時計回りに回転するボタン', class: "toolbtn-image-20") %>：対象のペイントを<span style="color: #3A559D;" class="text-Rounded500">時計回り</span>に90度回転させるボタンです。</span><br>
        <span><%= image_tag('flip_horizontal_btn.png', alt: '左右反転するボタン', class: "toolbtn-image-20") %>：対象のペイントを<span style="color: #59afc7;" class="text-Rounded500">左右</span>に反転させるボタンです。</span><br>
        <span><%= image_tag('flip_upside_down_btn.png', alt: '上下反転するボタン', class: "toolbtn-image-20") %>：対象のペイントを<span style="color: #E19AB0;" class="text-Rounded500">上下</span>に反転させるボタンです。</span>
      </p>

      <p><span style="color: #59afc7;" class="text-Rounded500">透明度スライダー</span><%= image_tag('select_fill_slider.png', alt: '透明度スライダー', class: "explanation-image", style: "width: 170px;") %>：挿入する図形/テキストの透明度を調整できます。</p><br>

      <p><span style="color: #856eaa;" class="text-Rounded500">使用カラー</span><%= image_tag('select_fill_picker.png', alt: '使用カラーのパレット', class: "explanation-image", style: "width: 80px;") %>：挿入する図形/テキストのカラーを選択できます。<br>
      中央にある「<span style="color: #E19AB0;" class="text-Rounded500"><i class="bi bi-arrow-left-right"></i></span>」で塗りつぶしカラーにセットされているカラーの入れ変えを行えます。
      </p><br>

      <p style="margin-bottom: -0.8rem;">
        <span style="color: #856eaa;" class="text-Rounded500">スタイル選択</span><%= image_tag('sharp_style_list.png', alt: 'グラデーションの選択カラー', class: "explanation-image", style: "width: 85px;") %>
      </p><br>
      <div class="sidebar-design" style="margin-bottom: 1.5rem;">
        <%= image_tag('sharp_style_image.png', alt: 'スタイルの種類のサンプル', class: "toolpanel-image") %>
      </div>
      <p>
        挿入する図形/テキストのスタイルを選択できます。<br>
        スタイルの種類は<span style="color: #59afc7;" class="text-Rounded500">「線のみ塗る<%= image_tag('sharp_style1', alt: '線のみ塗るボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.3rem;") %>」</span><span style="color: #E19AB0;" class="text-Rounded500">「内部のみ塗る<%= image_tag('sharp_style2', alt: '内部のみ塗るボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.3rem;") %>」</span><span style="color: #f49e25;" class="text-Rounded500">「線も内部も塗る<%= image_tag('sharp_style3', alt: '線も内部も塗るボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.3rem;") %>」</span>の3種類です。<br>
        <span class="sakura-line">「直線」ツールではこの機能は適応されません。</span><br>
      </p><br>
      <p>
        <span style="color: #EB625A; font-size: 0.85rem;" class="text-Rounded500">※図形の線、テキストのサイズについて</span><br>
        図形の枠線とテキストのサイズは<span class="sakura-line" style="color: #59afc7;">現在選択されている「ツールサイズ」に基づいております。</span><br>
        そのため線・テキストのサイズを変更したい場合は<span style="color: #EB625A;" class="text-Rounded500">サイズパネル</span>より操作して下さい。
      </p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      図形ツールの紹介
      </span>
    </h4>
      
    <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
      <span class="orange-line">
      四角形<%= image_tag('sharp_rect_btn.png', alt: '四角形のボタン', class: "toolbtn-image", style: "margin-bottom: 1.6rem;") %>
      </span>
    </h5>

    <div class="sidebar-design">
      <%= image_tag('sharp_rect_panel.png', alt: '四角形ツールのパネルの図解', class: "toolpanel-image-600") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        四角形を描画できるツールです。<br>
        描画モード<%= image_tag('sharp_drawing_btn.png', alt: '描画モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>では操作時に<span class="sakura-line"><span style="color: #59afc7;" class="text-Rounded500">「Shift」キー</span></span>を押すことで<span style="color: #E19AB0;" class="text-Rounded500">正方形</span>を描くことができます。<br>
        また、配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>では<span style="color: #E19AB0;" class="text-Rounded500">グラデーションモード<%= image_tag('sharp_gradation.png', alt: 'グラデーションモードのボタン', class: "explanation-image", style: "width: 25px;") %></span>を選択でき、2色のグラデーションのかかった四角形を配置できます。<br>
        <span class="text-Rounded500" style="color: #EB625A; font-size: 0.85rem;">※「グラデーションモード」を使用できるのは「配置モード」のみとなります。</span>
      </p><br>

      <p>
        パネル下部の<%= image_tag('sharp_round_corners.png', alt: '四角形の角を丸めるボタン', class: "explanation-image", style: "width: 25px;") %>を押すと四角形の角を指定した値で丸めることができます。<br>
        こちらのモードは描画モード<%= image_tag('sharp_drawing_btn.png', alt: '描画モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>でも配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>でも使用できます。
      </p><br>

      <p>丸められる角のサイズは50pxまで、配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>で作成できる四角形のサイズは縦横200pxまでとなります。<br></p>
    </div>

          
    <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
      <span class="orange-line">
      円形<%= image_tag('shapes_round_btn.png', alt: '円形のボタン', class: "toolbtn-image", style: "margin-bottom: 1.6rem;") %>
      </span>
    </h5>

    <div class="sidebar-design">
      <%= image_tag('shapes_round_panel.png', alt: '円形ツールのパネルの図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        円形を描画できるツールです。<br>
        描画モード<%= image_tag('sharp_drawing_btn.png', alt: '描画モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>では操作時に<span class="sakura-line"><span style="color: #59afc7;" class="text-Rounded500">「Shift」キー</span></span>を押すことで<span style="color: #E19AB0;" class="text-Rounded500">正円</span>を描くことができます。<br>
        また、配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>では<span style="color: #E19AB0;" class="text-Rounded500">グラデーションモード<%= image_tag('sharp_gradation.png', alt: 'グラデーションモードのボタン', class: "explanation-image", style: "width: 25px;") %></span>を選択でき、2色のグラデーションのかかった円形を配置できます。<br>

        グラデーションモード<%= image_tag('sharp_gradation.png', alt: 'グラデーションモードのボタン', class: "explanation-image", style: "width: 25px;") %>で選択できる作成できる円形は<span style="color: #E19AB0;" class="text-Rounded500">「垂直方向のグラデーション<%= image_tag('round_gradation1.png', alt: '垂直方向からのグラデーションモードのボタン', class: "explanation-image", style: "width: 25px;") %>」</span>と<span style="color: #59afc7;" class="text-Rounded500">「円の中心からのグラデーション<%= image_tag('round_gradation2.png', alt: '円の中心からのグラデーションモードのボタン', class: "explanation-image", style: "width: 25px;") %>」</span>の2種類あります。<br>
        円形のグラデーションモードを使用する場合は、はじめにグラデーションモードモードボタンをオン<%= image_tag('sharp_gradation_active.png', alt: 'グラデーションモードがオンのボタン', class: "explanation-image", style: "width: 25px;") %>にして下さい。<br>

        <span class="text-Rounded500" style="color: #EB625A; font-size: 0.85rem;">※「グラデーションモード」を使用できるのは「配置モード」のみとなります。</span>
      </p><br>

      <p>配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>で作成できる円形のサイズは縦横200pxまでとなります。<br></p>
    </div>
              
    <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
      <span class="orange-line">
      三角形<%= image_tag('shapes_triangle_btn.png', alt: '三角形のボタン', class: "toolbtn-image", style: "margin-bottom: 1.6rem;") %>
      </span>
    </h5>

    <div class="sidebar-design">
      <%= image_tag('shapes_triangle_panel.png', alt: '三角形ツールのパネルの図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        三角形を描画できるツールです。<br>
        描画モード<%= image_tag('sharp_drawing_btn.png', alt: '描画モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>では<span class="sakura-line">「左下の点を基点」</span>として自由に三角形を形成することができます。<br>
        操作時に<span class="sakura-line"><span style="color: #59afc7;" class="text-Rounded500">「Shift」キー</span></span>を押すことで<span style="color: #E19AB0;" class="text-Rounded500">正三角形</span>を描くことができます。<br>
        このツールにはグラデーションモードは含まれておらず、配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>で作成可能な三角形の最大サイズは縦横200pxです。
      </p>
    </div>
              
    <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
      <span class="orange-line">
      直線<%= image_tag('shapes_line_btn.png', alt: '直線のボタン', class: "toolbtn-image", style: "margin-bottom: 1.6rem;") %>
      </span>
    </h5>

    <div class="sidebar-design">
      <%= image_tag('shapes_line_panel.png', alt: '直線ツールのパネルの図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        直線を引けるツールです。<br>
        描画モード<%= image_tag('sharp_drawing_btn.png', alt: '描画モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>では操作中に<span class="sakura-line"><span style="color: #59afc7;" class="text-Rounded500">「Shift」キー</span></span>を押すことで<span style="color: #E19AB0;" class="text-Rounded500">垂直/水平</span>な線を引くことができます。<br>
        配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>では垂直な線のみ配置できます。<br>
        このツールにはグラデーションモードは含まれておらず、配置モード<%= image_tag('sharp_arrangement_btn.png', alt: '配置モードのボタン', class: "explanation-image", style: "width: 25px; margin-top: -0.5rem;") %>で作成可能な直線の最大サイズは縦横200pxです。
      </p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      テキストツール<%= image_tag('shapes_text_btn.png', alt: 'テキストツールのボタン', class: "toolbtn-image", style: "margin-bottom: 1.6rem;") %>
      </span>
    </h4>
      
    <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
      <span class="orange-line">
      パネル説明
      </span>
    </h5>

    <div class="sidebar-design">
      <%= image_tag('sharp_text_panel.png', alt: 'テキストツールのパネルの図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">

      <p><span style="color: #f49e25;" class="text-Rounded500">テキストの整列</span><%= image_tag('text_align_btn.png', alt: 'テキストの整列ボタン', class: "explanation-image", style: "width: 65px;") %>：テキストを<span style="color: #E19AB0;" class="text-Rounded500">「左揃え」「中央揃え」「右揃え」</span>のいずれかで配置することができます。<br>
        <span><%= image_tag('text_left.png', alt: '左揃えボタン', class: "toolbtn-image-20") %>：挿入するテキストを<span style="color: #E19AB0;" class="text-Rounded500">「左揃え」</span>にします。</span><br>
        <span><%= image_tag('text_center.png', alt: '中央揃えボタン', class: "toolbtn-image-20") %>：挿入するテキストを<span style="color: #E19AB0;" class="text-Rounded500">「中央揃え」</span>にします。</span><br>
        <span><%= image_tag('text_right.png', alt: '右揃えボタン', class: "toolbtn-image-20") %>：挿入するテキストを<span style="color: #E19AB0;" class="text-Rounded500">「右揃え」</span>にします。</span>
      </p>

      <p style="margin-top: 2rem; margin-bottom: -0.8rem;"><span style="color: #7CBB72;" class="text-Rounded500">行間/枠線の太さ</span>：挿入するテキストの行間と枠線の太さを入力し設定できます。行間は<span style="color: #E19AB0;" class="text-Rounded500">0〜50px</span>、枠線の太さは<span style="color: #E19AB0;" class="text-Rounded500">0〜20px</span>の範囲で設定できます。</p><br>

      <p><span style="color: #bfad28;" class="text-Rounded500">テキストスタイル</span><%= image_tag('text_style_btn.png', alt: 'テキストスタイルを選択するボタン', class: "explanation-image", style: "width: 95px;") %>：挿入するテキストのスタイルを<span style="color: #E19AB0;" class="text-Rounded500">「ノーマル」「イタリック」「ボールド」「ボールドイタリック」</span>の中から選択できます。<br>
        <span><%= image_tag('text_normal.png', alt: 'ノーマルボタン', class: "toolbtn-image-20") %>：挿入するテキストのスタイルを<span style="color: #E19AB0;" class="text-Rounded500">「ノーマル」</span>にします。</span><br>
        <span><%= image_tag('text_italic.png', alt: 'イタリックボタン', class: "toolbtn-image-20") %>：挿入するテキストのスタイルを<span style="color: #E19AB0;" class="text-Rounded500">「イタリック」</span>にします。</span><br>
        <span><%= image_tag('text_bald.png', alt: 'ボールド', class: "toolbtn-image-20") %>：挿入するテキストのスタイルを<span style="color: #E19AB0;" class="text-Rounded500">「ボールド」</span>にします。</span><br>
        <span><%= image_tag('text_bald_italic.png', alt: 'ボールドイタリック', class: "toolbtn-image-20") %>：挿入するテキストのスタイルを<span style="color: #E19AB0;" class="text-Rounded500">「ボールドイタリック」</span>にします。</span>
      </p>

      <p style="margin-top: 2rem; margin-bottom: -0.8rem;"><span style="color: #59afc7;" class="text-Rounded500">テキスト入力</span>：ここに挿入したいテキストを入力し、入力後canvasをクリック&ドラッグして文字を挿入できます。</p><br>
      <p style="margin-top: -1rem;">
        <span style="color: #EB625A; font-size: 0.85rem;" class="text-Rounded500">※テキストの挿入について</span><br>
        テキストの挿入は図形ツールと同じで一度挿入したものは編集できません。<br>
        編集したい場合は通常のペイントと同じように編集して下さい。
      </p>

      <p style="margin-top: 2rem; margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded500">フォント選択</span><%= image_tag('text_font.png', alt: 'フォント選択のドロップダウン', class: "explanation-image", style: "width: 76px;") %>：挿入するテキストのフォントの種類を選択できます。<br>
        <span style="color: #EB625A; font-size: 0.85rem;" class="text-Rounded500">※日本語に対応していないフォントを使用した時の表示について</span><br>
        日本語に対応していないフォントを選択した場合、デフォルトの表示になります。<br>
        現在導入しているフォントは<span style="color: #59afc7;" class="text-Rounded500">「Noto Sans JP」「ヒラギノ明朝 ProN」「ヒラギノ丸ゴ ProN」</span>以外日本語に対応していないため下記の表示になります。<br>
        <span class="red-text text-Rounded500" style="font-size: 0.85rem;"><i class="bi bi-arrow-down"></i>日本語対応していないフォントの表示</span><br>
        <%= image_tag('ja_arial_defo.png', alt: '日本語対応していないフォントの表示', class: "font-sample-image") %>
      </p><br>
    </div>

    <section id="section3">
      <h5 class="explanation-section-pointtitle" style="margin-bottom: 1.5rem; font-size: 1rem;">
        <span class="orange-line">
        フォントの早見表
        </span>
      </h5>
    </section>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9; margin-top: -1rem;">
      <table class="textfont-table">
        <tr>
          <th>フォント名</th>
          <th>日本語<br><%= image_tag('text_style_btn.png', alt: 'テキストスタイルを選択するボタン', class: "explanation-image", style: "width: 95px;") %></th>
          <th>ローマ字<br><%= image_tag('text_style_btn.png', alt: 'テキストスタイルを選択するボタン', class: "explanation-image", style: "width: 95px;") %></th>
        </tr>
        <tr>
          <td>Noto Sans JP</td>
          <td><%= image_tag('ja_noto.png', alt: 'Noto Sans JP', class: "font-sample-image") %></td>
          <td><%= image_tag('roma_noto.png', alt: 'Noto Sans JP', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>ヒラギノ明朝 ProN</td>
          <td><%= image_tag('ja_hira.png', alt: 'ヒラギノ明朝 ProN', class: "font-sample-image") %></td>
          <td><%= image_tag('roma_hira.png', alt: 'ヒラギノ明朝 ProN', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>ヒラギノ丸ゴ ProN</td>
          <td><%= image_tag('ja_hiramaru.png', alt: 'ヒラギノ丸ゴ ProN', class: "font-sample-image") %></td>
          <td><%= image_tag('roma_hiramaru.png', alt: 'ヒラギノ丸ゴ ProN', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>Arial</td>
          <td>-</td>
          <td><%= image_tag('roma_arial.png', alt: 'Arial', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>Times New Roman</td>
          <td>-</td>
          <td><%= image_tag('roma_times.png', alt: 'Arial', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>Georgia</td>
          <td>-</td>
          <td><%= image_tag('roma_georgia.png', alt: 'Arial', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>Garamond</td>
          <td>-</td>
          <td><%= image_tag('roma_garamond.png', alt: 'Arial', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>Verdana</td>
          <td>-</td>
          <td><%= image_tag('roma_verdana.png', alt: 'Arial', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>Tahoma</td>
          <td>-</td>
          <td><%= image_tag('roma_tahoma.png', alt: 'Arial', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>Trebuchet MS</td>
          <td>-</td>
          <td><%= image_tag('roma_trebuchet.png', alt: 'Arial', class: "font-sample-image") %></td>
        </tr>
        <tr>
          <td>Courier New</td>
          <td>-</td>
          <td><%= image_tag('roma_courier.png', alt: 'Arial', class: "font-sample-image") %></td>
        </tr>
      </table>
    </div>

    <div style="height: 7rem; width: 100px;"></div>
    <section id="section4">
      <h2 class="explanation-section-title">
        <span class="text-line">サイズパネル</span>
      </h2>
    </section>

    <div class="sidebar-design">
      <%= image_tag('size_panel.png', alt: 'サイズパネルの図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p style="margin-bottom: -0.8rem;">
        各ツールのサイズを選択するパネルです。<br>
        ペンや消しゴム、図形ツールの線のサイズを調整できます。<br>
        サイズの選択範囲は<span class="sakura-line">「<span style="color: #59afc7;" class="text-Rounded500">0.3〜100</span>」</span>までで、<span style="color: #59afc7;" class="text-Rounded500">サイズ選択フォーム</span>または<span style="color: #E19AB0;" class="text-Rounded500">サイズ選択ボタン</span>を使用して設定します。<br>
        パネル自体は伸縮可能で、外枠をクリックしてドラッグすることでサイズを変更できます。<br>
        設定されたサイズは全てのツールに共通して適用されます。
      </p>
    </div>
    <div style="height: 7rem; width: 100px;"></div>
    <section id="section5">
      <h2 class="explanation-section-title">
        <span class="text-line">スケールパネル</span>
      </h2>
    </section>

    <div class="sidebar-design">
      <%= image_tag('scale_panel_image.png', alt: 'スケールパネルの図解', class: "toolpanel-image") %>
    </div>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <p>
        canvasのスケールと位置を調整できるパネルです。<br>
        また、組み込まれた全体プレビュー機能によりcanvas全体の状態を確認できます。
      </p>

      <p style="margin-bottom: -0.8rem;"><span style="color: #EB625A;" class="text-Rounded500">全体プレビュー</span>：canvas全体の状況を確認できるプレビューです。リアルタイム更新ではないため最新の状態を確認したい場合は<%= image_tag('preview_reload_btn.png', alt: 'レイヤーのプレビューを更新するボタン', class: "toolbtn-image") %>を押して手動更新して下さい。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #3A559D;" class="text-Rounded500">プレビュー更新</span><%= image_tag('preview_reload_btn.png', alt: 'レイヤーのプレビューを更新するボタン', class: "toolbtn-image") %>：プレビューが最新の状態に更新されます。全体プレビューだけでなくレイヤーパネルの個別プレビューも更新されます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #59afc7;" class="text-Rounded500">スケールスライダー</span><%= image_tag('scale_slider.png', alt: 'スケールスライダー', class: "explanation-image", style: "width: 120px;") %>：0.5倍〜5倍の範囲でcanvasを拡大縮小できます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #bfad28;" class="text-Rounded500">拡大ボタン</span><%= image_tag('scale_plus.png', alt: '拡大ボタン', class: "toolbtn-image") %>：canvasを0.5ずつ拡大できます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #7CBB72;" class="text-Rounded500">縮小ボタン</span><%= image_tag('scale_minus.png', alt: '縮小ボタン', class: "toolbtn-image") %>：canvasを0.5ずつ縮小できます。</p><br>

      <p><span style="color: #59BC9D;" class="text-Rounded500">スケールリセット</span><%= image_tag('scale_reset.png', alt: 'スケールリセット', class: "toolbtn-image") %>：canvasのスケールを初期値1に戻します。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #E19AB0;" class="text-Rounded500">canvasの移動ツール</span><%= image_tag('canvas_move.png', alt: 'canvasの移動ツール', class: "toolbtn-image") %><br>
      <%= image_tag('scale_move_image.png', alt: 'canvasの移動ツールのイメージ', class: "toolpanel-image") %>
      </p><br>
      <p>
      作業スペース内でcanvasを自由に移動することができます。<br>
      これによって、拡大したい部分を簡単に作業スペースの中心に配置することが可能です。
      </p><br>

    </div>
    <div style="height: 10rem; width: 100px;"></div>

  </div>
</div>
