
<div class='p5canvas-container'>

  <% profile = current_user.profile if user_signed_in? %>
  <div class="sidebar" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

    <div class="text-Rounded700"><h1 class="sidebar-title">ツール</h1></div>
    <div class="menu-sidebar text-Rounded500">
      <ul>
          <li><a href="#section1">基本操作</a></li>
          
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">ツールパネル<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section1">
              <a href="#section2">ツールパネル図解</a>
              <a href="#section3">コンパクトパネル</a>
          </div>
        </li>
        <li><a href="#section4">カラーパレットパネル</a></li>
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">レイヤーパネル<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section2">
              <a href="#section5">レイヤーとは？</a>
              <a href="#section6">レイヤーパネル図解</a>
              <a href="#section7">ブレンドモード早見表</a>
          </div>
        </li>
        <li>
          <div class="accordion-toggle-sidebar" style="padding: 0.25rem;">詳細設定パネル<i class="bi bi-chevron-down chevron-style"></i></div>
          <div class="accordion-content-sidebar" id="accordion-section3">
              <%= link_to '詳細設定パネルの基本構造', tool_explanation_second_path + '#section1' %>
              <%= link_to 'ペン', tool_explanation_second_path + '#section2' %>
              <a href="#section2">選択/画像</a>
              <a href="#section2">図形/テキスト</a>
          </div>
        </li>
        <li><a href="#section3">サイズパネル</a></li>
        <li><a href="#section3">スケールパネル</a></li>
      </ul>
    </div>

    <div class="sidebar-design">
      <%= image_tag('tongari.png', alt: 'ツールページの画像', class: "sidebar-image2") %>
    </div>
  </div>

  <div class="sidebar-content">

    <section id="section1">
      <div style="height: 7rem; width: 100px;"></div>
      <h2 class="explanation-section-title">
        <span class="text-line">基本操作</span>
      </h2>
      <div class="sidebar-design">
        <%= image_tag('painttool_image.png', alt: 'ペイントツールの説明画像', class: "painttool-image") %>
      </div>
      <p class="explanation-section-text text-Rounded">
        以下は大まかな基本操作です。さらなる詳細は、さらなる詳細については、該当ツールを含むコントロールパネルの項目でご確認頂けます。
      </p>
    </section>


    <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
      <span class="sub-line">
      コントロールパネル
      </span>
    </h3>

    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem; padding: 1.5rem 5.5rem 0rem 5.5rem;">
      本ペイントルーツは以下の6つのコントロールパネルで構成されています。
    </p>

    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;">
      <span style="color: #59afc7;" class="text-Rounded500">ツールパネル</span>：メイン機能を切り替えられるパネルです。右上の<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-box-arrow-in-up"></i></span>ボタンよりコンパクトパネルに切り替えることが可能です。<br>
      <span style="color: #e19ab0;" class="text-Rounded500">カラーパレットパネル</span>：カラーに関する操作が行えるパネルです。<br>
      <span style="color: #f49e25;" class="text-Rounded500">レイヤーパネル</span>：レイヤーに関する操作が行えるパネルです。<br>
      <span style="color: #856eaa;" class="text-Rounded500">詳細設定パネル</span>：メイン機能に含まれる各ツールの詳細な設定を調整することができます。<br>
      <span style="color: #c6b334;" class="text-Rounded500">サイズパネル</span>：ツールのサイズを操作できるパネルです。<br>
      <span style="color: #7cbb72;" class="text-Rounded500">スケールパネル</span>：canvasのスケールや位置を操作できるパネルです。
    </p>
    


    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      canvas
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      中央の白い四角形がcanvasです。この範囲にのみペイントできます。<br>
      ペイントだけでなく画像挿入もここで行えます。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      アクティブ状態
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      現在アクティブなツールは<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex; background-color: rgb(145, 153, 174);"><i class="bi bi-eyedropper"></i></span>のように濃いグレーで表示されます。<br>
      <span style="color: #F8A3B1;" class="text-Rounded500">アクティブ</span>：<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex; background-color: rgb(145, 153, 174);"><i class="bi bi-eyedropper"></i></span><br>
      <span style="color: #59afc7;" class="text-Rounded500">非アクティブ</span>：<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-eyedropper"></i></span>
    </p>


    <h3 class="explanation-section-subtitle" style="margin-bottom: 1rem;">
      <span class="sub-line">
      パネルの表示/非表示
      </span>
    </h3>
      <div class="sidebar-design">
        <%= image_tag('close_btn.png', alt: '閉じるボタン', class: "toolpanel-image") %>
      </div>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      ツールパネル以外のパネルは右上の「<i class="bi bi-x-lg" style="color: #F8A3B1;"></i>」より閉じる(非表示にする)ことが可能です。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      ペイント
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      canvas内でマウスを左クリックしドラッグするとその範囲に線を引くことができます。<br>
      ペンタブレットやペン型マウスを持っている方はそちらで操作することをお勧めします。<br>
      カラーはコントロールパネルにあるカラーピッカーから自由に選択することが可能です。初期色は<span style="color: #7f7f7f;" class="text-Rounded500">「白」</span>に設定しております。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      筆圧機能
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      一部ブラシツールは筆圧機能を搭載しています。<br>
      本機能ではブラシサイズ・色の変化具合を手の力加減で調整できます。<br>
    </p>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: -2.5rem;">
      <span class="red-text text-Rounded500">※</span>
      ただし、この筆圧機能は、ペン型マウスやペンタブレットなどの特定の入力デバイスに限定されており、通常のマウスやタッチスクリーンでは利用できません。<br>
      さらに、使用しているブラウザやその設定によっては、筆圧機能が正常に作動しない場合があります。
    </p>


    <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
      <span class="sub-line">
      カラーパレット・スポイト
      </span>
    </h3>
    <div class="sidebar-design">
      <%= image_tag('picker_image.png', alt: 'カラーピッカーの画像', class: "color-picker-image") %>
    </div>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      カラーピッカーより色を選択し自由に色を変更できます。<br>
      カラーピッカーは<span class="red-text text-Rounded500">「円形」「四角形」</span>の2種類用意しており切り替えが可能です。<br>
      canvas上の任意の色を瞬時に取得し、その色をパレットに保存することができます。<br>
      これにより、選択した色を正確に再利用することが可能となり、一貫性のあるペイント作業が行えます。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      レイヤー
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      本ペイントツールのcanvasは13枚のレイヤーで構成されています。<br>
      これらのレイヤーを使用して複雑な操作を使用してアイテムを作成できます。<br>
      13枚のうち最初の1枚は「背景レイヤー」でこちらにはペイントはできません。<br>
      「背景レイヤー」の表示をオフにすると背景色が透明になり、描画範囲のみに色がついたpngデータを出力できます。<br>
      これにより、ペイント部分のみが浮かび上がるようなアイテムの表現が可能です。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      画像
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      ツールパネルの<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-image"></i></span>ボタンをクリックし、表示された詳細設定パネルの挿入をクリックすると画像が挿入できます。<br>
      使用できる形式は<span class="red-text text-Rounded500">「jpeg」</span>と<span class="red-text text-Rounded500">「png」</span>になります。<br>
      挿入した画像は変形でき必要なサイズに調整できます。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      図形・テキスト
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      <span class="red-text text-Rounded500">「四角形」「三角形」「円形」「直線」</span>など簡易的な図形を作成できます。<br>
      また、<span class="red-text text-Rounded500">「テキスト」</span>の入力も可能です。
      これによりちょっとした機械的なペイントを作成できます。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      取り消し（アンドゥ）・やり直し（リドゥ）
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      数回の前の最近の操作を簡単に修正することができます。<br>
      操作を取り消したい場合や、取り消した操作を再び実行したい場合に便利です。<br>
      この機能を使って、作業中の小さなミスを修正したり、異なるデザインの選択肢を試したりすることが可能です。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      拡大縮小
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      カーソルをcanvas内に置きマウスのホイールを回した時にcanvasを拡大縮小することが可能です。<br>
      これにより細かなペイントが可能です。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      レイヤー保存
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      現在表示されているレイヤーのみを個別に保存することができる機能です。<br>
      この機能は、作業中のデザインや編集途中の内容を効率的に管理したい場合に特に役立ちます。<br>
      ツールパネル上部のチェックボックス<%= image_tag('layer_save_btn.png', alt: 'レイヤー保存チェックボックス', class: "toolbtn-image-22") %>によりレイヤー保存の有無を切り替えられます。<br>
      チェックがついていない場合は12枚のレイヤー情報を1枚のレイヤーに集結して保存します。
    </p>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: -2.5rem;">
      <span class="red-text text-Rounded500">※</span>
      保存を行う際には保存したいレイヤーが表示状態にあることを確認してください。<br>
      非表示に設定されているレイヤーは、保存プロセス中にデータが削除されるため、結果として保存されません。<br>
      このため、保存したいレイヤーは必ず表示状態をオンにしてから保存ボタンを押して下さい。<br>
      また、本機能は「<span class="light-blue-text">S</span>ub <span class="red-text">T</span>hing</span>」では使用できません。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      途中保存
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      保存ボタンを押しても画面遷移せずに保存できる機能です。<br>
      保存後も作業をそのまま続行できるため作業途中で一旦データを保存したいときに便利です。
    </p>

    <h3 class="explanation-section-subtitle" style="margin-bottom: 0rem;">
      <span class="sub-line">
      png保存
      </span>
    </h3>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      作成した描画をpng形式で自身のパソコンにダウンロードすることができます。
    </p>

    <div style="height: 7rem; width: 100px;"></div>
    <h2 class="explanation-section-title" style="margin-bottom: 5rem;">
      <span class="text-line">ツールパネル</span>
    </h2>

    <section id="section2">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
        ツールパネル図解
        </span>
      </h3>
      <div class="sidebar-design">
        <%= image_tag('tool_panel_figure.png', alt: 'ツールパネルの図解', class: "toolpanel-image") %>
      </div>
    </section>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      各種紹介
      </span>
    </h4>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: -1rem;">
      <span class="red-text text-Rounded500" style="font-size: 0.85rem;  margin-top: 0rem;">※
      「ペン」「選択/テキスト/画像」は「<%= link_to '詳細設定パネル', tool_explanation_second_path + '#section1', class: "embedded-item text-Rounded500" %>」の項目にて解説します。
      </span>
    </p>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;  margin-top: -2rem;">
      <p style="margin-bottom: -0.8rem;"><span style="color: #e4816c;" class="text-Rounded700">全消去</span><%= image_tag('all_delete_btn.png', alt: '全消去ボタン', class: "toolbtn-image") %>：
      このボタンをクリックすると「選択中のレイヤーの描画」が全てリセット(削除)されます。誤って押してしまっても<span class="red-text text-Rounded500">取り消し/やり直し</span>で戻すことが可能です。<br>
      </p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #e4816c;" class="text-Rounded700">取り消し</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-reply-fill"></i></span>：
      このボタンをクリックすると1つ前のペイントに戻ることができます。取り消しの対象はcanvas上のペイントのみに限定しております。<br>
      macでのみショートカットキーに対応しております。コマンドは<span class="text-Rounded500" style="color: #e4816c;">「command」＋「Z」</span>です。
      </p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #e4816c;" class="text-Rounded700">やり直し</span><span class="bi-reply-fill-right panel-tool-button-right tooltip-container-right" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-reply-fill"></i></span>：
      <span class="red-text text-Rounded500">取り消し</span>を行なった後にこのボタンをクリックすると取り消された最後のペイントを再び適用し、作業を1ステップ進めることができます。<br>
      macでのみショートカットキーに対応しております。コマンドは<span class="text-Rounded500" style="color: #e4816c;">「shift」＋「command」＋「Z」</span>です。
      </p><br>
      <p class="red-text text-Rounded" style="font-size: 0.85rem; margin-top: -1rem;">※
        「選択/変形」と「取り消し/やり直し」について<br>
        変形中の操作を取り消すことはできません。「確定」を押した前後での描画の「取り消し/やり直し」は可能です。
      </p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #7f7e80;" class="text-Rounded700">コンパクトパネルへの切り替えボタン</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-box-arrow-in-up"></i></span>：
      このボタンを押すとツールパネルのサイズが小さくなります。<br>詳細は下記の「<a href="#section3" class="embedded-item text-Rounded500">コンパクトパネル</a>」をご確認下さい。<br>
      コンパクトパネルに切り替えてもデフォルトのツールパネルのフリーパレットに登録したカラーはリセットされません。再度デフォルトパネルに戻したらそのままご使用頂けます。
      </p><br>


      <p style="margin-bottom: -0.8rem;"><span style="color: #7f7e80;" class="text-Rounded700">自動表示モード</span><%= image_tag('auto_panel_btn.png', alt: '自動表示モードのUI', class: "auto_btn-image") %>：
      このボタンをオンにすると現在アクティブにしているツールに合わせてパネルが自動で表示されます。オフにするとパネル表示は全て手動になります。
      </p><br>
      <p style="margin-bottom: -0.8rem; margin-top: -1rem;"><span class="red-text text-Rounded500">自動モードがオフ状態のUI</span><br>
      <%= image_tag('auto_off.png', alt: '自動表示モードがオフの時の画像', class: "auto_none_image") %>
      </p><br>

      <p style="margin-top: 2rem;"><span style="color: #79b46f;" class="text-Rounded700">レイヤー保存</span><%= image_tag('layer_save_btn.png', alt: 'レイヤー保存チェックボックス', class: "toolbtn-image-22") %>：
      現在表示されているレイヤーのみを個別に保存することができます。レイヤーパネル上のレイヤーUIのこのチェックボックス<%= image_tag('layer_check_btn.png', alt: 'レイヤー表示チェックボックス', class: "toolbtn-image-20") %>がオンになっているものが保存対象です。<br>
      <span style="color: #F8A3B1;" class="text-Rounded500">保存対象</span>：<%= image_tag('layer_check_btn.png', alt: 'レイヤー表示チェックボックス', class: "toolbtn-image-20") %><br>
      <span style="color: #59afc7;" class="text-Rounded500">保存対象外</span>：<%= image_tag('layer_checknone_btn.png', alt: 'レイヤー非表示チェックボックス', class: "toolbtn-image-20") %></p><br>
      <p style="margin-bottom: 1rem; margin-top: -2.5rem;">
        非表示<%= image_tag('layer_checknone_btn.png', alt: 'レイヤー非表示チェックボックス', class: "toolbtn-image-20") %>となっているレイヤーのペイント情報は保存時にデータが削除されるためご注意ください。<br>
        チェックがついていない場合は12枚のレイヤー情報を1枚のレイヤーに集結して保存します。
      <p>

      <p style="margin-bottom: -0.8rem; margin-top: 2rem;"><span style="color: #3a559d;" class="text-Rounded700">png保存</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-download"></i></span>：
      作成した描画をpng形式で自身のパソコンにダウンロードすることができます。「背景レイヤー」を非表示で保存すると背景を透明にした状態で保存できます。保存されるサイズはcanvasのサイズと同じになります。</p><br>
      <p style="margin-top: -1rem;"><span class="red-text text-Rounded500">ちょっとした小技</span></p><br>
      <div class="steps-waza" style="margin-top: -2.5rem;">
        <p>「背景レイヤー」を非表示にし、必要なレイヤーを個別に保存します。</p>
        <p>次に、保存したレイヤーと同じサイズの新しいアイテムを作成します。</p>
        <p>「画像を実際のサイズで挿入する」のチェックボックスを<span style="color: #59afc7;" class="text-Rounded">オフ</span>にし、保存した画像を挿入します。</p>
      </div>
      <span class="text-Rounded">この方法を利用すると、画像は元のレイヤーと完全に同じ位置に挿入されます。<br>これにより、異なるアイテム間でレイヤーを簡単に移動させたり、共有したりすることが可能です。</span>
      <br>


      <p style="margin-bottom: -0.8rem; margin-top: 3rem;"><span style="color: #c9da39;" class="text-Rounded700">消しゴム</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-eraser-fill"></i></span>：
      canvas上でクリック&ドラッグされた範囲のペイントを削除します。ブラシサイズはサイズパネルで選択されているサイズと連動しております。</p><br>

      <p style="margin-bottom: -0.8rem; margin-top: 3rem;"><span style="color: #59afc7;" class="text-Rounded700">スポイト</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-eyedropper"></i></span>：
      canvas上で取得したい色をクリックするとその色で現在のカラーを更新します。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #59afc7;" class="text-Rounded700">色登録</span><%= image_tag('color_save_btn.png', alt: '色登録ボタン', class: "toolbtn-image") %>：
      このツールをアクティブにして<span class="red-text text-Rounded500">フリーパレット</span><%= image_tag('freepallet.png', alt: '色登録ボタン', class: "toolbtn-image-20") %>をクリックするとその場所に現在のカラーを登録できます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #59afc7;" class="text-Rounded700">色削除</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-trash3-fill"></i></span>：
      <span class="red-text text-Rounded500">フリーパレット</span>に登録した色を削除できます。このツールをアクティブにして<%= image_tag('freepallet.png', alt: '色登録ボタン', class: "toolbtn-image-20") %>をクリックするとそのパレットに登録されていた色が削除されます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #e1923a;" class="text-Rounded700">フリーパレット</span><%= image_tag('freepallet.png', alt: '色登録ボタン', class: "toolbtn-image-20") %>：
      ここに頻繁に使用する色を登録できます。登録した色は<span class="red-text text-Rounded500">スポイト</span>クリックすることで使用できます。</p>

      <p style="margin-bottom: -0.8rem; margin-top: 3rem;"><span style="color: #7f69a2;" class="text-Rounded700">カラーパレットパネル表示ボタン</span><%= image_tag('color_palette_panel_btn.png', alt: 'カラーパレットパネル表示ボタン', class: "toolbtn-image") %>：
      このボタンを押すとカラーパレットパネルが表示されます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #7f69a2;" class="text-Rounded700">レイヤーパネル表示ボタン</span><%= image_tag('layer_panel_btn.png', alt: 'レイヤーパネル表示ボタン', class: "toolbtn-image") %>：
      このボタンを押すとレイヤーパネルが表示されます。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #7f69a2;" class="text-Rounded700">スケールパネル表示ボタン</span><%= image_tag('scale_panel_btn.png', alt: 'スケールパネル表示ボタン', class: "toolbtn-image") %>：
      このボタンを押すとスケールパネルが表示されます。</p><br>
    </div>

    <section id="section3">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 2rem">
        <span class="sub-line">
          コンパクトパネル
        </span>
      </h3>
      <div class="sidebar-design">
        <%= image_tag('compact_panel.png', alt: 'コンパクトパネルの図解', class: "toolpanel-image") %>
      </div>
    </section>


    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
      コンパクトパネルへの切り替えボタン<span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-box-arrow-in-up"></i></span>
      を押すとツールパネルが小さくコンパクトになります。<br>
    </p>


    <h4 class="explanation-section-pointtitle" style="margin-bottom: 0rem;">
      <span class="point-line">
      ツールパネルとの変更点
      </span>
    </h4>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;  margin-top: -2rem;">
        <p style="margin-bottom: -0.8rem; margin-top: 3rem;"><span style="color: #7f7e80;" class="text-Rounded700">ツールパネルをデフォルトに戻すボタン</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-window-fullscreen"></i></span>：
        このボタンを押すとツールパネルがデフォルトに戻ります。<br>コンパクトパネルのフリーパレットに登録されたカラーは、デフォルトのツールパネルには移行されませんが、リセットもされずに残ります。再度コンパクトパネルを開いた際には、以前に登録したカラーが表示されます。</p><br>

        <p style="margin-bottom: -0.8rem;"><span style="color: #da96ab;" class="text-Rounded700">色混ぜ</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-droplet-half"></i></span>：
        canvas上の色を拾ってそのままペイントできるペンです。詳細は「詳細設定パネル」の項目にて解説します。</p><br>

        <p style="margin-bottom: -0.8rem;"><span style="color: #da96ab;" class="text-Rounded700">四角形</span><span class="panel-tool-button" style="cursor: default; color: black; display: inline-flex;"><i class="bi bi-square"></i></span>：
        四角形を描画できるツールです。詳細は「詳細設定パネル」の項目にて解説します。</p><br>

        <p style="margin-bottom: -0.8rem;"><span style="color: #d98e3c;" class="text-Rounded700">ペーストボタン</span><%= image_tag('copy_btn.png', alt: 'コピーしたペイントを再度描画するボタン', class: "toolbtn-image") %>：
        選択ツールにて「コピーモード」を選択しペイントのコピーを保持している状態の時に表示されるボタンです。コピーがない状態の時はボタンのUIは表示されません。</p><br>
    </div>
      

    <div style="height: 7rem; width: 100px;"></div>
    <section id="section4">
      <h2 class="explanation-section-title" style="margin-bottom: 0rem; margin-bottom: 3rem;">
        <span class="text-line">カラーパレットパネル</span>
      </h2>
      <div class="sidebar-design">
        <%= image_tag('colorpallet_panel.png', alt: 'カラーパレットパネルの図解', class: "toolpanel-image") %>
      </div>
    </section>

      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
        機能解説
        </span>
      </h3>
      <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9; margin-top: -2rem;">
        <div class="sidebar-design">
          <%= image_tag('picker_style.png', alt: 'カラーピッカーの画像', class: "toolpanel-image-picker") %>
        </div>
        <p style="margin-top: 3rem;">
          <span style="color: #79b46f;" class="text-Rounded700">カラーピッカー</span><br>
          ポインタ<span class="text-Rounded700 red-text">◯</span>にて自由に色を変更できます。<br>
          カラーピッカーは<span class="red-text text-Rounded500">「円形」「四角形」</span>の2種類用意しており切り替えが可能です。
        </p>
        <span style="color: #F8A3B1;" class="text-Rounded500">円形カラーピッカー</span>：色相の変更をメインにしているピッカーです。下部の<span style="color: #385194;" class="text-Rounded500">カラーピッカースライダー</span>で彩度を調整できます。<br>
        <span style="color: #59afc7;" class="text-Rounded500">四角形カラーピッカー</span>：彩度と色の値の変更をメインにしているピッカーです。下部の<span style="color: #385194;" class="text-Rounded500">カラーピッカースライダー</span>で色相を調整できます。<br>
        </p>

      <p style="margin-bottom: -0.8rem;"><span style="color: #5ab8d2;" class="text-Rounded700">カラーピッカーの切り替えボタン</span><%= image_tag('change_ wheel.png', alt: 'カラーピッカーを円形に変更するボタン', class: "toolbtn-image") %><%= image_tag('change_ box.png', alt: 'カラーピッカーを四角形に変更するボタン', class: "toolbtn-image", style: "margin-left: 0.3rem;") %>：
        カラーピッカーの種類を切り替えられるボタンです。メイン表示されているカラーピッカーに応じてボタンのアイコンが変化します。</p><br>

      <p style="margin-bottom: -0.8rem;"><span style="color: #c9da39;" class="text-Rounded700">白黒ボタン</span><%= image_tag('black_white_btn.png', alt: '白黒ボタン', class: "toolbtn-image") %>：
        このボタンをクリックすると現在のカラーを「白」もしくは「黒」に変更できます。上部の黒い半円が黒ボタン、下部の半円が白ボタンとなっております。</p><br>


      <p style="margin-bottom: -0.8rem;"><span style="color: #db7d69;" class="text-Rounded700">カラープレビュー</span><%= image_tag('color_preview.png', alt: 'カラープレビュー', class: "toolbtn-image") %>：
        現在選択されているカラーを確認できるプレビューです。またプレビューをクリックすると現在のカラーがプレビューが示している色に変更されます。<br>
        プレビューは2つ重なっており手前のものが<span style="color: #F8A3B1;" class="text-Rounded500">「メインプレビュー」</span>、後ろのものが<span style="color: #59afc7;" class="text-Rounded500">「サブプレビュー」</span>です。<br>
        2つのプレビューのうち片方は必ずカラーピッカーのポインタが示す色によって随時更新されます。<br>
        <span style="color: #F8A3B1;" class="text-Rounded500">「メインプレビュー」</span>と<span style="color: #59afc7;" class="text-Rounded500">「サブプレビュー」</span>は入れ替えボタン<%= image_tag('change_btn.png', alt: 'プレビュー入れ替えボタン', class: "toolbtn-image-20", style: "width: 15px;") %>をクリックすることで入れ替えることが可能です。<br>
        <span style="color: #F8A3B1;" class="text-Rounded500">「メインプレビュー」</span>もしくは<span style="color: #59afc7;" class="text-Rounded500">「サブプレビュー」</span>が示している色に更新したい場合は該当のプレビューをクリックして下さい。<br>
        <span class="red-text text-Rounded" style="font-size: 0.85rem;">※入れ替えボタン<%= image_tag('change_btn.png', alt: 'プレビュー入れ替えボタン', class: "toolbtn-image-20", style: "width: 12px;") %>をクリックしたのみでは現在のカラーの変更は起こりません。</span>
        </p><br>


      <p style="margin-bottom: -0.8rem;"><span style="color: #da96ab;" class="text-Rounded700">カラーコード入力フォーム</span>：
        本ペイントツールではカラーコードの入力からでもカラーを変更することが可能です。<span style="color: #F8A3B1;" class="text-Rounded500">「RGB形式」</span>と<span style="color: #59afc7;" class="text-Rounded500">「HSV形式」</span>のどちらかで指定できます。<br>
        また、カラーコードフォームの数値と現在選択されているカラーは連動しているため選択したカラーのカラーコードの確認としてもご使用頂けます。
      </p>

      </div>


    <div style="height: 7rem; width: 100px;"></div>
    <h2 class="explanation-section-title" style="margin-bottom: 5rem;">
      <span class="text-line">レイヤーパネル</span>
    </h2>
  
    <section id="section5">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          レイヤーとは？
        </span>
      </h3>
    </section>
      <div class="sidebar-design">
        <%= image_tag('layer_number.png', alt: 'レイヤーの解説', class: "toolpanel-image") %>
      </div>
      <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: 0rem;">
        ペイントツールにおいて、「レイヤー」とは、透明な紙のようなものです。<br>
        これにより、画像を層別に分けて編集することが可能になります。<br>
        各レイヤーには番号が振られており、<span style="color: #F8A3B1;" class="text-Rounded500">番号が大きいレイヤーほど上位</span>に表示されます。<br>
        このペイントツールでは、合計で13枚のレイヤーが用意されています。<br>
        この中で、最初の1枚（レイヤー番号0番）は<span style="color: #F8A3B1;" class="text-Rounded500">「背景レイヤー」</span>と呼ばれ、これは固定されており操作することはできません。<br>
        背景レイヤーを除く残りの<span style="color: #F8A3B1;" class="text-Rounded500">12枚</span>は自由にペイントして使用することができます。<br>
        これにより、背景を保持しつつ、その上に様々な画像や効果を加えることができるため、複雑な作品も容易に作成することが可能です。<br>
        この構造を利用することで、自由なペインティングや詳細な画像編集をお楽しみ頂けます。
      </p>


    <section id="section6">
      <h3 class="explanation-section-subtitle" style="margin-bottom: 3rem;">
        <span class="sub-line">
          レイヤーパネル図解
        </span>
      </h3>
    </section>

    <h4 class="explanation-section-pointtitle" style="margin-bottom: 3rem;">
      <span class="point-line">
      通常時のレイヤーパネル
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('normal_layer_panel.png', alt: '通常時のレイヤーパネルの図解', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;  margin-top: -2rem;">
      <p style="margin-bottom: -0.8rem; margin-top: 3rem;"><span style="color: #e4816c;" class="text-Rounded700">描画レイヤー名の表示/変更</span><%= image_tag('layer_form.png', alt: 'レイヤー名を入力するフォーム', class: "explanation-image", style: "width: 100px;") %>：
      ここに現在選択されているレイヤーの名前が表示されます。また、このフォームからレイヤー名の変更が可能です。</p><br>

      <p><span style="color: #c1d141;" class="text-Rounded700">プレビュー更新</span><%= image_tag('preview_reload_btn.png', alt: 'レイヤーのプレビューを更新するボタン', class: "toolbtn-image") %>：
      レイヤーごとの個別プレビューと全体のプレビューが更新されます。個別プレビューは後述の<span style="color: #F8A3B1;" class="text-Rounded500">「レイヤーUIの基本構成」</span>にて解説いたします。<br>
      全体プレビューについては「<a href="#section3" class="embedded-item text-Rounded500">スケールパネル</a>」をご確認ください。<br></p>

      <p style="margin-bottom: -0.8rem;"><span style="color: #d98e3c;" class="text-Rounded700">レイヤー選択機能をオンにするボタン</span><%= image_tag('second_layer_btn.png', alt: 'レイヤー選択機能をオンにするボタン', class: "toolbtn-image") %>：
      このボタンを押すとレイヤー選択機能がオン<%= image_tag('layer_selectbtn_active.png', alt: 'レイヤー選択機能をオンにするボタン', class: "toolbtn-image") %>になり、レイヤーパネルの状態が下記の「<span class="text-Rounded500 point-line">レイヤー選択機能がオンの時のレイヤーパネル</span>」のものに変化します。<br></p>
    </div>
    <p class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; margin-top: -1rem;">
      <span class="red-text text-Rounded500" style="font-size: 0.85rem;  margin-top: 0rem;">※
      レイヤー関連の機能については「レイヤーUI」の項目にて解説します。
      </span>
    </p>

    <h4 class="explanation-section-pointtitle" style="margin-top: 5rem; margin-bottom: 3rem">
      <span class="point-line">
      レイヤー選択機能がオン<%= image_tag('layer_selectbtn_active.png', alt: 'レイヤー選択機能をオンにするボタン', class: "toolbtn-image", style: "margin-bottom: 1rem;") %>の時のレイヤーパネル
      </span>
    </h4>
    <div class="sidebar-design">
      <%= image_tag('layer_select_panel.png', alt: 'レイヤー選択機能がオンの時のレイヤーパネルの図解', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;  margin-top: 3rem;">

      <p><span style="color: #7f7e80;" class="text-Rounded700">選択レイヤー名</span><%= image_tag('selectlayer_name.png', alt: '選択レイヤーの名前を表示する項目', class: "explanation-image", style: "width: 100px;") %>：
      ここに選択中のレイヤーの名前が表示されます。選択レイヤーがない場合は<span style="color: #59afc7;" class="text-Rounded500">「未選択」</span>と表示されます。<br></p>

      <p><span style="color: #e4816c;" class="text-Rounded700">「レイヤー選択機能」の解除</span><%= image_tag('selectlayer_delete.png', alt: '選択レイヤーを解除するボタン', class: "explanation-image", style: "width: 100px;") %>：
      このボタンを押すと「レイヤー選択機能」がオフになります。また<%= image_tag('layer_selectbtn_active.png', alt: 'レイヤー選択機能をオンにするボタン', class: "toolbtn-image") %>を押しても「レイヤー選択機能」をオフにすることができます。<br></p>

      <p><span style="color: #da96ab;" class="text-Rounded700">レイヤーの入れ替え</span><%= image_tag('layer_change_btn.png', alt: 'レイヤーのペイントを入れ替えるボタン', class: "toolbtn-image") %>：
      選択レイヤーがある状態でこのボタンを押すと、<span style="color: #F8A3B1;" class="text-Rounded500">「描画レイヤー」</span>と<span style="color: #59afc7;" class="text-Rounded500">「選択レイヤー」</span>を入れ替えることができます。<br>
      ペイントだけでなくブレンドモードや透明度を含め<span style="color: #F8A3B1;" class="text-Rounded500">全ての情報を入れ替え</span>ます。<br></p>

      <p><span style="color: #da96ab;" class="text-Rounded700">転写</span><%= image_tag('layer_move.png', alt: 'レイヤーのペイントを転写するボタン', class: "toolbtn-image") %>：
      選択レイヤーがある状態でこのボタンを押すと、<span style="color: #F8A3B1;" class="text-Rounded500">「描画レイヤー」</span>のペイントを<span style="color: #59afc7;" class="text-Rounded500">「選択レイヤー」</span>に移動します。<br>
      <span class="red-text text-Rounded500">※</span>この機能ではブレンドモードや透明度は追従しません。そのため、ブレンドモードや透明度の効果がかかっていない状態で<span style="color: #F8A3B1;" class="text-Rounded500">ペイントのみが移動</span>します。<br></p>

      <p><span style="color: #da96ab;" class="text-Rounded700">複製</span><%= image_tag('layer_paint_copy.png', alt: 'レイヤーのペイントを複製するボタン', class: "toolbtn-image") %>：
      選択レイヤーがある状態でこのボタンを押すと、<span style="color: #F8A3B1;" class="text-Rounded500">「描画レイヤー」</span>のペイントを<span style="color: #59afc7;" class="text-Rounded500">「選択レイヤー」</span>にコピーして描画します。<br>
      <span class="red-text text-Rounded500">※</span>この機能ではブレンドモードや透明度は追従しません。そのため、ブレンドモードや透明度の効果がかかっていない状態で<span style="color: #F8A3B1;" class="text-Rounded500">ペイントのみが移動</span>します。<br></p>
    </div>

    <h4 class="explanation-section-pointtitle" style="margin-top: 5rem;">
      <span class="point-line">
      レイヤーUI
      </span>
    </h4>
    <h5 class="explanation-section-pointtitle" style="margin-bottom: 3rem; font-size: 1rem;">
      <span class="orange-line">
      レイヤーUIの基本構造
      </span>
    </h5>
    <div class="sidebar-design">
      <%= image_tag('layer_explanation_image.png', alt: 'レイヤーUIの基本構造', class: "toolpanel-image") %>
    </div>
    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;  margin-top: 3rem;">
      <p style="margin-bottom: 3rem;"><span style="color: #5ab8d2;" class="text-Rounded700">レイヤーの表示切り替え</span><%= image_tag('layer_check_btn.png', alt: 'レイヤー表示チェックボックス', class: "toolbtn-image-20") %>：
      レイヤーの表示状態を切り替えるチェックボックスです。このボックスに<span style="color: #59afc7;" class="text-Rounded500"><i class="bi bi-vector-pen"></i></span>マークがあるレイヤーにペイントできます。<br>
      また<span style="color: #F8A3B1;" class="text-Rounded500">「レイヤー保存」</span>にて保存の対象レイヤーとなります。<br>
      </p>

      <p><span style="color: #d98e3c;" class="text-Rounded700">レイヤー個別プレビュー</span><%= image_tag('layer_preview.png', alt: 'レイヤー表示チェックボックス', class: "explanation-image", style: "width: 50px;") %><br></p>
      <p style="margin-left: 3rem;"><%= image_tag('layer_preview_sample.png', alt: 'レイヤー個別プレビューのサンプル', class: "explanation-image", style: "width: 237px;") %></p>
      <p>レイヤーのペイント状態を個別に表示するプレビューです。レイヤーの表示<%= image_tag('layer_check_btn.png', alt: 'レイヤー表示チェックボックス', class: "toolbtn-image-20") %>に関係なく記録しているため、ここに表示があるレイヤーにはペイントがあります。<br>
        リアルタイム更新ではないため最新の状態を確認したい場合は<%= image_tag('preview_reload_btn.png', alt: 'レイヤーのプレビューを更新するボタン', class: "toolbtn-image") %>を押して手動更新して下さい。<br>
        <br>
      </p>

      <p><span style="color: #da96ab;" class="text-Rounded700">透明度調整スライダー</span><%= image_tag('alpha_slider.png', alt: '透明度調整スライダー', class: "explanation-image", style: "width: 150px;") %><br></p>
      <p style="margin-left: 3rem;"><%= image_tag('alpha_slider_image.png', alt: '透明度調整スライダーのサンプル', class: "explanation-image", style: "width: 500px;") %></p>
      <p>ペイントの透明度を操作できるスライダーです。100%が透明度なしの状態で数値が下がるにつれてペイントに透明度が付きます。<br>
        <br>
      </p>
      <p><span style="color: #79b46f;" class="text-Rounded700">ブレンドモード</span><%= image_tag('blendmode_select.png', alt: 'ブレンドモードのドロップダウンの画像', class: "explanation-image", style: "width: 100px;") %><br></p>
        <p>ペイントのブレンドモードを選択できるドロップダウンです。<br>
        ブレンドモードとは画像編集やデジタルアートで用いられる機能で、2つ以上の画像や色を重ね合わせた時の色の混合方法を決定します。<br>
        効果の詳細は下記の<span style="color: #F8A3B1;" class="text-Rounded500">「ブレンドモード早見表」</span>をご確認下さい。<br>
        <br>
      </p>
    </div>

    <section id="section7">
      <h6 class="explanation-section-pointtitle" style="margin-top: -1rem; font-size: 0.9rem;">
        <span class="sakura-line">
        ブレンドモード早見表
        </span>
      </h6>
    </section>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9; margin-top: -1rem;">
      <table class="blendmode-table">
        <thead>
          <tr>
            <th>ブレンドモード</th>
            <th>効果</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>通常</td>
            <td><%= image_tag('blendmode_normal.png', alt: 'ブレンドモードの通常', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>比較(暗)</td>
            <td><%= image_tag('blendmode_dark.png', alt: 'ブレンドモードの比較(暗)', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>比較(明)</td>
            <td><%= image_tag('blendmode_lite.png', alt: 'ブレンドモードの比較(明)', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>色彩対比</td>
            <td><%= image_tag('blendmode_diff.png', alt: 'ブレンドモードの色彩対比', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>乗算</td>
            <td><%= image_tag('blendmode_mult.png', alt: 'ブレンドモードの乗算', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>除外</td>
            <td><%= image_tag('blendmode_excl.png', alt: 'ブレンドモードの除外', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>スクリーン</td>
            <td><%= image_tag('blendmode_screen.png', alt: 'ブレンドモードのスクリーン', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>オーバーレイ</td>
            <td><%= image_tag('blendmode_over.png', alt: 'ブレンドモードのオーバーレイ', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>ハードライト</td>
            <td><%= image_tag('blendmode_hard.png', alt: 'ブレンドモードのハードライト', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>ソフトライト</td>
            <td><%= image_tag('blendmode_soft.png', alt: 'ブレンドモードのソフトライト', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>覆い焼き</td>
            <td><%= image_tag('blendmode_dodge.png', alt: 'ブレンドモードの覆い焼き', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>焼き込み</td>
            <td><%= image_tag('blendmode_burn.png', alt: 'ブレンドモードの焼き込み', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
          <tr>
            <td>発光</td>
            <td><%= image_tag('blendmode_add.png', alt: 'ブレンドモードの発光', class: "explanation-image", style: "width: 100px;") %></td>
          </tr>
        </tbody>
      </table>
    </div>
    

    <h5 class="explanation-section-pointtitle" style="margin-bottom: 3rem; font-size: 1rem;">
      <span class="orange-line">
      レイヤーUIの状態説明
      </span>
    </h5>

    <div class="explanation-section-text text-Rounded" style="margin-left: 0.5rem; line-height: 1.9;  margin-top: -2rem;">
      <p style="margin-bottom: -0.5rem;"><span style="color: #d98e3c;" class="text-Rounded700">表示状態のレイヤー</span><%= image_tag('layer_ui.png', alt: '表示状態のレイヤー', class: "layer-ui-image") %>：
      この状態のレイヤーはペイントができます。<span style="color: #F8A3B1;" class="text-Rounded500">「レイヤー保存」</span>にて保存の対象レイヤーとなります。</p><br>

      <p style="margin-bottom: -0.5rem;"><span style="color: #d98e3c;" class="text-Rounded700">非表示状態のレイヤー</span><%= image_tag('layer_ui_noactive.png', alt: '非表示状態のレイヤー', class: "layer-ui-image") %>：
      この状態のレイヤーにはペイントはできません。<span style="color: #F8A3B1;" class="text-Rounded500">「レイヤー保存」</span>では保存の対象外となります。</p><br>

      <p style="margin-bottom: -0.5rem;"><span style="color: #d98e3c;" class="text-Rounded700">描画レイヤー</span><%= image_tag('layer_ui_active.png', alt: '描画レイヤー', class: "layer-ui-image") %>：
      この状態のレイヤーが現在<span style="color: #F8A3B1;" class="text-Rounded500">「ペイントできるレイヤー」</span>になります。作成したペイントはこの状態のレイヤーにのみ描画されます。</p><br>

      
      <p class="red-text text-Rounded500">※レイヤーUIのクリック判定について</p><br>
      <div style="margin-top: -2.5rem;"><%= image_tag('layer_click_area.png', alt: '※レイヤーUIのクリック判定に関する画像', class: "layer-ui-image") %></div>
      <p style="margin-top: -1rem; margin-bottom: 2.5rem;">上記の赤枠の部分がクリックで描画/選択レイヤーを切り替えられる判定部分になります。<br>
      その他の部分をクリックしても切り替えは発生しません。</p>


      <p style="margin-bottom: -0.5rem;"><span style="color: #d98e3c;" class="text-Rounded700">選択レイヤー</span><%= image_tag('layer_ui_select.png', alt: '選択レイヤー', class: "layer-ui-image") %>：
      「レイヤー選択機能」がオンの時に描画レイヤー以外のレイヤーを選択するとそのレイヤーは「選択レイヤー」となります。<br>
      この状態のレイヤーは<span style="color: #F8A3B1;" class="text-Rounded500">「レイヤーの入れ替え」「転写」「複製」の操作の対象レイヤー</span>となります。
      </p><br>

      <p><span style="color: #d98e3c;" class="text-Rounded700">背景レイヤー</span><%= image_tag('layer_ui_background.png', alt: '背景レイヤー', class: "layer-ui-image") %>：
      一番下に位置するレイヤーで初期状態時からcanvasサイズと同じだけ白一色で塗りつぶされています。このレイヤーの表示をオフにすると背景色が透明になり他レイヤーでペイントしている範囲のみが表示されます。<br>
      <span style="color: #F8A3B1;">このレイヤーにはペイントはできません。</span>
      </p><br>

      <div class="flex-between" style="width: 500px; margin-top: -0.5rem;">
        <div class="flex-start-start-flex-column">
          <span>背景レイヤー<span style="color: #F8A3B1;" class="text-Rounded500">表示</span></span>
          <div><%= image_tag('layer_ui_background.png', alt: '表示状態の背景レイヤー', class: "layer-ui-image") %></div>
          <div><%= image_tag('background_white.png', alt: '背景レイヤーが表示状態の画像', class: "explanation-image", style: "width: 150px;") %></div>
        </div>

        <div class="flex-start-start-flex-column">
          <span>背景レイヤー<span style="color: #59afc7;" class="text-Rounded500">非表示</span></span>
          <div><%= image_tag('background_layer_none.png', alt: '非表示状態の背景レイヤー', class: "layer-ui-image") %></div>
          <div><%= image_tag('background_none.png', alt: '背景レイヤーが非表示状態の画像', class: "explanation-image", style: "width: 150px;") %></div>
        </div>
      </div>
    </div>

    <div style="height: 10rem; width: 100px;"></div>


  </div>

</div>
