



<% if user_signed_in? %>
<div class='p5canvas-container'>
    <div id="reactAllComposite"
      data-composite-id-all="<%= @composites.to_json %>"
      data-item-id-all="<%= @items.to_json %>"
      data-space-id-all="<%= @spaces.to_json %>"
      data-sub-user-id-all="<%= @sub_users.to_json %>"
      data-profile-id="<%= @profile.to_json %>"
    >
    </div>
    </div>
  <% else %>
  <div class='p5canvas-container how-to-use-container'>


<div id="react-sample-room"></div>


  <div class="info-container" style="text-align: left;">
    <div className="flex-column">
      <div class="flex">

        <div class="section-title">
          <div class="app-logo">
            <div class="flex flex-animated-text">
              <div class="flex-between flex-animated-text-absolute logo-blur-05">
                <div class="animated-text">
                  <span class='zen-antique logo-setting'>F</span>
                  <span class='sawarabi-mincho logo-setting'>l</span>
                  <span class="logo-setting">o</span>
                  <span class='dotgothic16'>w</span>

                  <span class='potta-one logo-setting-t logo-setting'>T</span>
                  <span class='rocknroll-one logo-setting-hi'>h</span>
                  <span class='yuji-mai logo-setting-hi'>i</span>
                  <span class='yuji-syuku logo-setting-n'>n</span>
                </div>
                <div class="mirror-horizontal animated-text-hanntenn"><p class='slackside-one'>g</p></div>
              </div>

              <div class="flex-between logo-blur-15">
                <div class="animated-text">
                  <span class='zen-antique logo-setting'>F</span>
                  <span class='sawarabi-mincho logo-setting'>l</span>
                  <span class="logo-setting">o</span>
                  <span class='dotgothic16'>w</span>

                  <span class='potta-one logo-setting-t logo-setting'>T</span>
                  <span class='rocknroll-one logo-setting-hi'>h</span>
                  <span class='yuji-mai logo-setting-hi'>i</span>
                  <span class='yuji-syuku logo-setting-n'>n</span>
                </div>
                <div class="mirror-horizontal animated-text-hanntenn"><p class='slackside-one'>g</p></div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <h1 class="info-section-text">
            <span class="gray-text"> とは？</span>
          </h1>
        </div>
      </div>

      <div style="margin-bottom: 2rem;">
        <span class="text-left info-text">
          「Flow Thing」とは「もの(Thing)」を管理するアプリです。<br>
          お気に入りのグッズやコレクション、なかなか頭の中では仕切れないものを記録します。<br>
          また、物理的な「物」だけでなく、ペットや家族、実態はないけど何となくあると感じる「もの」など幅広く登録できます。
        </span>
      </div>

      <h2 class="info-section2-text">
        <span>使い方</span>
      </h2>
      <span class="text-left info-text">「Flow Thing」では、名前や写真を使ってアイテムを登録するだけでなく、アプリ内で直接イラストを描くことも可能です。<span>

      <div id="react-drag"></div>

    </div>
  </div>





</div>
  <% end %>
















<%# <div class="draggable-test2 f-text">テスト用スペース</div> %>
<%# 
<div id="react-drag"></div> %>

<%# <div id="reactPixiTest" class="draggable-test2"></div> %>

<%# <div id="reactP5PenTest" class="draggable-test2 myCanvas"></div> %>
<%# <div id="reactP5PenDeviceTest" class="draggable-test2 myCanvas"></div> %>






