



<% if user_signed_in? %>
<div class='p5canvas-container'>
    <div id="reactAllComposite"
      data-composite-id-all="<%= @composites.to_json %>"
      data-item-id-all="<%= @items.to_json %>"
      data-space-id-all="<%= @spaces.to_json %>"
      data-sub-user-id-all="<%= @sub_users.to_json %>"
      data-profile-id="<%= @profile.to_json %>"
    >
    </div>
    </div>
  <% else %>
  <div class='p5canvas-container how-to-use-container'>




  <div class="info-container">
  <div class="top-page-logo-none info-wave-logo"><%= image_tag('wave-half.png', alt: '円形の波のアイコン', class: "top-wave-logo") %></div>
  <div class="top-page-logo-none info-wave3-logo"><%= image_tag('wave3.png', alt: '円形の波のアイコン', class: "top-wave3-logo") %></div>

  <div class="top-page-logo-none info-fish-poi"><%= image_tag('fishpoi.png', alt: 'ししゃもを乗せたポイ', class: "top-fish-poi") %></div>

      <div class="caution-statement">
        <span class="text-left info-text">
          ※ このページは横幅768px以上のブラウザを推奨しております。
        </span>
      </div>

    <div class="flex-column">

<div style="margin-top: 3rem;"><%= image_tag('toplong_logo.png', alt: 'トップページのロゴ', class: "top-page-logo") %></div>

<div style="margin-top: 3rem;"><span class="top-page-text">空間を作成できるモノ管理アプリ</span></div>
<div id="react-sample-room"></div>

      <div style="margin-bottom: 2rem;">
        <span class="text-left info-text">
          お気に入りのグッズやコレクション、ペットや家族、<br>
          実態はないけど何となくあると感じる「モノ」などを自由に表現して管理できます。
        </span>
      </div>

      <h2 class="info-section2-text">
        <span>使い方</span>
      </h2>

      <div id="react-drag"></div>

    </div>
  </div>





</div>
  <% end %>
















<%# <div class="draggable-test2 f-text">テスト用スペース</div> %>
<%# 
<div id="react-drag"></div> %>

<%# <div id="reactPixiTest" class="draggable-test2"></div> %>

<%# <div id="reactP5PenTest" class="draggable-test2 myCanvas"></div> %>
<%# <div id="reactP5PenDeviceTest" class="draggable-test2 myCanvas"></div> %>






