<% content_for(:title, t('.title')) %>

<% profile = current_user.profile if user_signed_in? %>
<div class="p5canvas-container how-to-use-container" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

<div class="info-container flex-column">

  <div class="top-page-logo-none info-wave-logo"><%= image_tag('wave-half.png', alt: '円形の波のアイコン', class: "top-wave-logo") %></div>
  <div class="top-page-logo-none info-wave3-logo"><%= image_tag('wave3.png', alt: '円形の波のアイコン', class: "top-wave3-logo") %></div>


    <% if @sub_users.blank? %>
      <div class="section-title">
        まずは<span class="light-blue-text">S</span>ub <span class="red-text">T</span>hingを作成してみましょう。</span>
      </div>
    <% end %>

    <div class="section-title">
      <span class="red-text">作成</span>メニュー
    </div>

    <div class="create-usersselect-card">
      <div class="create-usersselect-background flex-start-start-flex-center">
        <div class="flex-column">

          <%= link_to new_sub_user_path, class: 'tooltip-container' do %>
            <div class="flex create-usersselect-container">
              <div><i class="bi bi-pencil-square" style="font-size: 2rem;"></i></div>
              <div class="newcontents_text"><span class="light-blue-text">S</span>ub <span class="red-text">T</span>hing<span>を新規作成<span></div>
            </div>
            <span class="tooltip-text" style="text-align: start;">新しくSub Thingを作成します。</span>
          <% end %>


          <% if @sub_users.present? %>
            <%= link_to sub_users_path, class: 'tooltip-container' do %>
              <div class="flex create-usersselect-container">
                <div><i class="bi bi-people-fill" style="font-size: 2rem;"></i></div>
                  <div class="newcontents_text"><span><span class="f-text">F</span>low <span class="t-text">T</span>hing</span>を作成する<span></div>
                </div>
              <span class="tooltip-text" style="text-align: start;">既存のSub ThingにFlow Thingを作成します。</span>
            <% end %>
          <% else %>
              <div class="tooltip-container">
                <div class="flex create-usersselect-container-no-user">
                  <div><i class="bi bi-people-fill" style="font-size: 2rem;"></i></div>
                  <div class="newcontents_text"><span>Flow Thingを作成する</span></div>
                </div>
                <span class="tooltip-text" style="text-align: start;">はじめにSub Thingを「新規作成」して下さい。</span>
              </div>
          <% end %>

          
          <%= link_to spaces_path, class: 'tooltip-container' do %>
            <div class="flex create-usersselect-container">
              <div><i class="bi bi-image bi-image-title" style="font-size: 2rem;"></i></div>
              <div class="newcontents_text"><span>Screenを作成<span></div>
              <span class="tooltip-text" style="text-align: start;">Flow Thingを配置するScreenを作成できます。</span>
            </div>
          <% end %>





          <% if @spaces.present? %>
            <%= link_to composites_path, class: 'tooltip-container' do %>
              <div class="flex create-usersselect-container">
                <div><i class="bi bi-box-seam-fill" style="font-size: 2rem;"></i></div>
                <div class="newcontents_text"><span><span class="f-text">F</span>low <span class="t-text">T</span>hing</span>を配置する</span></div>
                <span class="tooltip-text" style="text-align: start;">作成したScreenにFlow Thingを配置できます。</span>
              </div>
            <% end %>
          <% else %>
              <div class="tooltip-container">
                <div class="flex create-usersselect-container-no-user">
                  <div><i class="bi bi-box-seam-fill" style="font-size: 2rem;"></i></div>
                  <div class="newcontents_text"><span>Flow Thingを配置する<span></div>
                </div>
                <span class="tooltip-text" style="text-align: start;">はじめにSub Thingを「新規作成」して下さい。</span>
              </div>
          <% end %>


        </div>
      </div>
    </div>
      
  </div>
</div>