


<article id="composite_<%= composite.id %>", class="space-card-user-card-container">
    <details class="details-box">
      <summary class="space-summary-style"><%= composite.composite_name.present? ? composite.composite_name : 'No Name' %></summary>
      <span><%= composite.updated_at.strftime("%Y年%m月%d日 %H:%M") %></span>
    </details>


    <section class="space-card-user-objectbox">
      <div class="space-icon-card-frame">
        <%= link_to composite_path(composite) do %>


            <% if composite.composite_image.present? %>
              <img src="<%= composite.composite_image %>" alt="Canvas Image" class="space-card-icon">
            <% end %>
        <% end %>
      </div>


      <div class="space-card-item-flex">
        <div>
          <%= link_to edit_composite_path(composite), class: "edit-memo-link pencil-fill-space" do %>
            <i class="bi bi-pencil-fill trash-fill-font"></i>
          <% end %>
        </div>

        <div>
          <%= link_to confirm_delete_composite_path(composite), class: "delete-confirm-link" do %>
            <i class="bi bi-trash-fill trash-fill-font"></i>
          <% end %>
        </div> 
      </div> 
    </section>
</article>

