<div class="p5canvas-container">
  <h1 class="section-title" style="margin-top: 2rem;">
    <span class="red-text">Flux Screen新規作成</span>
    
  </h1>
<span class="red-text">この機能で使用できるFlow Thingは「描画ツール」で作成したもののみになります。<br>画像の挿入も「描画ツール」経由でお試しください。<br>このツールはPCのフルスクリーンでの作業を推奨しております。</span>
<div class="flex">

  <div id="reactNewCompositeCreate"
    data-profile-id="<%= @profile.id %>"
    data-item-id-all="<%= @items.to_json %>"
    data-space-id-all="<%= @spaces.to_json %>"
    data-sub-user-id-all="<%= @sub_users.to_json %>"
    data-space-size="<%= @profile.space_size %>"
  >
</div>


</div>
</div>

