<div class="p5canvas-container flex-column">
  <h1 class="section-title" style="margin-top: 2rem;">
    <span class="red-text">Snb Thingのアイコンを作成</span>
  </h1>

<div style="margin-bottom: 2rem;"><span class="red-text">※注意 Sub Thingアイコンはレイヤーごとの保存はできません。<br> このツールはPcのフルスクリーンでの作業を推奨しております。</span></div>

  <div id="reactEditSubUserCanvas"
    data-user-id="<%= @sub_user.id %>"
    data-profile-id="<%= @sub_user.profile_id %>"
    data-sub-user-name="<%= @sub_user.sub_name %>"
    data-sub-user-text="<%= @sub_user.sub_text %>"
    data-sub-user-canvas="<%= @sub_user.sub_canvas %>"
    data-space-size="<%= @profile.space_size %>"
  >
  </div>

</div>

