<% content_for(:title, t('.title')) %>





<% profile = current_user.profile if user_signed_in? %>
<div class="p5canvas-container how-to-use-container" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

<div class="info-container">

  <div class="top-page-logo-none info-wave-logo"><%= image_tag('wave-half.png', alt: '円形の波のアイコン', class: "top-wave-logo") %></div>




  <h1 class="midasi-title" style="margin-top: 4rem;">
    
    <span class="light-blue-text">S</span>ub <span class="red-text">T</span>hing</span>
  </h1>

  <%= render 'search_form', q: @q, url: sub_users_path %>



  <div class="item-list-container">
    <% if @sub_users.present? %>
      <% @sub_users.each do |sub_user| %>
        <div class="item-list-card">
          <%= render sub_user %>
        </div>
      <% end %>
    <% else %>
      <div class="noitem-text">サブユーザーがいません</div>
    <% end %>
  </div>


  
  <div style="margin: 5rem 3rem;">
    <%= paginate @sub_users %>
  </div>
</div>
</div>
