
<% content_for(:title, t('.title')) %>
<div class="p5canvas-container canvas-paint-container flex-column">
  <h1 class="section-title">
    <span class="red-text" style="margin-top: 2rem;">Snb Thing編集</span>
  </h1>

    <div class="tool-statement">
      <p class="red-text text-Rounded500" style="margin-bottom: -0.8rem;">注意</p><br>
      <p style="margin-bottom: -0.8rem;">作業中のこまめな途中保存を推奨します。<br>
        Sub Thingアイコンはレイヤーごとの保存はできません。
      </p><br>
      <p>
        <span style="color: #3A559D;" class="text-Rounded500">もしコントロールパネルが動かなくなったら</span><br>
        万が一、パネルがスライドできなくなった場合は、下記の<span style="color: #59afc7;" class="text-Rounded500">「もしパネルが動かなくなったらクリック」</span>ボタンを押してください。<br>
        改善されない場合は、一度保存後にページを離れて再度アクセスしてください。
      </p><br>
      <p>
        <span style="color: #EB625A;" class="text-Rounded500">もしcanvasが白紙に戻ってしまったら</span><br>
        長時間作業する場合、ブラウザの状況によりリロードが発生し、canvasが白紙に戻る可能性があります。<br>
        その場合は保存せずにページを離れてください。<br>
        保存を押してしまうと、canvasが白紙で上書きされる恐れがあります。
      </p><br>
    </div>

  <div id="reactPeintSubUserCanvas"
    data-user-id="<%= @sub_user.id %>"
    data-profile-id="<%= @sub_user.profile_id %>"
    data-sub-user-name="<%= @sub_user.sub_name %>"
    data-sub-user-text="<%= @sub_user.sub_text %>"
    data-sub-user-canvas="<%= @sub_user.sub_canvas %>"
    data-space-size="<%= @profile.space_size %>"

    data-tool-parameters="<%= @profile.tool_data %>"
  >
  </div>

</div>

