<div class="p5canvas-container canvas-paint-container flex-column">
  <h1 class="section-title">
    <span class="red-text">アイコンを描く</span>
  </h1>

<span class="red-text">※注意 Sub Thingアイコンはレイヤーごとの保存はできません。<br> このツールはPCのフルスクリーンでの作業を推奨しております。</span>

  <div id="reactPeintSubUserCanvas"
    data-user-id="<%= @sub_user.id %>"
    data-profile-id="<%= @sub_user.profile_id %>"
    data-sub-user-name="<%= @sub_user.sub_name %>"
    data-sub-user-text="<%= @sub_user.sub_text %>"
    data-sub-user-canvas="<%= @sub_user.sub_canvas %>"
  >
  </div>

</div>

