<% content_for(:name, @sub_user.sub_name) %>
<div class="max767-container">
  <div>
    <h1 class="section-title"><%= t('.title') %></h1>


    <div>
  <% if @sub_user.icon_choice.present? %>
    <% case @sub_user.icon_choice %>
      <% when 'sub_image' %>
        <!-- sub_image の内容を表示 -->
        <% if @sub_user.sub_image.present? %>
          <%= image_tag @sub_user.sub_image.url, class: "user-profileicon" %>
        <% end %>
      <% when 'sub_canvas' %>
        <!-- sub_canvas の内容を表示 -->
    
          <canvas class="fabicon" id="restoredSubCanvas" 
        data-canvas-json='<%= @sub_user.sub_canvas.to_json.html_safe %>'></canvas>
      
      <% when 'sub_color' %>
        <!-- sub_color の内容を表示 -->
        <div style="background-color: <%= @sub_user.sub_color %>;" class="user-profileicon"></div>
      <% else %>
        <p>アイコンは設定されていません。</p>
    <% end %>
  <% end %>

</div>


    <div><%= @sub_user.sub_name %></div>
    <div>トップへ戻る</div>
  
    <%= link_to '新しいアイテムを作成', new_item_path(sub_user_id: @sub_user.id), class: 'btn btn-primary' %>
    <%= link_to edit_sub_user_path(@sub_user) do %>
      <i class="bi bi-pencil-fill"></i>
    <% end %>

    </div>
  </div>