<article id="space_<%= space.id %>", class="user-card-container">
    <details class="details-box">
      <summary class="space-summary-style"><%= space.space_name %></summary>
      <span><%= space.updated_at.strftime("%Y年%m月%d日 %H:%M") %></span>
    </details>


    <section class="user-objectbox">
      <div class="icon-object">
        <%= link_to space_path(space) do %>
        <span>画像</span>

        <% end %>
      </div>


      <div class="item-flex">
        <div>
          <%= link_to edit_space_path(space), class: "edit-memo-link pencil-fill-space" do %>
            <i class="bi bi-pencil-fill trash-fill-font"></i>
          <% end %>
        </div>

        <div>
          <%= link_to confirm_delete_space_path(space), class: "delete-confirm-link" do %>
            <i class="bi bi-trash-fill trash-fill-font"></i>
          <% end %>
        </div> 
      </div> 
    </section>
</article>



