
<% profile = current_user.profile if user_signed_in? %>
<div class="p5canvas-container how-to-use-container" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

<div class="info-container flex-column">

  <div class="top-page-logo-none info-wave-logo"><%= image_tag('wave-half.png', alt: '円形の波のアイコン', class: "top-wave-logo") %></div>


    <div class="delete-card" style="margin-top: 2rem;">
      <div class="delete-background flex-start-start-flex-center">
        <div class="flex-column">
          <h1 style="font-size: 2rem;">

            <% if @space.space_canvas.present? %>
              <img src="<%= @space.space_canvas %>" alt="Canvas Image" style="object-fit: contain;" class="delete-space-icon">
            <% end %>

            の削除確認
          </h1>

            <% if @space.space_name.present? %>
              <p style="margin-top: 1rem;">Screen名：<%= @space.space_name %></p>
            <% end %>

          <p style="margin-top: 0.5rem;">本当にこのScreenを削除しますか？</p>
          
          <p class="red-text" style="text-align: start;">※Screenを削除するとこのScreenをメインにしているFlux Screenも全て削除されます。</p>

          <div class="flex-between" style="width: 20rem;">
            <div>
              <%= link_to 'キャンセル', spaces_path %>
            </div>
            <div>
              <%= link_to '削除する', space_path(@space), id: "button-delete-#{@space.id}", class: "delete-memo-link", data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
