<div class="p5canvas-container">
  <h1 class="section-title">
    <span class="red-text">編集</span>
    
  </h1>
<span class="red-text">このツールはPCのフルスクリーンでの作業を推奨しております。</span>

  <div id="reactEditSpaceCanvas"
    data-profile-id="<%= @profile.id %>"
    data-space-id="<%= @space.id %>"

    data-canvas-data="<%= @space.space_canvas %>"
    data-canvas-save-data="<%= @space.space_save_canvas %>"

    data-space-name="<%= @space.space_name %>"
    data-space-text="<%= @space.space_text %>"

  >
  </div>

</div>

