<%# <% content_for(:name, @sub_user.sub_name) %> 
<div class="max767-container"> 
  <div class="user-show-space">

  <div class="user-show-name-contents">
      <span class="list-title">
        <span class="light-blue-text">スペース</span>
        <%# <span class="purple-text">N</span>ame<br> %>
      </span>
      <span class="sub-name-text f-text"><%= @space.space_name %></span>
    </div>
    <%# <h1 class="section-title user-show-contents">
      <span class="light-blue-text">S</span>ub <span class="red-text">T</span>hing</span>
    </h1> %>
    <div class="user-icon-frame">

      <div id="reactLordSpaceCanvas" data-space-id="<%= @space.id %>" data-canvas-data="<%= @space.space_canvas %>"></div>

    </div>

    <div class="content motto-miru user-show-comment-contents">
      <span class="comment-text"><i class="bi bi-tag-fill"></i>コメント</span>
      <% text = @space.space_text.present? ? @space.space_text : 'No Comment' %>
      <% lines = text.split("\n") %>
      <% preview_text = lines.first(3).join("\n") %>
      <% preview_text = preview_text.length > 80 ? preview_text.first(80) : preview_text %>
      <% if text.length > 80 or lines.length > 3 %>
        <span class="default-view">
          <%= simple_format(preview_text + '。。。') %>
        </span>
        <span class="hidden-view" style="display: none;">
          <%= simple_format text %>
        </span>
        <div class="toggle-view">もっと見る</div>
      <% else %>
        <span>
          <%= simple_format text %>
        </span>
      <% end %>
    </div>


    <div class="flex-between user-show-botann">


      <%= link_to edit_space_path(@space), class: 'balloon-botann' do %>  
        <div>
          <i class="bi bi-pen-fill pen-fill-icon"></i>
        </div>
        <div class="balloon-botann-text">
          Edit<br>
          Space
        </div>
      <% end %>  

    </div>
  </div>

  <div>
    <%= link_to confirm_delete_space_path(@space), class: "trash-botann" do %>
    <div>
      <i class="bi bi-trash-fill trash-icon"></i>
    </div>
    <div class="trash-icon-text">
      Delete<br>
      Space？
    </div>
    <% end %>
  </div> 
</div>