<%# <% content_for(:name, @sub_user.sub_name) %> 
<% profile = current_user.profile if user_signed_in? %>
<div class="p5canvas-container how-to-use-container" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

<div class="info-container flex-column">

  <div class="top-page-logo-none info-wave-logo"><%= image_tag('wave-half.png', alt: '円形の波のアイコン', class: "top-wave-logo") %></div>





  <div class="space-show-space">

    <div class="user-show-name-contents">
      <span class="list-title">
        <span class="orange-text">Screen</span>
        <%# <span class="purple-text">N</span>ame<br> %>
      </span>
      <span class="sub-name-text f-text"><%= @space.space_name.present? ? @space.space_name : 'No Name' %></span>
    </div>

    <div class="space-show-frame">
      <img src="<%= @space.space_canvas %>" alt="Canvas Image" style="width: 100%; height: 100%; object-fit: contain;" class="space-show-imageicon">
    </div>

    <div class="content motto-miru user-show-comment-contents">
      <span class="comment-text"><i class="bi bi-tag-fill"></i>コメント</span>
      <% text = @space.space_text.present? ? @space.space_text : 'No Comment' %>
      <% lines = text.split("\n") %>
      <% preview_text = lines.first(3).join("\n") %>
      <% preview_text = preview_text.length > 80 ? preview_text.first(80) : preview_text %>
      <% if text.length > 80 or lines.length > 3 %>
        <span class="default-view">
          <%= simple_format(preview_text + '。。。') %>
        </span>
        <span class="hidden-view" style="display: none;">
          <%= simple_format text %>
        </span>
        <div class="toggle-view">もっと見る</div>
      <% else %>
        <span>
          <%= simple_format text %>
        </span>
      <% end %>
    </div>

    <div class="flex-between user-show-botann">

      <%= link_to edit_space_path(@space), class: 'balloon-botann' do %>  
        <div>
          <i class="bi bi-pen-fill pen-fill-icon"></i>
        </div>
        <div class="balloon-botann-text">
          Edit<br>
          Space
        </div>
      <% end %>  
    </div>
  </div>

  <div>
    <%= link_to confirm_delete_space_path(@space), class: "trash-botann" do %>
    <div>
      <i class="bi bi-trash-fill trash-icon"></i>
    </div>
    <div class="trash-icon-text">
      Delete<br>
      Space？
    </div>
    <% end %>
  </div> 
</div>
</div>