
<header>
  <div class='header-design'>
    <div class='header-layout'>

      <div>
        <%= link_to '/', class: 'app-logo' do %>
          <span class='f-text'>F</span>low 
          <span class='t-text'>T</span>hing
        <% end %>
      </div>
    

  
      <div>
        <ul class='nav-contents'>
          <li  class="user-dropdown">
              <button class='user-dropdown-btn' data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle light-blue-text header-icon-pen"></i>
              </button>

            <div class='user-dropdown-body dropdown-menu dropdown-menu-end'>
              <ul class='user-dropdown-list'>
                <li class='user-dropdown-item'><%= link_to 'Flow Thing', flow_sample_path, class: 'user-dropdown-link' %></li>
                <li class='user-dropdown-item'><%= link_to 'Sub Thing', sub_sample_path, class: 'user-dropdown-link' %></li>
                <%# <li class='user-dropdown-item'><%= link_to 'エピソード', episode_sample_path, class: 'user-dropdown-link' %>
                <%# <li class='user-dropdown-item'><a href="#" class='user-dropdown-link'>サブユーザーに切り替え</a></li> %>
                <%# <li class='user-dropdown-item'><%= link_to '掲示板', boards_path, class: 'user-dropdown-link' %> 
                <li class='user-dropdown-item'><%= link_to '新規登録', sign_up_path, class: 'user-dropdown-link' %></li>
              <ul>
            </div>

          </li>

          <li>
            <%= link_to new_sample_path do %>
              <div class="header-button header-button:hover">
                <i class="bi bi-pencil-square header-icon-pen"></i>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
