<header>
  <div class='header-design'>

    <div class='header-layout'>


      <div>
        <%= link_to '/', class: 'app-logo' do %>

        <div><%= image_tag('flowthing_logo6.png', alt: 'ロゴ', class: "logo-image") %></div>
<%# 
      <div class="flex flex-animated-text logo-transform-header">
        <div class="flex-between flex-animated-text-absolute logo-blur-05">
          <div class="animated-text">
            <span class='zen-antique logo-setting'>F</span>
            <span class='sawarabi-mincho logo-setting'>l</span>
            <span class="logo-setting">o</span>
            <span class='dotgothic16'>w</span>

            <span class='potta-one logo-setting-t logo-setting'>T</span>
            <span class='rocknroll-one logo-setting-hi'>h</span>
            <span class='yuji-mai logo-setting-hi'>i</span>
            <span class='yuji-syuku logo-setting-n'>n</span>
          </div>
          <div class="mirror-horizontal animated-text-hanntenn"><p class='slackside-one'>g</p></div>
        </div>

        <div class="flex-between logo-blur-15">
          <div class="animated-text">
            <span class='zen-antique logo-setting'>F</span>
            <span class='sawarabi-mincho logo-setting'>l</span>
            <span class="logo-setting">o</span>
            <span class='dotgothic16'>w</span>

            <span class='potta-one logo-setting-t logo-setting'>T</span>
            <span class='rocknroll-one logo-setting-hi'>h</span>
            <span class='yuji-mai logo-setting-hi'>i</span>
            <span class='yuji-syuku logo-setting-n'>n</span>
          </div>
          <div class="mirror-horizontal animated-text-hanntenn"><p class='slackside-one'>g</p></div>
        </div>
      </div> %>
        <% end %>
      </div>
    

  
      <div>
        <ul class='nav-contents'>


          <li class="header-explanation-none">
            <%= link_to '使い方', login_path, class: "text-Rounded500 header-text-Rounded500" %>
          </li>

          <li class="header-explanation-none">
            <%= link_to 'ツール', login_path, class: "text-Rounded500 header-text-Rounded500" %>
          </li>

          <li class="header-explanation-none">
            <%= link_to 'アイデア', login_path, class: "text-Rounded500 header-text-Rounded500" %>
          </li>


          <li class="header-main-none">
            <%= link_to 'Flow Thing', items_path, class: "text-Rounded500 header-text-Rounded500" %>
          </li>

          <li class="header-main-none">
            <%= link_to 'Sub Thing', sub_users_path, class: "text-Rounded500 header-text-Rounded500" %>
          </li>

          <li class="header-main-none">
            <%= link_to 'Screen', spaces_path, class: "text-Rounded500 header-text-Rounded500" %>
          </li>

          <li class="header-main-none">
            <%= link_to 'Flux Screen', composites_path, class: "text-Rounded500 header-text-Rounded500" %>
          </li>

          <li  class="user-dropdown">

            <% if current_user && current_user.profile %>
              <% profile = current_user.profile %>
              <button class='user-dropdown-btn' data-bs-toggle="dropdown" aria-expanded="false">
                <% if profile.image_icon.present? %>
                  <%= image_tag profile.image_icon.url, class: "user-headericon" %>
                <% elsif profile.color_code.present? %>
                  <div style="background-color: <%= profile.color_code %>;" class="user-headericon">
                  <%= image_tag('small_chara_icon.png', alt: '新規登録ボタンのアイコン', class: "userdefault-icon-header") %>
                  </div>
                <% else %>
                  <i class="bi bi-person"></i>
                <% end %>
              </button>
            <% end %>

            <div class='user-dropdown-body dropdown-menu dropdown-menu-end'>
              <ul class='user-dropdown-list'>
                <% if @profile.present? && !@profile.new_record? %>
                  <li class='user-dropdown-item'><%= link_to 'プロフィール', profile_path(@profile), class: 'user-dropdown-link' %></li>
                <% end %>
                <li class='user-dropdown-item header-mainlist-none'><%= link_to 'Flow Thing', items_path, class: 'user-dropdown-link' %></li>
                <li class='user-dropdown-item header-mainlist-none'><%= link_to 'Sub Thing', sub_users_path, class: 'user-dropdown-link' %></li>
              
                <li class='user-dropdown-item header-mainlist-none'><%= link_to 'Screen', spaces_path, class: 'user-dropdown-link' %></li>
                <li class='user-dropdown-item header-mainlist-none'><%= link_to 'Flux Screen', composites_path, class: 'user-dropdown-link' %></li>
                <%# <li class='user-dropdown-item'><a href="#" class='user-dropdown-link'>サブユーザーに切り替え</a></li> %>
                <li class='user-dropdown-item'><%= link_to '掲示板', boards_path, class: 'user-dropdown-link' %></li>

                
                <li class='user-dropdown-item header-hamburger-btn'><%= link_to '使い方', login_path, class: 'user-dropdown-link' %>
                <li class='user-dropdown-item header-hamburger-btn'><%= link_to 'ツール', login_path, class: 'user-dropdown-link' %>
                <li class='user-dropdown-item header-hamburger-btn'><%= link_to 'アイデア', login_path, class: 'user-dropdown-link' %> 

                <li class='user-dropdown-item'><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: 'user-dropdown-link' %></li>
              <ul>
            </div>

          </li>

          <li>
            <%= link_to usersselect_path do %>
              <div class="header-button header-button:hover">
                <i class="bi bi-pencil-square header-icon-pen"></i>
              </div>
            <% end %>
          </li>

          <%# <li class="room-dropdown">
            <div class='room-container'>
              <button class='room-dropdown-btn' data-bs-toggle="dropdown" aria-expanded="false">
                <span>他のroomへ<i class="bi bi-door-open-fill"></i></span>
              </button>
              <div class="room-dropdown-body dropdown-menu dropdown-menu-end">
                <ul class='room-dropdown-list'>
                  <li class='room-dropdown-item'><a href="#" class='room-dropdown-link'>roomの表示</a></li>
                  <li class='room-dropdown-item'><a href="#" class='room-dropdown-link'>roomを追加</a></li>
                <ul>
              </div>
            </div>
          </li> %>

        </ul>
      </div>
    </div>
  </div>
</header>