
<div class="max767-container">
  <div class="board-form">
    <%= f.label t('.title') %><span class="red-text"> <%= t('.contents_note') %></span>
    <%= f.text_field :board_title, class: "form-control board-item-form", id: "board_title" %>
  </div>

  <div>
    <%= f.label t('.text') %><span class="red-text"> <%= t('.contents_note') %></span>
    <%= f.text_area :board_text, class: "form-control board-item-form", row: 10, style: "height: 200px", id: "board_text" %>
  </div>
</div>
