
<% content_for(:title, t('.title')) %>

<% profile = current_user.profile if user_signed_in? %>
<div class="p5canvas-container how-to-use-container" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

  <div class="info-container flex-column">

    <div class="top-page-logo-none info-wave-logo"><%= image_tag('wave-half.png', alt: '円形の波のアイコン', class: "top-wave-logo") %></div>
    <div class="delete-card" style="margin-top: 2rem;">
      <div class="delete-background flex-start-start-flex-center">
        <div class="flex-column">
          <h1>
            <h2><%= @board.board_title %></h2>
            
            <% if @board.item %>
              <% case @board.item.image_choice %>
              <% when 'item_image' %>
                <%= image_tag @board.item.item_image.url, class: "user-profileicon" %>
              <% when 'item_canvas' %>
                <img src="<%= @board.item.item_canvas %>" alt="Canvas Image" style="object-fit: contain;" class="user-profileicon" >
              <% else %>
                <div class="no-image-icon">No Image</div>
              <% end %>
            <% end %>
          </h1>
          <p style="font-size: 1rem;">本当にこのSub Thingを削除しますか？</p>
          <p class="red-text" style="text-align: start;">※Sub Thingを削除すると関連するFlow Thingも全て削除されます。<br>このSub ThingのFlow ThingをFlux Screenに配置していた場合、そのFlow Thingも削除されます。</p>
          <div class="flex-between" style="width: 20rem;">
            <div>
            <%= link_to 'キャンセル', boards_path %>
            </div>
            <div>
              <%= link_to '削除する', board_path(@board), id: "button-delete-#{@board.id}", class: "delete-memo-link", data: { turbo_method: :delete, turbo_confirm: t('boards.board.delete_confirm') } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

