<% content_for(:title, t('.title')) %>
<div class="max767-container">
  <h1 class="board-section-title">
    Free 掲示板一覧
  </h1>
  <div class="btn-search">
    <div>
      <%= link_to 'Question', question_boards_path, class: "board-btn" %>
    </div>
    <div>
    <%= link_to new_board_path do %>
      <div class="board-btn">
        <span>掲示板を作成</span>
      </div>
    <% end %>
  </div>
    <div>
    <% if user_signed_in? %>
      <%= link_to 'My Boards', myboards_list_boards_path, class: "board-btn" %>
    <% end %>
    </div>
  </div>
<% @free_boards.each do |board| %>
  <%= render 'board', board: board %>
<% end %>

<%= paginate @free_boards %>
</div>