<% content_for(:title, t('.title')) %>
<div class="max767-container">
  <div>
      <%= link_to '掲示板', boards_path, class: 'board-btn' %>
    </div>
  <article id="board<%= @board.id %>" class="board-show-container">
    <h3><%= @board.board_title %></h3>
    <p><%= @board.comments_count %> comments</p>
    <p><%= @board.board_text %></p>
    
    <% if @board.item %>
      <% case @board.item.image_choice %>
      <% when 'item_image' %>
        <%= image_tag @board.item.item_image.url, class: "user-profileicon" %>
      <% when 'item_canvas' %>
        <div class="canvas-container-parent">
          <canvas class="board-item-showfabric" id="itemCanvas_<%= @board.item.id %>" data-canvas-json='<%= @board.item.item_canvas.to_json.html_safe %>'></canvas>
        </div>
      <% else %>
        <div class="no-image-icon">No Image</div>
      <% end %>
    <% end %>
  </article>


    <%= render 'comments/form', comment: @comment, board: @board %>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <table class="table">
          <tbody id="table-comment">
            <%= render @comments %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


