<div class="edititemform">
<div id="itemimagePreview"></div>

  <div id="fabricSwitchItem">
    <!-- 描画ツール  -->
    <div id="canvas-making-21">
      <div class="dropzone" id="dropzone-21">
        <div class="canvas-container-parent">
          <% if item.image_choice.present? %>
            <% case item.image_choice %>
              <% when 'item_image' %>
                <% if item.item_image.present? %>
                  <canvas id="iconmakingCanvas-21" class="myCanvas" width="400" height="400"></canvas>
                <% end %>
              <% when 'item_canvas' %>
              <div id="editModeId">
                <canvas id="iconmakingCanvas-21" class="myCanvas" width="400" height="400" data-canvas-json='<%= item.item_canvas.to_json.html_safe %>'></canvas>
              </div>
              <% else %>
                <canvas id="iconmakingCanvas-21" class="myCanvas" width="400" height="400"></canvas>
            <% end %>
          <% end %>
        </div>

        <div class="draggable" id="colorPalette-21">
          <div class="icon-palletbox">
            <div class="tool-title"><span>ツール</span></div>
            <div class="undo-redo flex-between">
              <div id="undo-21" class="pain-button"><i class="bi bi-reply-fill"></i></div>
              <div id="redo-21" class="bi-reply-fill-right pain-button"><i class="bi bi-reply-fill"></i></div>
              <div id="delete-21" class="draw disabled-input pain-button"><i class="bi bi-trash3-fill"></i></div>
              <div id="colorPreview-21" class="colorpreview"></div>
            </div>
            <div id="picker-21" class="pickertool"></div>
            
            <div class="pallettool flex-between">
              <div id="usePenTool-21" class="pain-button">
                <i class="bi bi-pencil-fill"></i>
              </div>
              <div id="useEraserTool-21" class="pain-button">
                <i class="bi bi-eraser-fill"></i>
              </div>
              <div id="editMode-21" class="draw pain-button">
                <i class="bi bi-box-arrow-in-up-left"></i>
              </div>
              <div id="useTextTool-21" class="pain-button">
                <i class="bi bi-fonts"></i>
              </div>
            </div>

            <div class="pallettool-special flex-between">
              <div class="palletBox specialColorBox" id="blackBox-21"></div>
              <div class="palletBox specialColorBox" id="whiteBox-21"></div>
              <div id="dropperColorMode-21" class="pain-button"><i class="bi bi-eyedropper"></i></div>
              <div id="selectColorMode-21" class="pain-button"><i class="bi bi-palette"></i></div>
              <div id="deleteColorMode-21" class="pain-button"><i class="bi bi-x-circle-fill"></i></div>
            </div>
            <div class="pallettool-free">
              <div class="freepalletBox"><div class="palletBox" id="palletbox1-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox2-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox3-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox4-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox5-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox6-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox7-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox8-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox9-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox10-21"></div></div>
            </div>
            <div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox11-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox12-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox13-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox14-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox15-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox16-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox17-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox18-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox19-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox20-21"></div></div>
            </div>
            <div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox21-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox22-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox23-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox24-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox25-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox26-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox27-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox28-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox29-21"></div></div>
              <div class="freepalletBox"><div class="palletBox" id="palletbox30-21"></div></div>
            </div>
          </div>
        </div>
      
        <div class="draggable" id="tool-custom-21">
          <div class="toolsize-title"><span>サイズ</span></div>
          <div id="sizeControl-21" class="tool-custom">
            <div class="flex-between tool-group">
              <div class="sizeBtn" data-size="0.3"><div><i class="bi bi-circle-fill" style="font-size: 0.3px;"></i></div><div>0.3</div></div>
              <div class="sizeBtn" data-size="0.5"><div><i class="bi bi-circle-fill" style="font-size: 0.5px;"></i></div><div>0.5</div></div>
              <div class="sizeBtn" data-size="1"><div><i class="bi bi-circle-fill" style="font-size: 1px;"></i></div><div>1</div></div>
              <div class="sizeBtn" data-size="1.5"><div><i class="bi bi-circle-fill" style="font-size: 1.5px;"></i></div><div>1.5</div></div>
              <div class="sizeBtn" data-size="2"><div><i class="bi bi-circle-fill" style="font-size: 2px;"></i></div><div>2</div></div>
            </div>
            <div class="flex-between tool-group">
              <div class="tool-group-special">
              <div class="sizeBtn" data-size="3"><div><i class="bi bi-circle-fill" style="font-size: 3px;"></i></div><div>3</div></div>
              <div class="sizeBtn" data-size="5"><div><i class="bi bi-circle-fill" style="font-size: 5px;"></i></div><div>5</div></div>
              <div class="sizeBtn" data-size="7"><div><i class="bi bi-circle-fill" style="font-size: 7px;"></i></div><div>7</div></div>
              </div>
              <div class="brushsize-form"><input type="number" id="brushSizeForm-21" min="0.1" max="100" step="0.1" value="1"><span>px</span></div>
            </div>
            <div class="flex-between tool-group">
              <div class="fontsize-form">テキストサイズ：<input type="number" id="fontSizeForm-21" min="10" max="100" value="20"><span>px</span></div>
            </div>
          </div>
        </div>

        <div class="draggable" id="shapes-tool-21">
            <div class="toolsize-title"><span>図形</span></div>
            <div class="icon-palletbox shapes-tool">
              <div class="pallettool flex-between">
                <div>
                  <div id="useRectangleTool-21" class="pain-button">
                    <i class="bi bi-square"></i>
                  </div>
                </div>
                <div>
                  <div id="drawCircleTool-21" class="pain-button">
                    <i class="bi bi-circle"></i>
                  </div>
                </div>

                <div>
                  <div id="drawTriangleTool-21" class="pain-button">
                    <i class="bi bi-triangle"></i>
                  </div>
                </div>

                <div id="drawLineTool-21" class="pain-button"><i class="bi bi-slash-lg"></i></div>
                <div class="form-tool">
                  <label for="cornerRadiusInput-21"><i class="bi bi-bounding-box-circles"></i></label>
                  <input type="number" id="cornerRadiusInput-21" min="0" max="20" step="1" value="0" width="50">
                </div>

                <div class="form-tool">
                  <label for="fillCheckbox-21"><i class="bi bi-back"></i></label>
                  <input type="checkbox" id="fillCheckbox-21" checked>
                </div>

                <div class="form-tool">
                  <label for="strokeCustomInput-21"><i class="bi bi-border-width"></i></label>
                  <input type="number" id="strokeCustomInput-21" min="0" max="20" step="1" value="2" width="50">
                </div>

                <div class="form-tool">
                  <label for="opacitySlider-21"><i class="bi bi-snapchat"></i></label>
                  <input type="number" id="opacitySlider-21" min="0" max="100" step="1" value="100" width="50">
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>


  <div class="flex-between user-createform">
    <div class="sub-image-container subuser-disabled" id="itemImageInput">
        <label for="itemImage">
          <input type="radio" name="inputItem" value="item_image" id="itemImage" class="custom-radio">
          <%= f.label :item_image, t('items.form.item_image') %>
          <%= f.file_field :item_image, class: "form-control", accept: 'image/*', id: "item_image" %>
        </label>
      </div>

      <div class="subuser-disabled sub-canvas-container" id="itemCanvasInput">
        <i class="bi bi-brush brush-icon"></i>
        <label for="itemCanvas" class="balloon-botann-text">
          <input type="radio" name="inputItem" value="item_canvas" id="itemCanvas" class="custom-radio">
          <%= f.label :item_canvas, t('items.form.item_canvas') %>
          <%= f.hidden_field :item_canvas, id: "item_canvas" %>
        </label>
      </div>
    </div>
  </div>

  <div class="user-createform">
    <div class="user-createform-text">
      <label for="iconItemChoice"><%= t('items.form.image_choice') %></label><br>
      <select id="iconItemChoice" name="dummy_image_choice">
        <option value="no_image" selected><%= t('items.form.no_image') %></option>
        <option value="item_image"><%= t('items.form.item_image') %></option>
        <option value="item_canvas"><%= t('items.form.item_canvas') %></option>
      </select>
      <%= f.hidden_field :image_choice, id: "image_choice" %>
    </div>
    <span class="red-text"><%= t('items.form.contents_note_icon') %></span>
    <div class="user-createform-text">
      <%= f.label :item_name, t('items.form.item_name') %>
      <%= f.text_field :item_name, class: "form-control", id: "item_name" %>
    </div>
    <div class="user-createform-text">
      <%= f.label :item_text, t('items.form.item_text') %>
      <%= f.text_area :item_text, class: "form-control", row: 10, style: "height: 200px" %>
    </div>
    <div class="user-createform-text">
        <%= f.label :item_place, t('items.form.item_place') %>
        <%= f.text_field :item_place, class: "form-control" %>
    </div>
    <div class="user-createform-text">
        <%= f.label :episode, t('items.form.episode') %><span class="red-text"> <%= t('items.form.contents_note') %></span>
        <%= f.text_area :episode, class: "form-control", row: 10, style: "height: 200px", id: "episode" %>
    </div>
</div>