<article id="item_<%= item.id %>", class="item-card-container <%= container_class_for_items_count(item.sub_user.items_count) %> <%= blur_class_for_last_accessed(item.sub_user) %>">
    <details class="details-box">
      <summary class="item-summary-style"><%= item.item_name.present? ? item.item_name : '---' %></summary>
      <span><%= item.updated_at.strftime("%Y年%m月%d日 %H:%M") %></span>
    </details>
    <section class="item-objectbox">

      
      <div class="icon-object">
        <%= link_to item_path(item) do %>
          <% if item.image_choice.present? %>
            <% case item.image_choice %>
              <% when 'item_image' %>
                <% if item.item_image.present? %>
                  <div class="myCanvas-icon"><%= image_tag item.item_image.url, class: "user-profileicon" %></div>
                <% end %>
              <% when 'item_canvas' %>
              <div class="back-white">

<img src="<%= item.item_canvas %>" alt="Canvas Image" style="object-fit: contain;" class="user-profileicon">

                  
                  </div>

              <% else %>
                <div class="no-image-icon">No Image</div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      

      <div class="item-flex">
        <div class="icon-scale">
        <i class="bi bi-stars flying-star"></i>
          <%= link_to sub_user_path(item.sub_user) do %>
            <% sub_user = item.sub_user %>
            <% if sub_user.icon_choice.present? %>
              <% case sub_user.icon_choice %>
              <% when 'sub_image' %>
                  <!-- sub_image の内容を表示 -->
                  <% if sub_user.sub_image.present? %>
                      <%= image_tag sub_user.sub_image.url, class: "user-itemlist-icon user-action-icon" %>
                  <% end %>
              <% when 'sub_canvas' %>
                  <!-- sub_canvas の内容を表示 -->

                  <div class="back-white user-action-icon">

<img src="<%= sub_user.sub_canvas %>" alt="Canvas Image" style="object-fit: contain;" class="user-itemlist-icon user-action-icon"></div>

              <% when 'sub_color' %>
                  <!-- sub_color の内容を表示 -->
                  <div style="background-color: <%= sub_user.sub_color %>;" class="user-itemlist-icon user-action-icon"></div>
              <% else %>
                  <div class="no-image-icon">No Image</div>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="pencil-fill-space">
          <%= link_to edit_item_path(item, sub_user_id: item.sub_user_id) do %>
            <i class="bi bi-pencil-fill pencil-fill-font"></i>
          <% end %>
        </div>

        <div class="pencil-fill-space">
          <%= link_to item_path(item), class: "delete-memo-link", data: { turbo_method: :delete, turbo_confirm: t('items.item.delete_confirm') } do %>
            <i class="bi bi-trash-fill trash-fill-font"></i>
          <% end %>
        </div> 
      </div> 
    </section>
</article>
