<div class="max1280-container">
  <h1 class="section-title">
    <span class="red-text">編集</span>
  </h1>


  <div id="reactEditItemCanvas"
    data-user-id="<%= @sub_user.id %>"
    data-item-id="<%= @item.id %>"

    data-canvas-data="<%= @item.item_canvas %>"
    data-canvas-save-data="<%= @item.item_save_canvas %>"


    data-item-name="<%= @item.item_name %>"
    data-item-text="<%= @item.item_text %>"


    data-item-choice="<%= @item.image_choice %>"
    data-item-episode="<%= @item.episode %>"

    data-item-place="<%= @item.item_place %>"
  >
  </div>

</div>

