
<% content_for(:title, t('.title')) %>
<div class="max1280-container">
  <div>
    <h1 class="section-title">
      <span class="red-text">編集</span>
    </h1>


    <h2 class="section-title">
      <span class="f-text">F</span>low <span class="t-text">T</span>hing</span>
    </h2>
    <%= form_with model: @item, id: 'item_create_form', multipart: true, data: { turbo: false }, html: { onsubmit: 'return false;' } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :sub_user_id, value: @sub_user.id %>
  
      <%= render 'form_edit', f: f, item: @item %>
      
      
      <div class="user-createform">
      
        <%= f.submit "データ送信", class: "btn btn-success", id: "submit-button", type: 'button' %>
      </div>
    <% end %>
  </div> 
</div>