
<% content_for(:title, t('.title')) %>

<% profile = current_user.profile if user_signed_in? %>
<div class="p5canvas-container how-to-use-container" style="background-color: <%= user_signed_in? && profile && profile.color_code ? profile.color_code : '#acd3dd' %>;">

  <div class="info-container flex-column">
    <div class="top-page-logo-none info-wave-logo"><%= image_tag('wave-half.png', alt: '円形の波のアイコン', class: "top-wave-logo") %></div>
    <div class="item-show-space">
      <div class="user-show-name-contents">
        <div class="section-title">
          <span class="f-text">F</span>low <span class="t-text">T</span>hing</span>
        </div>

        <span class="f-text sub-name-text text-Rounded"><%= @item.item_name.present? ? @item.item_name : 'No Name' %></span>
      </div>

      <div class="item-icon-frame">
        <% if @item.image_choice.present? %>
          <% case @item.image_choice %>
            <% when 'item_image' %>
              <% if @item.item_image.present? %>
                <%= image_tag @item.item_image.url, class: "item-show-imageicon" %>
              <% end %>
            <% when 'item_canvas' %>
              
                <img src="<%= @item.item_canvas %>" alt="Canvas Image" style="object-fit: contain;" class="item-show-imageicon">
            
            <% else %>
              <div class="no-image-icon">No Image</div>
          <% end %>
        <% end %>
      </div>

      <div class="content motto-miru user-show-comment-contents">
        <div>
          <span class="comment-text-show"><i class="bi bi-calendar"></i>日時</span><br>
          <span class="comment-text-show-text">作成日時：<%= @item.created_at.strftime("%Y年%m月%d日 %H:%M") %></span><br>
          <span class="comment-text-show-text">最終更新日：<%= @item.updated_at.strftime("%Y年%m月%d日 %H:%M") %></span><br>
        </div>
        <div style="margin-top: 0.5rem">
          <span class="comment-text-show"><i class="bi bi-aspect-ratio"></i>サイズ</span><br>
          <% if @item.canvas_size.present? %>
            <% canvas_size = JSON.parse(@item.canvas_size) %>
            <span class="comment-text-show-text">幅：<%= canvas_size['width'] %>px　／　高さ：<%= canvas_size['height'] %>px</span>
          <% else %>
            <span class="comment-text-show-text">幅：400px　／　高さ：400px</span>
          <% end %>
        </div>
      </div>

      <div class="content motto-miru user-show-comment-contents">
        <span class="comment-text"><i class="bi bi-tag-fill"></i>コメント</span>
        <% text = @item.item_text.present? ? @item.item_text.to_s : 'No Comment' %>
        <% lines = text.split("\n") %>
        <% preview_text = lines.first(3).join("\n") %>
        <% preview_text = preview_text.length > 80 ? preview_text.first(80) : preview_text %>
        <% if text.length > 80 or lines.length > 3 %>
          <span class="default-view">
            <%= simple_format(preview_text + '。。。') %>
          </span>
          <span class="hidden-view" style="display: none;">
            <%= simple_format text %>
          </span>
          <div class="toggle-view">もっと見る</div>
        <% else %>
          <span>
            <%= simple_format text %>
          </span>
        <% end %>
      </div>

      <div class="content motto-miru user-show-comment-contents">
        <span class="comment-text"><i class="bi bi-house"></i>場所</span>
        <% text = @item.item_place.present? ? @item.item_place : 'none' %>
        <% lines = text.split("\n") %>
        <% preview_text = lines.first(3).join("\n") %>
        <% preview_text = preview_text.length > 80 ? preview_text.first(80) : preview_text %>
        <% if text.length > 80 or lines.length > 3 %>
          <span class="default-view">
            <%= simple_format(preview_text + '。。。') %>
          </span>
          <span class="hidden-view" style="display: none;">
            <%= simple_format text %>
          </span>
          <div class="toggle-view">もっと見る</div>
        <% else %>
          <span>
            <%= simple_format text %>
          </span>
        <% end %>
      </div>

      <div class="content motto-miru user-show-comment-contents">
        <span class="comment-text"><i class="bi bi-film"></i>エピソード</span>
        <% text = @item.episode.present? ? @item.episode : 'No Episode' %>
        <% lines = text.split("\n") %>
        <% preview_text = lines.first(3).join("\n") %>
        <% preview_text = preview_text.length > 80 ? preview_text.first(80) : preview_text %>
        <% if text.length > 80 or lines.length > 3 %>
          <span class="default-view">
            <%= simple_format(preview_text + '。。。') %>
          </span>
          <span class="hidden-view" style="display: none;">
            <%= simple_format text %>
          </span>
          <div class="toggle-view">もっと見る</div>
        <% else %>
          <span>
            <%= simple_format text %>
          </span>
        <% end %>
      </div>
          
      <div class="sub-user-space">
        <% if @sub_user.icon_choice.present? %>
          <%= link_to sub_user_path(@item.sub_user) do %>
          <div class="item-link-btn">
            <div class="list-title">
              <span class="light-blue-text">S</span>ub <span class="red-text">T</span>hing</span>
            </div>

            <div class="user-icon-frame-small">
              <% case @sub_user.icon_choice %>
                <% when 'sub_image' %>
                  <!-- sub_image の内容を表示 -->
                  <% if @sub_user.sub_image.present? %>
                    <%= image_tag @sub_user.sub_image.url, class: "item-icon-small" %>
                  <% end %>
                <% when 'sub_canvas' %>
                  <div class="canvas-container-parent">
                    <div class="back-white">
                      <img src="<%= @sub_user.sub_canvas %>" alt="Canvas Image" style="object-fit: contain;" class="item-icon-small">
                    </div>
                  </div>
                <% when 'sub_color' %>
                  <div style="background-color: <%= @sub_user.sub_color %>;" class="item-icon-small"></div>
                <% else %>
                  <p>アイコンは設定されていません。</p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="flex-between user-show-botann">
        <%= link_to new_canvas_item_path(sub_user_id: @sub_user.id), class: 'balloon-botann' do %>
          <div>
            <i class="bi bi-balloon-fill balloon-icon balloon-action"></i>
          </div>
          <div class="balloon-botann-text">
            New<br>
            Flow Thing
          </div>
        <% end %>

        <% if @item.image_choice.present? %>
          <% case @item.image_choice %>
          <% when 'item_image' %>
            <% if @item.item_image.present? %>
              <%= link_to edit_item_path(sub_user_id: @sub_user.id), class: 'balloon-botann' do %>  
                <div>
                  <i class="bi bi-pen-fill pen-fill-icon"></i>
                </div>
                <div class="balloon-botann-text">
                  Edit<br>
                  Flow Thing
                </div>
              <% end %> 
            <% end %>

          <% when 'item_canvas' %>
            <%= link_to canvas_edit_item_path(id: @item.id, sub_user_id: @sub_user.id), class: 'balloon-botann' do %>  
              <div>
                <i class="bi bi-pen-fill pen-fill-icon"></i>
              </div>
              <div class="balloon-botann-text">
                Edit<br>
                Flow Paint
              </div>
            <% end %>

          <% else %>
            <%= link_to edit_item_path(sub_user_id: @sub_user.id), class: 'balloon-botann' do %>  
              <div>
                <i class="bi bi-pen-fill pen-fill-icon"></i>
              </div>
              <div class="balloon-botann-text">
                Edit<br>
                Flow Thing
              </div>
            <% end %> 
          <% end %>
        <% end %>

        <%= link_to item_new_board_boards_path(item_id: @item.id), class: "balloon-botann" do %>
          <div>
            <i class="bi bi-send-fill send-icon"></i>
          </div>
          <div class="balloon-botann-text">
            Item<br>
            Question
          </div>
        <% end %>
      </div>
    </div> 
    <div>
      <%= link_to item_path(@item), class: "trash-botann", data: { turbo_method: :delete, turbo_confirm: t('.delete_confirm') } do %>
        <div>
          <i class="bi bi-trash-fill trash-icon"></i>
        </div>
        <div class="trash-icon-text">
          Delete<br>
          Flow Thing？
        </div>
      <% end %>
    </div>
  </div>
</div>